<terrama2-box title="i18n.__('Storage Registration')" handler="serviceX" helper="'{[ BASE_URL ]}helper/add_storage.html'">
    <div class="overlay overlay-dcps" ng-show="$ctrl.isLoading">
        <i class="fa fa-refresh fa-spin" style="position: fixed !important;"></i>
    </div>

    <terrama2-alert-box2 handler="$ctrl.MessageBox.alertBox" close="$ctrl.closeBox()"></terrama2-alert-box2>
    <terrama2-box title="i18n.__('General Data')" css="css">
      <div class="col-md-12 terrama2-nopadding-box ng-scope">
        <form name="$ctrl.storageForm">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Name") }}:</label>
                    <input class="form-control"
                            name="name"
                            ng-model="$ctrl.storage.name"
                            placeholder="{{ i18n.__('Name') }}"
                            type="text" required>

                    <span class="form-control-feedback glyphicon" ng-show="$ctrl.storageForm.name.$dirty" ng-class="{'glyphicon-ok': $ctrl.storageForm.name.$valid, 'glyphicon-remove': $ctrl.storageForm.name.$invalid }"></span>

                    <span class="help-block" ng-show="$ctrl.storageForm.name.$dirty && $ctrl.storageForm.name.$error.required">{{ i18n.__('Name is required') }}</span>
                    <span class="help-block" ng-show="$ctrl.storageForm.name.$error.terrama2Error">
                        {{ i18n.__("Storage") + " " + serverErrors.name.message }}
                    </span>
                    </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <div class="checkbox">
                      <label style="font-weight: 700;">
                        <input type="checkbox" name="redefine" ng-model="$ctrl.storage.active"> {{ i18n.__("Active") }}
                      </label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Description") }}:</label>
                    <textarea name="description" class="form-control" ng-model="$ctrl.storage.description" ></textarea>
                    <span class="form-control-feedback glyphicon" ng-show="$ctrl.storageForm.description.$dirty" ng-class="{'glyphicon-ok': $ctrl.storageForm.description.$valid, 'glyphicon-remove': $ctrl.storageForm.description.$invalid }"></span>
                    <span class="help-block" ng-show="$ctrl.storageForm.description.$dirty && $ctrl.storageForm.description.$error.required">{{ i18n.__('Description is required') }}</span>
                    <span class="help-block" ng-show="$ctrl.storageForm.description.$error.terrama2Error">
                        {{ i18n.__("Storage") + " " + serverErrors.description.message }}
                    </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Dynamic/Analysis data") }}:</label>

                    <ui-select name="dynamicAnalysisData"
                               ng-model="$ctrl.storage.data_series_id"
                               ng-change="$ctrl.changeDataSeries($ctrl.storage.data_series_id)"
                               required>
                        <ui-select-match>
                            <img ng-src="{{ $ctrl.getDataSeriesIcon($select.selected, $select) }}" style="max-width: 20px; height: 20px; margin-top: -9px"/>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="dSeries.id as dSeries in ($ctrl.getDynamicDataSeries() | filter: {'name': $select.search} | orderBy: 'name') track by dSeries.id">
                            <img ng-src="{{ $ctrl.getDataSeriesIcon(dSeries) }}" style="max-width: 20px; height: 20px;"/>
                            <span ng-bind="dSeries.name"></span>
                        </ui-select-choices>
                    </ui-select>

                    <span class="help-block" ng-show="$ctrl.storageForm.dynamicAnalysisData.$dirty && $ctrl.storageForm.dynamicAnalysisData.$invalid" ng-class="{'has-error': $ctrl.storageForm.dynamicAnalysisData.$invalid}">{{ i18n.__('Dynamic/analysis data is required') }}</span>
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="radio">
                            <label style="font-weight: 700;">
                                <input type="radio" name="erase_all" ng-value="true" ng-model="$ctrl.storage.erase_all" checked> {{ i18n.__("Erase everything") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label style="font-weight: 700;">
                                <input type="radio" name="erase_all" ng-value="false" ng-model="$ctrl.storage.erase_all"> {{ i18n.__("Partial erase") }}
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" ng-if="$ctrl.storage.erase_all == false">
                <div class="col-md-6">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Time interval") }}:</label>
                    <input class="form-control"
                            name="timeInterval"
                            ng-model="$ctrl.storage.keep_data"
                            placeholder="{{ i18n.__('Time interval') }}"
                            type="text" terrama2-server-errors="serverErrors" required>

                    <span class="form-control-feedback glyphicon" ng-show="$ctrl.storageForm.timeInterval.$dirty" ng-class="{'glyphicon-ok': $ctrl.storageForm.timeInterval.$valid, 'glyphicon-remove': $ctrl.storageForm.timeInterval.$invalid }"></span>

                    <span class="help-block" ng-show="$ctrl.storageForm.timeInterval.$dirty && $ctrl.storageForm.timeInterval.$error.required">{{ i18n.__('Time interval is required') }}</span>
                    <span class="help-block" ng-show="$ctrl.storageForm.timeInterval.$error.terrama2Error">
                        {{ i18n.__("Storage") + " " + serverErrors.name.message }}
                    </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Time unit") }}:</label>
                    <input class="form-control"
                            name="keep_data_unit"
                            ng-model="$ctrl.storage.keep_data_unit"
                            placeholder="{{ i18n.__('Time unit') }}"
                            type="text" terrama2-server-errors="serverErrors" required>

                    <span class="form-control-feedback glyphicon" ng-show="$ctrl.storageForm.timeUnit.$dirty" ng-class="{'glyphicon-ok': $ctrl.storageForm.keep_data_unit.$valid, 'glyphicon-remove': $ctrl.storageForm.keep_data_unit.$invalid }"></span>

                    <span class="help-block" ng-show="$ctrl.storageForm.keep_data_unit.$dirty && $ctrl.storageForm.timeUnit.$error.required">{{ i18n.__('Time unit is required') }}</span>
                    <span class="help-block" ng-show="$ctrl.storageForm.keep_data_unit.$error.terrama2Error">
                        {{ i18n.__("Storage") + " " + serverErrors.name.message }}
                    </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="font-weight: 700;">
                                <input type="checkbox" name="redefine" ng-model="$ctrl.storage.filter"> {{ i18n.__("Redefine start (Filter date will be considered)") }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="font-weight: 700;">
                            <input type="checkbox" name="storeHistory" ng-model="$ctrl.storage.backup"> {{ i18n.__("Store removed data history") }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </terrama2-box>

    <terrama2-box title="i18n.__('General Data')" css="css" ng-if="$ctrl.storage.backup">
      <div class="col-md-12 terrama2-nopadding-box ng-scope">
        <form name="$ctrl.parametersForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Store data") }}:</label>
                    <select class="form-control"
                            name="storeData"
                            ng-model="$ctrl.storage.data_provider_id"
                            ng-options="provider.id as provider.name for provider in $ctrl.getDataProviders()"
                            ng-change="$ctrl.changeDataProvider()"
                            required>
                    </select>

                    <span class="help-block" ng-show="$ctrl.parametersForm.storeData.$dirty && $ctrl.parametersForm.storeData.$invalid" ng-class="{'has-error': $ctrl.parametersForm.storeData.$invalid}">{{ i18n.__('Store data data is required') }}</span>
                    </div>
                    <!-- /.form-group -->
                </div>

                <div class="col-md-6">
                    <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Service") }}:</label>
                    <select class="form-control"
                            name="service"
                            ng-model="$ctrl.storage.service_instance_id"
                            ng-options="service.id as service.name for service in $ctrl.getStoragerServices()"
                            required>
                    </select>

                    <span class="help-block" ng-show="$ctrl.parametersForm.service.$dirty && $ctrl.parametersForm.service.$invalid" ng-class="{'has-error': $ctrl.parametersForm.service.$invalid}">{{ i18n.__('Service data is required') }}</span>
                    </div>
                    <!-- /.form-group -->
                </div>
            </div>
            <div ng-if="$ctrl.selectedProvider">
                <div class="row" ng-if="!$ctrl.isDataProviderFile()">
                    <div class="col-md-12">
                        <div class="form-group has-feedback" terrama2-show-errors>
                        <label>{{ i18n.__("Table name") }}:</label>
                        <input class="form-control"
                                name="path"
                                ng-model="$ctrl.storage.path"
                                placeholder="{{ i18n.__('Table Name') }}"
                                type="text" terrama2-server-errors="serverErrors" required>

                        <span class="form-control-feedback glyphicon" ng-show="$ctrl.parametersForm.path.$dirty" ng-class="{'glyphicon-ok': $ctrl.parametersForm.path.$valid, 'glyphicon-remove': $ctrl.parametersForm.path.$invalid }"></span>

                        <span class="help-block" ng-show="$ctrl.parametersForm.path.$dirty && $ctrl.parametersForm.path.$error.required">{{ i18n.__('Table name is required') }}</span>
                        <span class="help-block" ng-show="$ctrl.parametersForm.path.$error.terrama2Error">
                            {{ i18n.__("Storage") + " " + serverErrors.name.message }}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="$ctrl.isDataProviderFile()">
                    <div class="col-md-12">
                        <div class="form-group has-feedback" terrama2-show-errors>
                        <label>{{ i18n.__("Path") }}:</label>
                        <input class="form-control"
                                name="path"
                                ng-model="$ctrl.storage.path"
                                placeholder="{{ i18n.__('Path') }}"
                                type="text" terrama2-server-errors="serverErrors" required>

                        <span class="form-control-feedback glyphicon" ng-show="$ctrl.storageForm.path.$dirty" ng-class="{'glyphicon-ok': $ctrl.storageForm.path.$valid, 'glyphicon-remove': $ctrl.storageForm.path.$invalid }"></span>

                        <span class="help-block" ng-show="$ctrl.storageForm.path.$dirty && $ctrl.storageForm.path.$error.required">{{ i18n.__('Path is required') }}</span>
                        <span class="help-block" ng-show="$ctrl.storageForm.path.$error.terrama2Error">
                            {{ i18n.__("Storage") + " " + serverErrors.name.message }}
                        </span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-weight: 700;">
                                <input type="checkbox" name="compact" ng-model="$ctrl.storage.zip"> {{ i18n.__("Compact") }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </terrama2-box>

    <terrama2-box title="i18n.__('Schedule')" css="css">
        <div class="col-md-12 terrama2-nopadding-box ng-scope">
            <terrama2-schedule model="$ctrl.storage.schedule" options="$ctrl.scheduleOptions"></terrama2-schedule>
        </div>
    </terrama2-box>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right" ng-click="$ctrl.save();" style="margin-left: 10px;">{{ i18n.__("Save") }}</button>
      <a ng-href="{{ redirectUrl }}" class="btn btn-primary pull-left">{{ i18n.__("Cancel") }}</a>
    </div>