<div class="col-md-6 form-group" ng-if="$ctrl.type !== $ctrl.DataSeriesType.DCP">
    <label>{{$ctrl.i18n.__('Creation Type') }}:</label>
    <select class="form-control" name="styles" ng-change="$ctrl.changeCreationType()" ng-model="$ctrl.model.metadata.creation_type">
        <option value="editor">{{$ctrl.i18n.__('Editor')}}</option>
        <option value="xml">{{$ctrl.i18n.__('SLD')}}</option>
        <option ng-repeat="option in $ctrl.predefinedStyles | filter: $ctrl.filterPredefinedStyles" value="{{option.id}}">{{$ctrl.i18n.__(option.name)}}</option>
    </select>
</div>

<div ng-if="$ctrl.model.metadata.creation_type == 'xml'">
  <div class="col-md-12 terrama2-nopadding-box">

    <div class="col-md-8">
      <div class="form-group">
        <label> {{$ctrl.i18n.__('SLD') }}:</label>
        <textarea class="form-control" ng-model="$ctrl.model.metadata.xml_style" style="height: 200px;"> </textarea>
      </div>
    </div>

  </div>
</div>

<div ng-if="$ctrl.model.metadata.creation_type != 'editor' && $ctrl.model.metadata.creation_type != 'xml' && $ctrl.model.metadata.creation_type != undefined">
  <div class="col-md-12 terrama2-nopadding-box">
      
    <div sf-schema="$ctrl.predefinedStyleSchema" sf-form="$ctrl.predefinedStyleForm" sf-model="$ctrl.model.metadata"></div>

  </div>
</div>

<div ng-if="$ctrl.model.metadata.creation_type == 'editor'">
  <div class="col-md-12 terrama2-nopadding-box">

    <div class="col-md-6" ng-if="$ctrl.type !== $ctrl.DataSeriesType.DCP">
      <div class="form-group" terrama2-show-errors>
        <label><span ng-bind="$ctrl.i18n.__('Type')"></span>:</label>
        <select class="form-control"
                name="styleType"
                ng-model="$ctrl.model.type"
                ng-init="$ctrl.initColorType()"
                ng-change="$ctrl.changeColorType()"
                ng-options="elementType.value as $ctrl.i18n.__(elementType.name) for elementType in $ctrl.styleTypes | filter: $ctrl.typeFilter"
                required>
        </select>

        <span class="help-block"
          ng-show="$ctrl.formCtrl.styleType.$dirty && $ctrl.formCtrl.styleType.$error.required"
          ng-bind="$ctrl.i18n.__('Type is required')">
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-12 terrama2-nopadding-box">
    <div class="col-md-6 terrama2-nopadding-box">
      <div class="col-md-12" ng-if="$ctrl.type === $ctrl.DataSeriesType.GEOMETRIC_OBJECT || $ctrl.type === $ctrl.DataSeriesType.OCCURRENCE || $ctrl.type === $ctrl.DataSeriesType.ANALYSIS_MONITORED_OBJECT">
        <div class="form-group" terrama2-show-errors>
          <label><span ng-bind="$ctrl.i18n.__('Attribute')"></span>:</label>
          <input class="form-control" 
                name="attribute" 
                ng-model="$ctrl.model.metadata.attribute" 
                type="text"
                ng-pattern="$ctrl.regexColumn"
                list="tableColumnsList"
                ng-change="$ctrl.getColumnValues()"
                ng-required="$ctrl.type === $ctrl.DataSeriesType.GEOMETRIC_OBJECT || $ctrl.type === $ctrl.DataSeriesType.OCCURRENCE || $ctrl.type === $ctrl.DataSeriesType.ANALYSIS_MONITORED_OBJECT">

          <span class="help-block" 
            ng-show="$ctrl.formCtrl.attribute.$dirty && $ctrl.formCtrl.attribute.$error.required"
            ng-bind="$ctrl.i18n.__('Attribute is required')">
          </span>
          <span class="help-block" 
            ng-show="$ctrl.formCtrl.column.$dirty && $ctrl.formCtrl.column.$invalid && !$ctrl.formCtrl.column.$error.required"
            ng-bind="$ctrl.i18n.__('Column value is invalid')">
          </span>
        </div>
        <!-- ./Column -->
      </div>
      <!-- ./col-md-6 Type -->
      <div class="col-md-6"ng-if="$ctrl.type === $ctrl.DataSeriesType.GRID" >
        <div class="form-group"  terrama2-show-errors>
          <label><span ng-bind="$ctrl.i18n.__('Band Number')"></span>:</label>
          <input class="form-control" 
                name="band_number" 
                ng-model="$ctrl.model.metadata.band_number" 
                type="number"
                ng-required="$ctrl.type === $ctrl.DataSeriesType.GRID">

          <span class="help-block" 
            ng-show="$ctrl.formCtrl.band_number.$dirty && $ctrl.formCtrl.band_number.$error.required"
            ng-bind="$ctrl.i18n.__('Band number is required')">
          </span>
        </div>
      </div>
      <!-- ./col-md-6 Type -->
      <div class="col-md-6" ng-if="$ctrl.type === $ctrl.DataSeriesType.DCP" >
        <div class="form-group"  terrama2-show-errors>
          <label><span ng-bind="$ctrl.i18n.__('Attribute')"></span>:</label>
          <input class="form-control" 
                name="attribute" 
                ng-model="$ctrl.model.metadata.attribute" 
                type="text"
                ng-required="$ctrl.type === $ctrl.DataSeriesType.DCP">

          <span class="help-block" 
            ng-show="$ctrl.formCtrl.attribute.$dirty && $ctrl.formCtrl.attribute.$error.required"
            ng-bind="$ctrl.i18n.__('Attribute is required')">
          </span>
        </div>
      </div>
      <div class="col-md-6" ng-if="$ctrl.type === $ctrl.DataSeriesType.GRID && $ctrl.model.type != 1">
        <div class="form-group" terrama2-show-errors>
          <label><span ng-bind="$ctrl.i18n.__('Dummy Value')"></span>:</label>
          <input class="form-control" 
                name="dummy" 
                ng-model="$ctrl.model.metadata.dummy" 
                type="text">
        </div>
        <!-- ./Dummy -->
      </div>
      <!-- ./GRID -->
    </div>
    <!-- ./col-md-6 -->
  </div>
  <div class="col-md-12 terrama2-nopadding-box" ng-if="$ctrl.type !== $ctrl.DataSeriesType.DCP" >
    <hr>
  </div>
  <div class="form-group">
    <div class="col-md-12 row" ng-show="$ctrl.model.colors.length > 0">
      <div class="col-md-12 row" style="margin-bottom:20px;" ng-if="$ctrl.showAutoCreateLegendButton && $ctrl.type !== $ctrl.DataSeriesType.GRID">
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.autoCreateLegend()">{{$ctrl.i18n.__('Auto Legend')}}</button>
        </div>
      </div>
      <div class="col-md-12 row" style="margin-bottom:20px;" ng-if="$ctrl.showGridAutoCreateLegendButton && $ctrl.type == $ctrl.DataSeriesType.GRID">
        <div class="col-md-2">
          <label><span>{{$ctrl.i18n.__('Initial Value')}}:</span></label>
          <input class="form-control" name="initialValue" type="number" ng-model="$ctrl.legendInitialValue" ng-max="$ctrl.legendFinalValue">
        </div>
        <div class="col-md-2">
          <label><span>{{$ctrl.i18n.__('Final Value')}}:</span></label>
          <input class="form-control" name="finalValue" type="number" ng-model="$ctrl.legendFinalValue" ng-min="$ctrl.legendInitialValue">
        </div>
        <div class="col-md-2">
          <label><span>{{$ctrl.i18n.__('Number')}}:</span></label>
          <input class="form-control" name="quantity" type="number" ng-model="$ctrl.legendQuantity" ng-min="2">
        </div>
        <div class="col-md-2">
          <label><span>{{$ctrl.i18n.__('Precision')}}:</span></label>
          <input class="form-control" name="precision" type="number" ng-model="$ctrl.legendPrecision" ng-min="0">
        </div>
        <div class="col-md-2">
          <button type="button"
                  style="margin-top:25px;"
                  class="btn btn-primary"
                  ng-click="$ctrl.gridAutoCreateLegend()"
                  ng-disabled="!(($ctrl.legendInitialValue || $ctrl.legendInitialValue == 0) && $ctrl.legendFinalValue && $ctrl.legendQuantity && ($ctrl.legendPrecision || $ctrl.legendPrecision == 0))">{{$ctrl.i18n.__('Auto Legend')}}</button>
        </div>
      </div>
      <div class="col-md-12 row">
        <div class="col-md-2">
          <label><span ng-bind="$ctrl.i18n.__('Color')"></span>:</label>
        </div>
        <div class="col-md-1">
          <label></label>
        </div>
        <div class="col-md-3">
          <label><span ng-bind="$ctrl.i18n.__('Title')"></span>:</label>
        </div>
        <div class="col-md-3">
          <label ng-show="$ctrl.model.colors.length > 1"><span ng-bind="$ctrl.i18n.__('Value')"></span>:</label>
        </div>
      </div> 
      <div class="col-md-12 row">
        <span ng-repeat="elm in $ctrl.model.colors track by $index">
          <div class="col-md-12 row">
            <div class="col-md-2">
              <color-picker ng-model="elm.color" options="$ctrl.colorOptions" event-api="$ctrl.events"></color-picker>
            </div>

            <div class="col-md-1">
              <button type="button" class="btn btn-primary" data-ng-click="$ctrl.rgbaModal(elm)">RGBA</button>
            </div>

            <div class="form-group col-md-3" 
                ng-class="{'has-error': $ctrl.formCtrl['field_color_' + $index].$invalid, 'has-success': $ctrl.formCtrl['field_color_' + $index].$valid}">
              <input type="text" class="form-control" name="field_color_{{ $index }}" ng-model="elm.title" required>

              <span class="help-block"
                    ng-show="$ctrl.formCtrl['field_color_' + $index].$error.required" ng-bind="$ctrl.i18n.__('Title is required')">
              </span>
            </div>

            <div class="form-group col-md-3" 
                ng-class="{'has-error': $ctrl.formCtrl['field_value_' + $index].$invalid, 'has-success': $ctrl.formCtrl['field_value_' + $index].$valid}" ng-if="!elm.isDefault">
              <!-- Value Type -->
              <input type="text" 
                    class="form-control"
                    name="field_value_{{$index}}"
                    ng-model="elm.value"
                    ng-if="$ctrl.model.type === $ctrl.StyleType.VALUE"
                    list="tableColumnValues">
              <!-- Interval and Gradient Types -->
              <input type="number" 
                    class="form-control" 
                    name="field_value_{{$index}}" 
                    ng-model="elm.value" 
                    ng-if="$ctrl.model.type === $ctrl.StyleType.INTERVAL || $ctrl.model.type === $ctrl.StyleType.GRADIENT">

              <span class="help-block"
                    ng-show="$ctrl.formCtrl['field_value_' + $index].$error.required" ng-bind="$ctrl.i18n.__('Value is required')">
              </span>
              <!-- For number fields -->
              <span class="help-block"
                    ng-show="($ctrl.model.type === $ctrl.StyleType.INTERVAL || $ctrl.model.type === $ctrl.StyleType.GRADIENT) && $ctrl.formCtrl['field_value_' + $index].$error.number"
                    ng-bind="$ctrl.i18n.__('Value must be a number')">
              </span>
              <span class="help-block"
                    ng-show="($ctrl.model.type === $ctrl.StyleType.INTERVAL || $ctrl.model.type === $ctrl.StyleType.GRADIENT) && $ctrl.formCtrl['field_value_' + $index].$error.number"
                    ng-bind="$ctrl.i18n.__('Value must be unique')">
              </span>
            </div>

            <div class="form-group col-md-3" ng-if="!elm.isDefault && $ctrl.model.colors.length > $ctrl.minColorsLength">
              <button type="button"
                      class="btn btn-primary"
                      style="margin-left: 9px;"
                      ng-bind="$ctrl.i18n.__('Remove')"
                      data-ng-click="$ctrl.removeColor($index);"></button>
            </div>

          </div>

        </span>
      </div>
    </div>

  <div class="col-md-12">
    <button type="button"
            class="btn btn-primary"
            ng-bind="$ctrl.i18n.__('Add color')"
            data-ng-click="$ctrl.addColor();"></button>
  </div>

</div>
<div class="modal fade" id="rgbaModal" tabindex="-1" role="dialog" aria-labelledby="rgbaModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="rgbaModalLabel">{{ $ctrl.i18n.__('Insert the Color') }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <div class="form-group">
                <label>R</label>
                <input class="form-control" ng-model="$ctrl.rgba.r"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>G</label>
                <input class="form-control" ng-model="$ctrl.rgba.g"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>B</label>
                <input class="form-control" ng-model="$ctrl.rgba.b"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>A</label>
                <input class="form-control" ng-model="$ctrl.rgba.a"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ $ctrl.i18n.__('Cancel') }} </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="$ctrl.rgba2hex()">{{ $ctrl.i18n.__('OK') }}</button>
      </div>
    </div>
  </div>
</div>

<datalist id='tableColumnsList'>
  <option ng-repeat="column in $ctrl.columnsList" value="{{column}}">
</datalist>

<datalist id='tableColumnValues'>
  <option ng-repeat="value in $ctrl.columnValues" value="{{value}}">
</datalist>