{% extends "../base/layout.html" %}

{% set tabActive = "alerts" %}

{% block ngApp %} ng-app="terrama2.alerts.controllers.alertlist" {% endblock %}

{% block title %} TerraMA² {{ i18n.__('Alerts') }} {% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}

<div class="col-md-12" ng-controller="AlertListController">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ i18n.__('Alerts') }}</h3>
      </div><!-- /.box-header -->

      <div class="box-body">
        <terrama2-table fields="fields" model="model" link="link" icon="icon" icon-properties="iconProperties" link-to-add="linkToAdd"></terrama2-table>
      </div><!-- /.box-body -->

    </div><!-- /.box -->
  </div> <!-- end col md 6 -->

</div> <!-- end col md 12 -->

{% endblock %}
