{% extends "../base/layout.html" %}

{% block title %} TerraMA² {[ __('Alert Registration') ]} {% endblock %}

{% block styles %}

<style type="text/css">
    th
    {
        background: #D2D6DE none repeat scroll 0% 0% !important;
    }

    .intl-tel-input
    {
        display: block !important;
    }
</style>

{% endblock %}


{% block content %}

    <!-- User Analysis Modal -->
    {% include "../base/userAnalysisModal.html" %}

    <!-- Area of Interest Modal -->
    {% include "../base/areaOfInterestModal.html" %}

    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">{[ __('Alert Registration') ]}</h3>
            </div>
            <!-- /.box-header -->
            <div style="display: block;" class="box-body">

                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">{[ __('General Data') ]}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div style="display: block;" class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{[ __('User') ]}</label>
                                        <select class="form-control">
                                            <option>joao</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label>{[ __('Selected Project') ]}:</label>

                                    <button data-toggle="modal" data-target="#userAnalisysModal" class="btn btn-box-tool btn-lg terrama2-link">
                                        <i class="fa fa-plus"></i>
                                    </button>

                                    <button type="button" class="btn btn-box-tool btn-lg terrama2-link" id="removeAnalysisListButton"><i class="fa fa-minus"></i>
                                    </button>

                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th>-</th>
                                            <th>{[ __('Project') ]}</th>
                                            <th>{[ __('E-mail') ]}</th>
                                            <th>{[ __('Cell phone') ]}</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>P1</td>
                                            <td>1-Observation</td>
                                            <td>1-Observation</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>P2</td>
                                            <td>1-Observation</td>
                                            <td>1-Observation</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{[ __('Area of interest for notification') ]}:</label>

                                        <button data-toggle="modal" data-target="#areaOfInterestModal" class="btn btn-box-tool btn-lg terrama2-link">
                                            <i class="fa fa-plus"></i>
                                        </button>

                                        <button type="button" class="btn btn-box-tool btn-lg terrama2-link"><i class="fa fa-minus"></i>
                                        </button>

                                        <select class="terrama2-list-align" multiple="" class="form-control" id="sel2">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box body -->
                    </div>
                </div>

            </div>
            <!-- /.box body -->

            <div class="box-footer">
                <a href="/configuration/alerts" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __('Cancel') ]}</a>
                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __('OK') ]}</button>
            </div>
        </div>
    </div> <!-- end col md 12 -->

{% endblock %}
