{% extends "../base/layout.html" %}

{% set tabActive = "analyses" %}

{% block ngApp %} ng-app="terrama2.analyses" {% endblock %}

{% block title %} TerraMA² {[ __('Analysis') ]} {% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var globals = {
    enums: {
      AnalysisType: {[ Enums.AnalysisType|json|safe ]},
      ServiceType: {[ Enums.ServiceType|json|safe ]}
    }
  }
</script>
<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script src="/externals/angular/angular.min.js"></script>
<script src="/externals/angular/i18n-angular.min.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/services.js"></script>
<script src="/javascripts/angular/table/table.js"></script>
<script src="/javascripts/angular/alert-box/directives.js"></script>

<script>

  angular.module('terrama2.analyses', ['terrama2', 'terrama2.services', 'terrama2.table', 'terrama2.components.messagebox'])
    .controller("ListController", ['$scope', '$http', 'AnalysisFactory', 'Socket', function($scope, $http, AnalysisFactory, Socket) {
      $scope.model = [];

      Socket.on('errorResponse', function(response){
        $scope.display = true;
        $scope.alertLevel = "alert-danger";
        $scope.alertBox.message = response.message;
      });

      Socket.on('runResponse', function(response){
        $scope.display = true;
        $scope.alertLevel = "alert-success";
        $scope.alertBox.message = "The process was started successfully";
      })

      var restriction = {
        project_id: "{[ currentProject.id ]}"
      }

      $scope.iconProperties = {
        type: "img"
      };

      $scope.fields = [
        {key: "name", as: "Name"},
        {key: "type.name", as: "Type"}
      ];

      $scope.linkToAdd = "/configuration/analyses/new";

      $scope.link = function(object) {
        return "/configuration/analyses/" + object.id + "/edit";
      };

      $scope.alertLevel = "alert-success";
      $scope.alertBox = {
        title: "Analysis",
        message: "{[ message ]}"
      };
      $scope.display = $scope.alertBox.message !== "";

      $scope.extra = {
        removeOperationCallback: function(err, data) {
          $scope.display = true;
          if (err) {
            $scope.alertLevel = "alert-danger";
            $scope.alertBox.message = err.message;
            return;
          }

          $scope.alertLevel = "alert-success";
          $scope.alertBox.message = data.name + " removed";
        },
        showRunButton: true,
        canRun: true,
        run: function(object){
          var process_ids = {
            "ids":[object.id],
            "ProcessType": globals.enums.ServiceType.ANALYSIS
          };
          Socket.emit('run', process_ids);
        }
      };

      $scope.remove = function(object) {
        return "/api/Analysis/" + object.id + "/delete";
      };

      $scope.icon = function(object) {
        switch(object.type.id) {
          case globals.enums.AnalysisType.MONITORED:
            return "/images/monitored-object.png";
            break;
          case globals.enums.AnalysisType.GRID:
            return "/images/grid-small.png";
            break;
          default:
            return "/images/map-pin.png";
        }
      };

      AnalysisFactory.get(restriction).success(function(analysis) {
        $scope.model = analysis;
      }).error(function(err) {
        console.log("Err in retrieving Analysis " + err);
      }).finally(function() {
        $scope.loading = false;
      });
    }]);
</script>

{% endblock %}

{% block content %}

<div ng-controller="ListController">
  <terrama2-box title="'{[ __('Analysis') ]}'">
    <div class="col-md-12">
      <terrama2-alert-box alert-level="alertLevel" title="alertBox.title" message="alertBox.message" close="resetState()" display-handler="display">
      </terrama2-alert-box>
    </div>

    <terrama2-table fields="fields" model="model" link="link" icon="icon" icon-properties="iconProperties" link-to-add="linkToAdd" context="'analysis'" remove="remove(object);" extra="extra">
    </terrama2-table>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
