{% extends "../base/layout.html" %}

{% set tabActive = "analysis" %}

{% block ngApp %} ng-app="terrama2.analysis.controller.registerupdate" {% endblock %}

{% block title %} TerraMA² {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">

  <!-- Angular tree control -->
  <!-- link for CSS when using the tree as a Dom element -->
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-tree-control/css/tree-control.css">
  <!-- link for CSS when using the tree as an attribute -->
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-tree-control/css/tree-control-attribute.css">

  <style>
    table > tbody {
      overflow-y: auto !important;
      height: 150px !important;
    }

    .auto-y {
      max-height: 400px !important;
      overflow-y: auto !important;
    }

    .without-border {
      border: none !important;
    }
  </style>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
  // defining global values
  var globals = {
    enums: {
      AnalysisType: {[ Enums.AnalysisType|json|safe ]} || {},
      AnalysisDataSeriesType: {[ Enums.AnalysisDataSeriesType|json|safe ]} || {},
      DataSeriesType: {[ Enums.DataSeriesType|json|safe ]} || {},
      TemporalityType: {[ Enums.TemporalityType|json|safe ]} || {},
      InterpolationMethod: {[ Enums.InterpolationMethod|json|safe ]},
      ResolutionType: {[ Enums.ResolutionType|json|safe ]},
      InterestAreaType: {[ Enums.InterestAreaType|json|safe ]},
      DataSeriesFormat: {[ Enums.DataSeriesFormat|json|safe ]}
    }
  };

  var configuration = {
    analysis: {[ analysis|json|safe ]} || {}
  }
</script>

<!-- Moment Datetime JS -->
<script type="text/javascript" src="/bower_components/moment/moment.js"></script>
<!-- Angular tree control -->
<script type="text/javascript" src="/bower_components/angular-tree-control/angular-tree-control.js"></script>
<!-- Ace editor -->
<script type="text/javascript" src="/bower_components/ace-builds/src/ace.js"></script>
<script type="text/javascript" src="/bower_components/ace-builds/src/ext-language_tools.js"></script>

<!-- Angular Schema Form dependencies -->
<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/bower_components/tv4/tv4.js"></script>
<script type="text/javascript" src="/bower_components/objectpath/lib/ObjectPath.js"></script>
<script type="text/javascript" src="/bower_components/angular-schema-form/dist/schema-form.js"></script>
<script type="text/javascript" src="/bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
<!-- Bootstrap datetimepicker -->
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/pt-br.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/es.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/fr.js"></script>
<script type="text/javascript" src="/bower_components/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js"></script>
<!-- TerraMA2 Datetimepicker -->
<script type="text/javascript" src="/javascripts/angular/datetimepicker/directive.js"></script>
<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!-- Terrama2 Script -->
<script type="text/javascript" src="/javascripts/terrama2.js"></script>
<!-- TerraMA2 Schedule -->
<script type="text/javascript" src="/javascripts/angular/data-series/schedule.js"></script>
<!-- TerraMA2 Factory Helpers -->
<script type="text/javascript" src="/javascripts/angular/services.js"></script>
<!-- TerraMA2 Alert Box -->
<script type="text/javascript" src="/javascripts/angular/alert-box/services.js"></script>
<script type="text/javascript" src="/javascripts/angular/alert-box/directives.js"></script>
<!-- TerraMA2 Ace -->
<script type="text/javascript" src="/javascripts/angular/ace/directive.js"></script>
<!-- TerraMA2 Bounded Box -->
<script type="text/javascript" src="/javascripts/angular/geo/services.js"></script>
<script type="text/javascript" src="/javascripts/angular/geo/app.js"></script>
<script type="text/javascript" src="/javascripts/angular/geo/directives.js"></script>
<!-- TerraMA² Service instance -->
<script type="text/javascript" src="/javascripts/angular/services/services.js"></script>
<!-- TerraMA2 Data Provider Service -->
<script type="text/javascript" src="/javascripts/angular/data-provider/services.js"></script>
<!-- TerraMA² DataSeries -->
<script type="text/javascript" src="/javascripts/angular/data-series/services.js"></script>
<!-- TerraMA² Analysis -->
<script type="text/javascript" src="/javascripts/angular/analysis/services.js"></script>
<script type="text/javascript" src="/javascripts/angular/analysis/controllers/register-update.js"></script>

{% endblock %}

{% block content %}

<div ng-controller="RegisterUpdateController as ctrl">

  <!-- DataSeries Modal -->
  <div class="modal fade" id="dataSeriesModal" tabindex="-1" role="dialog" aria-labelledby="dataSeriesModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="dataSeriesModalLabel">{{ i18n.__('Select DataSeries') }}</h4>
        </div>
        <div class="modal-body">

          <treecontrol class="tree-light"
             tree-model="ctrl.dataSeriesGroups"
             options="ctrl.treeOptions"
             selected-nodes="ctrl.nodesDataSeries"
             on-selection="ctrl.showSelected(node)"
             selected-node="ctrl.selectedDataSeries">
             {{node.name}}
          </treecontrol>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ i18n.__('Cancel') }} </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.addDataSeries()">{{ i18n.__('OK') }}</button>
        </div>
      </div>
    </div>
  </div>

  <terrama2-box title="i18n.__('Analysis Registration')">
    <div class="col-md-12">
      <terrama2-alert-box2 handler="ctrl.MessageBoxService.alertBox"
                           close="ctrl.close()">
      </terrama2-alert-box2>
    </div>
    <terrama2-box title="i18n.__('General Data')" css="ctrl.css">
      <div class="row">

        <form name="forms.generalDataForm">
          <div class="col-md-8">
            <div class="form-group" terrama2-show-errors>
              <label>{{ i18n.__("Name") }}:</label>
              <input class="form-control" name="name" ng-model="ctrl.analysis.name" placeholder="{{ i18n.__('Analysis Name') }}" type="text" required>

              <span class="help-block" 
                    ng-show="forms.generalDataForm.name.$dirty && forms.generalDataForm.name.$invalid" 
                    ng-class="{'has-error': generalDataForm.name.$invalid}">
                    {{ i18n.__('Analysis name is required') }}
              </span>
            </div>
          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <div class="form-group has-feedback" terrama2-show-errors>
              <label>{{ i18n.__("Type") }}:</label>
              <select class="form-control" 
                      name="type" 
                      ng-model="ctrl.analysis.type_id" 
                      ng-disabled="ctrl.isUpdating"
                      data-ng-change="ctrl.onAnalysisTypeChanged()" 
                      required>
                <option value="{[ Enums.AnalysisType.DCP ]}">{{ i18n.__('DCP') }}</option>
                <option value="{[ Enums.AnalysisType.GRID ]}">{{ i18n.__('Grid') }}</option>
                <option value="{[ Enums.AnalysisType.MONITORED ]}">{{ i18n.__('Monitored Object') }}</option>
              </select>

              <span class="help-block" 
                    ng-show="forms.generalDataForm.type.$dirty && forms.generalDataForm.type.$error.required">
                {{ i18n.__('Analysis type is required') }}
              </span>
            </div>
            <!-- /.form-group -->
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>{{ i18n.__("Description") }}:</label>
              <textarea class="form-control" name="description" ng-model="ctrl.analysis.description" rows="3" placeholder="{{ i18n.__('Analysis Description') }}"></textarea>
            </div>
            <!-- /.form-group -->
          </div>

          <div class="col-md-8">
            <div class="form-group has-feedback" terrama2-show-errors>
              <label>{{ i18n.__("Instance") }}:</label>
              <select class="form-control" name="instance" ng-model="ctrl.analysis.instance_id" required>
                <option ng-repeat="instance in ctrl.instances"                                                                  
                        value="{{ instance.id }}"                                                                               
                        ng-init="ctrl.analysis.instance_id = ctrl.instances[0].id.toString()" ng-bind="instance.name"></option> 
                <option ng-if="ctrl.instances.length == 0" value="" ng-bind="i18n.__('No analysis instance found')"></option>

              </select>

              <span class="help-block" ng-show="forms.generalDataForm.instance.$dirty && forms.generalDataForm.instance.$error.required">
                {{ i18n.__('Analysis instance is required') }}
              </span>
            </div>
            <!-- /.form-group -->
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <div class="form-group">
                <div class="checkbox">
                  <label style="font-weight: 700; margin-top:19px;">
                    <input name="active" ng-model="ctrl.analysis.active" ng-init="ctrl.initActive(configuration.analysis.active)" type="checkbox"> {{ i18n.__("Active") }}
                  </label>
                </div>
              </div>

            </div>
            <!-- /.form-group -->
          </div>
        </form>
        <!--./ generalDataForm -->
      </div>
      <!-- /.row -->
    </terrama2-box>

    <terrama2-box title="i18n.__('Store')" css="ctrl.css" ng-show="forms.generalDataForm.type.$valid">

      <div class="row">

        <form name="forms.storagerDataForm">

          <div class="col-md-4">
            <div class="form-group" terrama2-show-errors>
              <label>{{ i18n.__('Output Format') }}:</label>
                <select id="storageFormat" class="form-control"
                        name="format"
                        ng-disabled="ctrl.isUpdating"
                        ng-change="ctrl.onStoragerFormatChange()"
                        ng-model="ctrl.storager.format"
                        ng-options="format.name for format in ctrl.storagerFormats" required>
              </select>

              <span class="help-block" ng-show="forms.storagerDataForm.format.$dirty && forms.storagerDataForm.format.$error.required">
                {{ i18n.__("Data store is required") }}
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group" terrama2-show-errors>
              <label>{{ i18n.__('Data Store') }}:</label>
              <select class="form-control"
                      name="storager_data_provider_id"
                      ng-model="ctrl.analysis.data_provider_id"
                      ng-options="provider.id as provider.name for provider in ctrl.dataProviders"
                      ng-required="ctrl.storager.format.name" required>
                <option></option>
              </select>
              <span class="help-block"
                    ng-show="forms.storagerDataForm.storager_data_provider_id.$dirty && forms.storagerDataForm.storager_data_provider_id.$error.required">
                {{ i18n.__("Data store is required") }}
              </span>
            </div>
          </div>
        </form>
        <div class="col-md-12 terrama2-nopadding-box">
          <!-- schema form -->
          <div class="col-md-12" ng-show="ctrl.showStoragerForm">
            <form name="forms.storagerForm" sf-schema="ctrl.schemaStorager" sf-form="ctrl.formStorager" sf-model="ctrl.modelStorager" sf-options="ctrl.options"></form>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 30px;">
          <div class="col-md-12 terrama2-nopadding-box">
            <div class="box box-default box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">{{ i18n.__('Schedule') }}</h3>
              </div>

              <div style="display: block;" class="box-body">
                <terrama2-schedule model="ctrl.schedule" options="ctrl.scheduleOptions"></terrama2-schedule>
              </div>
            </div>
          </div>
        </div>
      </div>
    </terrama2-box>

    <terrama2-box title="ctrl.semanticsSelected + ' ' + i18n.__('Data Series')" 
                  css="ctrl.css" 
                  ng-show="ctrl.analysis.type_id !== '{[ Enums.AnalysisType.GRID ]}'  && forms.generalDataForm.type.$valid">
      <div class="row">
        <div class="col-md-12">
          <form name="forms.targetDataSeriesForm">
            <div class="col-md-6">
              <div class="form-group has-feedback" terrama2-show-errors>
                <label>{[ __("DataSeries") ]}:</label>
                <select class="form-control"
                        name="targetDataSeries"
                        ng-disabled="ctrl.isUpdating"
                        ng-model="ctrl.targetDataSeries"
                        ng-options="targetDS as targetDS.name for targetDS in ctrl.filteredDataSeries"
                        ng-change="ctrl.onTargetDataSeriesChange()"
                        ng-required="ctrl.analysis.type_id !== '{[ Enums.AnalysisType.GRID ]}'">
                </select>

                <!-- required -->
                <span class="help-block"
                      ng-show="forms.targetDataSeriesForm.targetDataSeries.$dirty && forms.targetDataSeriesForm.targetDataSeries.$error.required">
                  {{ i18n.__('Data Series is required') }}
                </span>
              </div>
            </div>
            <!-- ./col-md-6 -->

            <div class="col-md-6" ng-show="ctrl.analysis.type_id === '{[ Enums.AnalysisType.MONITORED ]}'">
              <div class="form-group has-feedback" terrama2-show-errors>
                <label>{{ i18n.__("Attribute Identifier") }}:</label>
                <input type="text" class="form-control"
                                   name="identifier"
                                   ng-model="ctrl.identifier"
                                   ng-required="ctrl.analysis.type_id === '{[ Enums.AnalysisType.MONITORED ]}'"
                                   id='attribute_identifier'
                                   list='tableColumnsList'>

                <!-- required -->
                <span class="help-block"
                      ng-show="forms.targetDataSeriesForm.attributeIdentifier.$dirty && forms.targetDataSeriesForm.attributeIdentifier.$error.required">
                  {{ __('Attribute Identifier') }}
                </span>
              </div>
            </div>
            <!-- ./col-md-6 -->
          </form>
        </div>
      </div>
    </terrama2-box>

    <terrama2-box title="ctrl.dataSeriesBoxName" css="ctrl.css" ng-show="forms.generalDataForm.type.$valid">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#dataSeriesModal" style="margin-bottom: 15px">
            <i class="fa fa-plus"></i>
          </button>
          <!-- metadata form handler -->
          <form name="forms.metadataForm">
            <table class="table table-bordered table-hover">
              <tbody>
              <tr>
                <th>{{ i18n.__('Name') }}</th>
                <th>{{ i18n.__('Format') }}</th>
                <th>{{ i18n.__('Alias') }}</th>
                <th></th>
              </tr>
              <tr style="cursor:pointer;" 
                  ng-repeat="dataSeries in ctrl.selectedDataSeriesList" 
                  data-ng-click="onDataSeriesClick(dataSeries);" 
                  ng-class="{'active': ctrl.selectedDataSeries && ctrl.selectedDataSeries.name == dataSeries.name}">
                <td>{{ dataSeries.name }}</td>
                <td>{{ dataSeries.data_series_semantics.name }}</td>
                <td>
                  <input type="text" class="form-control" name="name" ng-model="ctrl.metadata[dataSeries.name].alias" required>
                </td>
                <td class="pull-cell-left">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.removeDataSeries(dataSeries)">
                    <i class="fa fa-times">
                      <span class="hidden-xs">{{ i18n.__("Remove") }}</span>
                    </i>
                  </button>
                </td>
              </tr>
              <tr ng-if="ctrl.selectedDataSeriesList.length == 0">
                <td colspan="3">
                  {{ i18n.__('No data series selected') }}
                </td>
              </tr>
              </tbody>
            </table>
            <!--./table-->
          </form>
          <!--todo: open box-->

        </div><!--./col-md-12-->
      </div><!--./row-->
    </terrama2-box>

    <terrama2-box title="i18n.__('Reprocessing Historical Data')" css="ctrl.css" ng-show="forms.generalDataForm.type.$valid">
      <div class="row">
        <form name="forms.historicalForm" novalidate>
          <terrama2-filter-datetime-picker before-label="'Start Date'" 
                                           after-label="'End Date'"
                                           before-datetime="ctrl.analysis.historical.startDate"
                                           after-datetime="ctrl.analysis.historical.endDate">
          </terrama2-filter-datetime-picker>
        </form>
      </div>
    </terrama2-box>

    <terrama2-box title="i18n.__('Grid configuration')" 
                  css="ctrl.css"
                  ng-show="ctrl.analysis.type_id == {[ Enums.AnalysisType.GRID ]} && forms.generalDataForm.type.$valid">
      <div class="row">
        <form name="forms.gridForm">
          <div class="col-md-12">
            <div class="col-md-12 terrama2-nopadding-box">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Interpolation Method") }}:</label>
                  <select class="form-control" name="interpolation_method"
                          ng-model="ctrl.analysis.grid.interpolation_method"
                          ng-required="ctrl.analysis.type_id == 2"
                          ng-options="obj.value as obj.name for (k, obj) in ctrl.interpolationMethods">
                  </select>

                  <!-- required -->
                  <span class="help-block"
                        ng-show="forms.gridForm.interpolation_method.$dirty && forms.gridForm.interpolation_method.$error.required">
                    {{ i18n.__('Interpolation method is required') }}
                  </span>
                </div>
              </div>

              <div class="col-md-6" ng-show="ctrl.analysis.grid.interpolation_method !== ctrl.interpolationMethods.UNDEFINED_INTERPOLATION_METHOD.value">
                <div class="form-group" terrama2-show-errors>
                  <label>{{ i18n.__("Interpolation dummy") }}:</label>
                  <input class="form-control"
                         name="interpolation_dummy"
                         ng-model="ctrl.analysis.grid.interpolation_dummy"
                         placeholder="{{ i18n.__('Interpolation dummy value') }}"
                         type="number"
                         ng-required="ctrl.analysis.grid.interpolation_method && ctrl.analysis.grid.interpolation_method !== ctrl.interpolationMethods.UNDEFINED_INTERPOLATION_METHOD.value">
                  <span class="help-block"
                        ng-show="forms.gridForm.interpolation_dummy.$dirty && forms.gridForm.interpolation_dummy.$error.required">
                    {{ i18n.__('Interpolation dummy is required') }}
                  </span>
                  <span class="help-block"
                        ng-show="forms.gridForm.interpolation_dummy.$dirty && forms.gridForm.interpolation_dummy.$error.number">
                    {{ i18n.__('Interpolation dummy is invalid number') }}
                  </span>
                </div>
              </div>
            </div> <!-- ./cold-md-12 terrama2-nopadding-box-->

            <div class="col-md-12 terrama2-nopadding-box">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Area of Interest") }}:</label>
                  <select class="form-control" name="area_of_interest"
                          ng-model="ctrl.analysis.grid.area_of_interest_type"
                          ng-required="ctrl.analysis.type_id == 2"
                          ng-options="interestArea.value as interestArea.name for interestArea in ctrl.interestAreaTypes"
                          ng-change="ctrl.onAreaOfInterestChange()">
                  </select>

                  <!-- required -->
                  <span class="help-block"
                        ng-show="forms.gridForm.area_of_interest.$dirty && forms.gridForm.area_of_interest.$error.required">
                    {{ i18n.__('Area of interest is required') }}
                  </span>
                </div>
              </div> <!-- ./col-md-6 -->

              <div class="col-md-6" ng-show="ctrl.analysis.grid.area_of_interest_type === ctrl.interestAreaTypes.SAME_FROM_DATA_SERIES.value">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("DataSeries") }}:</label>
                  <select class="form-control"
                          name="area_of_interest_data_series_id"
                          ng-model="ctrl.analysis.grid.area_of_interest_data_series_id"
                          ng-options="targetDS.id as targetDS.name for targetDS in ctrl.selectedDataSeriesList"
                          ng-required="ctrl.analysis.grid.area_of_interest_type === ctrl.interestAreaTypes.SAME_FROM_DATA_SERIES.value">
                  </select>

                  <!-- required -->
                  <span class="help-block"
                        ng-show="forms.gridForm.area_of_interest_data_series_id.$dirty && forms.gridForm.area_of_interest_data_series_id.$error.required">
                    {{ i18n.__('Data Series is required') }}
                  </span>
                </div>
              </div> <!-- ./col-md-6 -->

              <div class="col-md-6" ng-show="ctrl.analysis.grid.area_of_interest_type === ctrl.interestAreaTypes.CUSTOM.value">
                <terrama2-bounded-box ng-model="ctrl.analysis.grid.area_of_interest_bounded" is-required="ctrl.analysis.grid.area_of_interest_type === ctrl.interestAreaTypes.CUSTOM.value">
                </terrama2-bounded-box>
              </div>
            </div> <!-- ./cold-md-12 terrama2-nopadding-box-->

            <div class="col-md-12 terrama2-nopadding-box">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Resolution") }}:</label>
                  <select class="form-control" name="resolution_type"
                          ng-model="ctrl.analysis.grid.resolution_type"
                          ng-required="ctrl.analysis.type_id == 2"
                          ng-options="resolutionType.value as resolutionType.name for resolutionType in ctrl.resolutionTypes"
                          ng-change="ctrl.onResolutionChange()">
                  </select>

                  <!-- required -->
                  <span class="help-block" ng-show="forms.gridForm.resolution_type.$dirty && forms.gridForm.resolution_type.$error.required">
                    {{ i18n.__('Resolution is required') }}
                  </span>
                </div>
              </div> <!-- ./col-md-6 -->

              <div class="col-md-6" ng-show="ctrl.analysis.grid.resolution_type === ctrl.resolutionTypes.CUSTOM.value">
                <div class="col-md-6">
                  <div class="form-group" terrama2-show-errors>
                    <label>{{ i18n.__("X") }}:</label>
                    <input class="form-control"
                           name="resolution_x"
                           ng-model="ctrl.analysis.grid.resolution_x"
                           placeholder="{{ i18n.__('Resolution X') }}" type="number"
                           ng-required="ctrl.analysis.grid.resolution_type === ctrl.resolutionTypes.CUSTOM.value">

                    <span class="help-block"
                          ng-show="forms.gridForm.resolution_x.$dirty && forms.gridForm.resolution_x.$invalid">
                        {{ i18n.__('X is required') }}
                    </span>
                    <span class="help-block"
                          ng-show="forms.gridForm.resolution_x.$dirty && forms.gridForm.resolution_x.$error.number">
                        {{ i18n.__('X is invalid number') }}
                      </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" terrama2-show-errors>
                    <label>{{ i18n.__("Y") }}:</label>
                    <input class="form-control"
                           name="resolution_y"
                           ng-model="ctrl.analysis.grid.resolution_y"
                           placeholder="{{ i18n.__('Resolution Y') }}" type="number"
                           ng-required="ctrl.analysis.grid.resolution_type === ctrl.resolutionTypes.CUSTOM.value">

                    <span class="help-block"
                          ng-show="forms.gridForm.resolution_y.$dirty && forms.gridForm.resolution_y.$invalid">
                        {{ i18n.__('Y is required') }}
                    </span>
                    <span class="help-block"
                          ng-show="forms.gridForm.resolution_y.$dirty && forms.gridForm.resolution_y.$error.number">
                        {{ i18n.__('Y is invalid number') }}
                      </span>
                  </div>
                </div>
              </div>

              <div class="col-md-6" ng-show="ctrl.analysis.grid.resolution_type === ctrl.resolutionTypes.SAME_FROM_DATA_SERIES.value">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("DataSeries") }}:</label>
                  <select class="form-control"
                          name="resolution_data_series_id"
                          ng-model="ctrl.analysis.grid.resolution_data_series_id"
                          ng-options="targetDS.id as targetDS.name for targetDS in ctrl.selectedDataSeriesList"
                          ng-required="ctrl.analysis.grid.resolution_type == ctrl.resolutionTypes.SAME_FROM_DATA_SERIES.value">
                  </select>

                  <!-- required -->
                  <span class="help-block"
                        ng-show="forms.gridForm.resolution_data_series_id.$dirty && forms.gridForm.resolution_data_series_id.$error.required">
                    {{ i18n.__('Data Series is required') }}
                  </span>
                </div>
              </div> <!-- ./col-md-6 -->
            </div> <!-- ./col-md-12 terrama2-nopadding-box -->
          </div>
        </form>
      </div>
    </terrama2-box>

    <terrama2-box title="i18n.__('Influence Area')" 
                  css="ctrl.css" 
                  ng-show="(ctrl.analysis.type_id == 1 || ctrl.hasDcp()) && forms.generalDataForm.type.$valid">
      <div class="row">
        <div class="col-md-12">
          <form name="forms.influenceForm">
            <div class="col-md-12 terrama2-nopadding-box">
              <div class="col-md-12">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Influence") }}:</label>
                  <select class="form-control"
                          name="influence"
                          ng-model="ctrl.analysis.metadata.INFLUENCE_TYPE"
                          ng-required="ctrl.analysis.type_id == 1 || ctrl.hasDcp()">
                    <option value="{[ Enums.InfluenceTypes.TOUCHES.Value ]}">{[ Enums.InfluenceTypes.TOUCHES.Name ]}</option>
                    <option value="{[ Enums.InfluenceTypes.CENTER.Value ]}">{[ Enums.InfluenceTypes.CENTER.Name ]}</option>
                    <option value="{[ Enums.InfluenceTypes.REGION.Value ]}">{[ Enums.InfluenceTypes.REGION.Name ]}</option>
                  </select>

                  <!-- required -->
                  <span class="help-block" ng-show="forms.influenceForm.influence.$dirty && forms.influenceForm.influence.$error.required">
                    {{ i18n.__('Influence is required') }}
                  </span>
                </div>
              </div>
            </div>
            <div ng-if="ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.TOUCHES.Value ]} || ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.CENTER.Value ]}">
              <div class="col-md-12 terrama2-nopadding-box">

                <div class="col-md-6">
                  <div class="form-group" terrama2-show-errors>
                    <label>{{ i18n.__("Radius") }}:</label>
                    <input class="form-control"
                           name="radius"
                           type="number"
                           ng-model="ctrl.analysis.metadata.INFLUENCE_RADIUS"
                           ng-required="ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.TOUCHES.Value ]} || ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.CENTER.Value ]}">

                    <!-- required -->
                    <span class="help-block" ng-show="forms.influenceForm.radius.$dirty && forms.influenceForm.radius.$error.required">
                      {{ i18n.__('Influence radius is required') }}
                    </span>
                  </div>
                </div>

                <div class="col-md-6">

                  <div class="form-group" terrama2-show-errors>
                    <div class="input-group" style="margin-top: 25px;">
                      <input type="text" name="radiusUnit" class="form-control" aria-label="..." ng-model="ctrl.analysis.metadata.INFLUENCE_RADIUS_UNIT" ng-required="ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.TOUCHES.Value ]} || ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.CENTER.Value ]}">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li data-ng-click="ctrl.onMetadataFormatClick('km')"><a href="#dataSeriesBox">km</a></li>
                          <li data-ng-click="ctrl.onMetadataFormatClick('m')"><a href="#dataSeriesBox">m</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                  </div>

                </div><!-- /.col-md-4 -->
              </div><!--/.col-md-12-->
            </div>

            <div ng-if="ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.REGION.Value ]}">
              <div class="col-md-12 terrama2-nopadding-box">

                <div class="col-md-6">
                  <div class="form-group has-feedback" terrama2-show-errors>
                    <label>{{ i18n.__("Influence Data Series") }}:</label>
                    <select class="form-control" name="dataSeriesId" ng-model="ctrl.analysis.metadata.INFLUENCE_DATASERIES_ID" ng-required="ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.REGION.Value ]}">
                      <option ng-repeat="dataSeries in ctrl.DataSeriesService.list()" value="{{ dataSeries.id }}">{{ dataSeries.name }}</option>
                    </select>

                    <!-- required -->
                    <span class="help-block"
                          ng-show="forms.influenceForm.dataSeriesId.$dirty && forms.influenceForm.dataSeriesId.$error.required">
                      {{ __('Influence data series is required') }}
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" terrama2-show-errors>
                    <!-- TODO: combobox with data series properties -->
                    <label>{{ i18n.__("Influence Attribute") }}:</label>
                    <input class="form-control" 
                           name="attribute" 
                           type="text" 
                           ng-model="ctrl.analysis.metadata.INFLUENCE_ATTRIBUTE" 
                           ng-required="ctrl.analysis.metadata.INFLUENCE_TYPE == {[ Enums.InfluenceTypes.REGION.Value ]}">

                    <!-- required -->
                    <span class="help-block"
                          ng-show="forms.influenceForm.attribute.$dirty && forms.influenceForm.attribute.$error.required">
                      {{ i18n.__('Influence attribute name is required') }}
                    </span>
                  </div>
                </div>
              </div><!--/.col-md-12-->
            </div>
          </form>
        </div>
      </div>
    </terrama2-box>

    <terrama2-box title="i18n.__('Script')" css="ctrl.css" ng-show="forms.generalDataForm.type.$valid">
      <div class="row">

        <div class="col-md-12">
          <form name="forms.scriptForm">
            <div class="form-group" terrama2-show-errors>

              <!-- todo: adding helper functions, syntax validation and syntax highlighter -->
              <label>{{ i18n.__('Analysis Model') }}:</label>
              <div id="scriptCheckResult"></div>
              <div id="systemError" style="display: none;"></div>

              <div terrama2-ace="{}" name="script" ng-model="ctrl.analysis.script">

              </div>

              <!-- required -->
              <span class="help-block"
                    ng-show="forms.scriptForm.script.$dirty && forms.scriptForm.script.$error.required">
                {{ i18n.__('Analysis script is required') }}
              </span>

              <!-- todo: syntax error message -->
            </div>
          </form>

          <div class="col-md-12">
            <div class="btn-group">
              <button aria-expanded="false" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                {{ i18n.__('Functions') }}
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">max</a></li>
                <li><a href="#">min</a></li>
                <li><a href="#">abs</a></li>
              </ul>
            </div>

            <button class="btn btn-default pull-right" style="width: 75px;" ng-click="ctrl.onScriptValidation();">
              <span class="loading" ng-show="ctrl.testingScript">
                <i class="fa fa-refresh fa-spin"></i>
              </span>
              <span class="text" ng-show="!ctrl.testingScript" ng-disabled="ctrl.testingScript" ng-bind="i18n.__('Validate')"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </terrama2-box>

    <div class="box-footer">
      <div class="btn-group pull-right" style="margin-left: 10px;">
        <button type="button" class="btn btn-primary" ng-show="ctrl.schedule.frequency_start_time" ng-bind="i18n.__('Save')" data-ng-click="ctrl.save(true);"></button>
        <button type="button" class="btn btn-primary" ng-show="!ctrl.schedule.frequency_start_time" ng-bind="i18n.__('Save and Run')" data-ng-click="ctrl.save(true);"></button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu terrama2-button-dropdown">
          <li><a href="javascript::void();" ng-show="!ctrl.schedule.frequency_start_time" data-ng-click="ctrl.save(false);" ng-bind="i18n.__('Save')"></a></li>
          <li><a href="javascript::void();" ng-show="ctrl.schedule.frequency_start_time" ng-bind="i18n.__('Save and Run')" data-ng-click="ctrl.save(true);"></a></li>
        </ul>
      </div>
      <!--<button class="btn btn-primary pull-right" style="margin-left: 10px;" data-ng-click="ctrl.save();" id="analysisSaveButton">{{ i18n.__('OK') }}</button>-->
      <a href="/configuration/analysis/" class="btn btn-primary pull-right" id="analysisCancelButton" style="margin-left: 10px;">{{ i18n.__('Cancel') }}</a>
    </div>

  </terrama2-box>
  <!-- List with database tables -->
  <datalist id='tableColumnsList'>
      <option ng-repeat="column in ctrl.columnsList" value="{{column}}">
  </datalist>
</div> <!-- end col md 12 -->

{% endblock %}
