{% extends "../base/layout.html" %}

{% set tabActive = "analysis" %}

{% block ngApp %} ng-app="terrama2.analysis" {% endblock %}

{% block title %} TerraMA² {{ i18n.__('Analysis') }} {% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var globals = {
    enums: {
      AnalysisType: {[ Enums.AnalysisType|json|safe ]},
      ServiceType: {[ Enums.ServiceType|json|safe ]}
    }
  };

  var configuration = {
    message: "{[ message ]}",
    projectId: "{[ activeProject.id ]}"
  };
</script>

{% endblock %}

{% block content %}

<div ng-controller="AnalysisListController">
  <terrama2-box title="i18n.__('Analysis')">
    <div class="col-md-12">
      <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="close()"></terrama2-alert-box2>
    </div>

    <terrama2-table fields="fields" model="model" link="link" icon="icon" icon-properties="iconProperties" 
                    link-to-add="linkToAdd" context="'analysis'" remove="remove(object);" 
                    extra="extra" order-by="'name'">
    </terrama2-table>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
