{% extends "../base/layout.html" %}

{% set tabActive = "analyses" %}

{% block ngApp %} ng-app="terrama2.analyses" {% endblock %}

{% block title %} TerraMA2 {[ __('Analyses') ]} {% endblock %}

{% block javascripts %}

<script src="/externals/angular/angular.min.js"></script>
<script src="/externals/angular/i18n-angular.min.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/table/table.js"></script>

<script>
  angular.module('terrama2.analyses', ['terrama2.table'])
    .controller("ListController", ['$scope', function($scope) {
      $scope.model = [
        {
          name: "An_1",
          type: "Grid"
        },
        {
          name: "An_2",
          type: "Pcd"
        },
        {
          name: "An_3",
          type: "Monitored Object"
        }
      ];

      $scope.iconProperties = {
        type: "img"
      };

      $scope.fields = ['name', 'type'];
      $scope.linkToAdd = "/configuration/analyses/new";
      $scope.link = function(object) {
        return "/configuration/analyses/new";
      };

      $scope.icon = function(object) {
        switch(object.type) {
          case "Monitored Object":
            return "/images/monitored-object.png";
            break;
          case "Grid":
            return "/images/grid-small.png";
            break;
          default:
            return "/images/map-pin.png";
        }
      }
    }]);
</script>

{% endblock %}

{% block content %}

<div class="col-md-12" ng-controller="ListController">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{[ __('Analyses') ]}</h3>
      </div><!-- /.box-header -->

      <div class="box-body">
        <terrama2-table fields="fields" model="model" link="link" icon="icon" icon-properties="iconProperties" link-to-add="linkToAdd"></terrama2-table>
      </div><!-- /.box-body -->

    </div><!-- /.box -->
  </div> <!-- end col md 6 -->

</div> <!-- end col md 12 -->

{% endblock %}