{% extends "../base/layout.html" %}

{% block title %} TerraMA2 {{ __('Dynamic Data') }} {% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ __("Data Providers") }} ({{ __('Dynamic') }})</h3>
                <a href="/configuration/provider?type=dynamic" class="btn" style="color: inherit;"><i class="fa fa-plus"></i></a>
            </div><!-- /.box-header -->

            <div class="box-body">

                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px"><input type="checkbox"></th>
                        <th>{{ __('Name') }}</th>
                        <th>{{ __('Address') }}</th>
                        <th>{{ __('Kind') }}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>DSA</td>
                        <td>dsa.inpe.br</td>
                        <td>FTP</td>
                        <td>
                            <button type="button" class="btn btn-primary">{{ __('Edit') }}</button>
                            <button type="button" class="btn btn-danger">{{ __('Remove') }}</button>
                        </td>
                    </tr>
                </table>

            </div><!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            
        </div><!-- /.box -->
    </div> <!-- end col md 6 -->


    <div class="col-md-6">
        <div class="box">

            <div class="box-header with-border">
                <h3 class="box-title">{{ __('Data Sets') }} ({{ __('Dynamic') }})</h3>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="/configuration/occurrence?type=dynamic">{{ __('Occurrence') }}</a></li>
                        <li><a href="/configuration/pcd?type=dynamic">{{ __('PCD') }}</a></li>
                        <li><a href="/configuration/grid?type=dynamic">{{ __('GRID') }}</a></li>
                    </ul>
                </div>
            </div><!-- /.box-header -->

            <div class="box-body">

                <table class="table table-bordered">

                    <tr>
                        <th style="width: 10px"><input type="checkbox"></th>
                        <th>{{ __('Name') }}</th>
                        <th>{{ __('Kind') }}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>DSA</td>
                        <td>FTP</td>
                        <td>
                            <button type="button" class="btn btn-primary">{{ __('Edit') }}</button>
                            <button type="button" class="btn btn-danger">{{ __('Remove') }}</button>
                        </td>
                    </tr>

                </table>

            </div><!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div><!-- /.box -->
    </div> <!-- end col md 6 -->

</div> <!-- end col md 12 -->

{% endblock %}