{% extends "../base/layout.html" %}
{% set tabActive = "dynamic-data" %}

{% block ngApp %}ng-app="terrama2.listDataSeries"{% endblock %}

{% block styles %}

<style type="text/css">
  .terrama2-filterboxes-align
  {
    display: inline-block;
    margin-left: calc(100% / 10);
  };

</style>
{% endblock %}

{% block title %} TerraMA² {{ i18n.__('Dynamic Data Series') }} {% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var globals = {
    enums: {
      DataSeriesType: {[ Enums.DataSeriesType|json|safe ]},
      ServiceType: {[ Enums.ServiceType|json|safe ]}
    }
  };

  var configuration = {
    hasProjectPermission: {[ hasProjectPermission ]},
    extra: {[extra|json|safe]},
    message: "{[ message ]}",
    dataSeriesType: 'dynamic',
    collectors: {[collectors|json|safe]},
    analysis: {[analysis|json|safe]},
    interpolators: {[interpolators|json|safe]},
    link: function(object) {
      return "{[ BASE_URL ]}configuration/dynamic/dataseries/"+ object.id +"?type=dynamic#/wizard";
    },
    iconFn: function(object) {
      switch(object.data_series_semantics.data_series_type_name) {
        case globals.enums.DataSeriesType.ANALYSIS_MONITORED_OBJECT:
          return "{[ BASE_URL ]}images/analysis/monitored-object/monitored-object_analysis.png";
          break;
        case globals.enums.DataSeriesType.GRID:
          if (object.isAnalysis){
            return "{[ BASE_URL ]}images/analysis/grid/grid_analysis.png";
          } else {
            return "{[ BASE_URL ]}images/dynamic-data-series/grid/grid.png";
          }
          break;
        case globals.enums.DataSeriesType.OCCURRENCE:
          return "{[ BASE_URL ]}images/dynamic-data-series/occurrence/occurrence.png";
          break;
        case globals.enums.DataSeriesType.GEOMETRIC_OBJECT:
          return "{[ BASE_URL ]}images/dynamic-data-series/geometric-object/geometric-object.png";
          break;
        default:
          return "{[ BASE_URL ]}images/dynamic-data-series/dcp/dcp.png";
      }
    },
    iconProperties: {
      type: "img"
    },
    showRunButton: true
  };

  configuration.linkToAdd = "{[ BASE_URL ]}configuration/dynamic/dataseries/new#wizard";

</script>

{% endblock %}

{% block content %}
<div ng-controller="DataSeriesListController">
  <terrama2-box title="i18n.__('Dynamic Data Series')">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="close()"></terrama2-alert-box2>
        </div>

        <terrama2-table fields="fields" model="model" link="link" icon-properties="iconProperties" 
                        link-to-add="linkToAdd" icon="iconFn" remove="remove(object)" 
                        extra="extra" order-by="'name'"></terrama2-table>
      </div>
    </div>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
