{% extends "../base/layout.html" %}
{% set tabActive = "dynamic-data" %}

{% block ngApp %}ng-app="terrama2.listDataSeries"{% endblock %}

{% block styles %}

<style type="text/css">
  .terrama2-filterboxes-align
  {
    display: inline-block;
    margin-left: calc(100% / 10);
  };

</style>
{% endblock %}

{% block title %} TerraMA² {{ i18n.__('Dynamic Data Series') }} {% endblock %}

{% block javascripts %}

<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var globals = {
    enums: {
      DataSeriesType: {[ Enums.DataSeriesType|json|safe ]},
      ServiceType: {[ Enums.ServiceType|json|safe ]}
    }
  };

  var configuration = {
    extra: {[extra|json|safe]},
    message: "{[ message ]}",
    dataSeriesType: 'dynamic',
    collectors: {[collectors|json|safe]},
    analysis: {[analysis|json|safe]},
    link: function(object) {
      return "/configuration/dynamic/dataseries/"+ object.id +"?type=dynamic#/wizard";
    },
    iconFn: function(object) {
      switch(object.data_series_semantics.data_series_type_name) {
        case globals.enums.DataSeriesType.ANALYSIS_MONITORED_OBJECT:
          return "/images/monitored-object.png";
          break;
        case globals.enums.DataSeriesType.GRID:
          return "/images/grid-small.png";
          break;
        case globals.enums.DataSeriesType.OCCURRENCE:
          return "/images/map-display.png";
          break;
        default:
          return "/images/map-pin.png";
      }
    },
    iconProperties: {
      type: "img"
    },
    showRunButton: true
  };

  configuration.linkToAdd = "/configuration/dynamic/dataseries/new#wizard";

</script>

<script src="/javascripts/angular/services.js"></script>
<script src="/javascripts/angular/services/services.js"></script>
<script src="/javascripts/angular/table/table.js"></script>
<script src="/javascripts/angular/alert-box/directives.js"></script>
<script src="/javascripts/angular/data-series/data-series.js"></script>

{% endblock %}

{% block content %}
<div ng-controller="ListController">
  <terrama2-box title="i18n.__('Dynamic Data Series')">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <terrama2-alert-box alert-level="alertLevel" title="alertBox.title" message="alertBox.message" close="resetState()" display-handler="display"></terrama2-alert-box>
        </div>

        <terrama2-table fields="fields" model="model" link="link" icon-properties="iconProperties" 
                        link-to-add="linkToAdd" icon="iconFn" remove="remove(object)" 
                        extra="extra" order-by="'name'"></terrama2-table>
      </div>
    </div>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
