{% extends "../base/layout.html" %}

{% block title %} TerraMA² {[ __("Project Registration") ]} {% endblock %}

{% block javascripts %}
<script src="/externals/angular/angular.min.js"></script>

<script src="/javascripts/angular/app.js"></script>

<script type="text/javascript">
  angular.module("terrama2.project.registration", [])
    .controller("ProjectRegistration", function($scope, $http, $window) {
      $scope.isSubmiting = false;
      $scope.errorFound = "";

      $scope.project = {[ (project || {})|json|safe ]};
      $scope.project.version = 4;

      $scope.save = function() {
        if (!$scope.form.$valid) {
          angular.forEach($scope.form.$error, function (field) {
            angular.forEach(field, function(errorField){
              errorField.$setTouched();
            })
          });
          return;
        }

        $scope.isSubmiting = true;
        $http({
          method: "{[ method ]}",
          url: "{[ url ]}",
          data: $scope.project
        }).success(function(project) {
          console.log(project);
          $scope.errorFound = "";
          $window.location.href = "/configuration/projects?token=" + project.token;
        }).error(function(err) {
          $scope.errorFound = err.message;
          console.log(err);
          $scope.form.name.$invalid = true;

        }).finally(function(){
          $scope.isSubmiting = false;
        });
      };
    });

</script>

{% endblock %}

{% block content %}

<div class="col-md-12" ng-app="terrama2.project.registration">
  <div class="col-md-12" ng-controller="ProjectRegistration">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">{[ __("Project Registration") ]}</h3>
      </div>
      <!-- /.box-header -->
      <div style="display: block;" class="box-body">
        <div class="row">
          <form name="form">
            <div class="col-md-12">
              <div class="form-group" ng-class="{'has-error': form.name.$touched && form.name.$invalid}">
                <label>{[ __("Name") ]}:</label>
                <input class="form-control" name="name" ng-model="project.name" placeholder="{[ __('Project Name') ]}" type="text" required>
                <span class="help-block has-error" ng-show="form.name.$touched && form.name.$error.required && form.name.$invalid">{[ __('Project name is required') ]}</span>

                <span class="help-block has-error" ng-show="errorFound">{{ errorFound }}</span>
              </div>
            </div>
            <!-- /.col -->

            <div class="col-md-12">
              <div class="form-group">
                <label>{[ __("Description") ]}:</label>
                <textarea class="form-control" rows="3" name="description" ng-model="project.description"  placeholder="{[ __('Project Description') ]}"></textarea>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->

          </form>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" ng-click="save();" style="margin-left: 10px;">{[ __("OK") ]}</button>
        <a href="/configuration/projects" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __("Cancel") ]}</a>
      </div>

      <div class="overlay" ng-show="isSubmiting">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div> <!-- end col md 6 -->
</div> <!-- end col md 12 -->

{% endblock %}
