{% extends "../base/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/externals/bootstrap/css/bootstrap-datetimepicker.css">

<style type="text/css">

</style>
{% endblock %}

{% block title %} TerraMA2 {[ __('Projects') ]} {% endblock %}

{% block javascripts %}
<script src="/externals/angular/angular.min.js"></script>
<script src="/externals/angular/i18n-angular.min.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/table/table.js"></script>
<script src="/javascripts/angular/alert-box/directives.js"></script>
<script type="text/javascript">
  angular.module("terrama2.projects", ['terrama2', 'terrama2.table', 'terrama2.components.messagebox'])
    .controller("ProjectController", function($scope, $http) {
      $scope.model = [];
      $scope.linkToAdd = "/configuration/projects/new";
      $scope.fields = [
        {key: "name", as: "Name"},
        {key: "description", as: "Description"}
      ];

      $scope.remove = function(object) {
        return "/api/Project/" + object.id + "/delete";
      };

      $scope.link = function(object) {
        return "/configuration/projects/" + object.name + "/activate";
      };
      $scope.iconProperties = {};

      $scope.loading = true;

      // alert-box
      $scope.alertLevel = "alert-success";
      $scope.alertBox = {
        title: "Project",
        message: "{[ message ]}"
      };

      // callback after remove operation
      $scope.extra = {
        removeOperationCallback: function(err, data) {
          $scope.display = true;
          if (err) {
            $scope.alertLevel = "alert-danger";
            $scope.alertBox.message = err.message;
            return;
          }

          $scope.alertLevel = "alert-success";
          $scope.alertBox.message = data.name + " removed";
        }
      };

      $scope.display = {% if message %}true{% else %} false{% endif %};

      $http.get("/api/Project/", {}).success(function(projects) {
        $scope.model = projects;
      }).error(function(err) {
        console.log("Err in retrieving projects");
      }).finally(function() {
        $scope.loading = false;
      });

    });
</script>

{% endblock %}

{% block bodyClass %}
sidebar-collapse
{% endblock %}

{% block content %}
<div class="col-md-12" ng-app="terrama2.projects">
  <div class="box box-default" ng-controller="ProjectController">
    <div class="box-header with-border">
      <h3 class="box-title">{[ __('Projects') ]}</h3>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">

      <div class="col-md-12">

        <div class="col-md-12">
          <terrama2-alert-box alert-level="alertLevel" title="alertBox.title" message="alertBox.message" close="resetState()" display-handler="display"></terrama2-alert-box>
        </div>

        <terrama2-table fields="fields" model="model" link="link" icon-properties="iconProperties" link-to-add="linkToAdd" icon="iconFn" context="'project'" remove="remove(object)" extra="extra"></terrama2-table>
      </div>

    </div>
    <!-- /.box body -->

    <div class="overlay" ng-show="loading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</div> <!-- end col md 12 -->

{% endblock %}