{% extends "../base/layout.html" %}

{% block title %} TerraMA² {[ __("Project Registration") ]} {% endblock %}

{% block ngApp %}ng-app="terrama2.projects" {% endblock %}

{% block javascripts %}
<script>
  var configuration = {
    project: {[ project|json|safe ]},
    method: "{[ method ]}",
    url: "{[ url ]}"
  }
</script>
<script src="/externals/angular/angular.min.js"></script>
<script src="/externals/angular/i18n-angular.min.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/projects/app.js"></script>
<script src="/javascripts/angular/projects/controllers.js"></script>

{% endblock %}

{% block content %}

<div ng-controller="Registration">
  <terrama2-box title="'{[ __("Project Registration") ]}'">
    <form name="forms.projectForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" terrama2-show-errors>
            <label>{[ __("Name") ]}:</label>
            <input class="form-control" name="name" ng-model="project.name" placeholder="{[ __('Project Name') ]}" type="text" required>
            <span class="help-block has-error" ng-show="form.name.$dirty && form.name.$error.required && form.name.$invalid">{[ __('Project name is required') ]}</span>

            <span class="help-block has-error" ng-show="errorFound">{{ errorFound }}</span>
          </div>
        </div>
        <!-- /.col -->

        <div class="col-md-12">
          <div class="form-group">
            <label>{[ __("Description") ]}:</label>
            <textarea class="form-control" rows="3" name="description" ng-model="project.description"  placeholder="{[ __('Project Description') ]}"></textarea>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" ng-click="save(this);" style="margin-left: 10px;">{[ __("OK") ]}</button>
        <a href="/configuration/projects" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __("Cancel") ]}</a>
      </div>

      <div class="overlay" ng-show="isSubmiting">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- /.row -->
    </form>
  </terrama2-box>
</div> <!-- ./div -->

{% endblock %}
