{% extends "../base/layout.html" %}

{% set tabActive = "data-provider" %}

{% block staticDataMenu %}active{% endblock %}

{% block title %} TerraMA² {{ i18n.__('Data Server') }}{% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var configuration = {
    message: "{[ message ]}",
    iconFn: function(object) {
      switch(object.data_provider_type.name) {
        case "FILE":
          return BASE_URL + "images/data-server/file/file.png";
          break;
        case "POSTGIS":
          return BASE_URL + "images/data-server/postGIS/postGIS.png";
          break;
        case "FTP":
          return BASE_URL + "images/data-server/ftp/ftp.png";
          break;
        case "WFS":
          return BASE_URL + "images/data-server/wfs/datasource-wfs.svg";
        case "SFTP":
          return BASE_URL + "images/data-server/sftp/sftp.png";
          break;
        case "HTTP":
        case "HTTPS":
        case "STATIC-HTTP":
          return BASE_URL + "images/data-server/http/http.png";
          break;
      }
    },
    iconProperties: {
      type: "img"
    },
    hasProjectPermission: {[ hasProjectPermission ]}
  };
</script>

{% endblock %}

{% block content %}
<div ng-controller="DataProviderListController">
  <terrama2-box title="i18n.__('Data Servers')" helper="'{[ BASE_URL ]}helper/data_servers.html'">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="close()"></terrama2-alert-box2>
        </div>

        <terrama2-table fields="fields" model="model" link="link" status-change-link="statusChangeLink" icon-properties="iconProperties"
                        link-to-add="linkToAdd" icon="iconFn" context="'data provider'"
                        remove="remove(object);" extra="extra" order-by="'name'"></terrama2-table>
      </div>
    </div>

    <div class="overlay" ng-show="loading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
