{% extends "../base/layout.html" %}

{% block title %} TerraMA2 {{ __("Data Provider Registration") }} {% endblock %}

{% block javascripts %}
<script src="/externals/angular/angular.min.js"></script>
<!--<script src="/javascripts/angular/app.js"></script>-->
<script src="/javascripts/angular/alert-box.js"></script>

<script>
  angular.module("terrama2.dataprovider.registration", ['terrama2.alertbox'])
    .config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{[');
      $interpolateProvider.endSymbol(']}');
    }])
    .controller("Ctrl", function($scope, $http, $q) {
      $http.get("/api/DataProviderType/", {}).success(function(typeList) {
        $scope.kindList = typeList;
      }).error(function(err) {
        console.log("err type: ", err);
      });

      $scope.isEditing = false;
      $scope.errorFound = false;
      $scope.isDynamic = {{ (state|lower === "dynamic") }};
      $scope.alertBox = {};
      $scope.isChecking = false;
      $scope.message = "";
      $scope.remoteFieldsRequired = false;
      $scope.dataProvider = {
        kind: "",
        user: "",
        password: "",
        address: "",
        port: "",
        path: "",
        project: "{{ activeProject.name }}",
        active: $scope.isDynamic
      };
      $scope.onKindChanged = function() {
        $scope.remoteFieldsRequired = $scope.dataProvider.kind.toLocaleLowerCase() !== "file";
      };

      $scope.save = function() {
        if (!$scope.form.$valid) {
          angular.forEach($scope.form.$error, function (field) {
            angular.forEach(field, function(errorField){
              errorField.$setTouched();
            })
          });
          return;
        }

        $scope.alertBox.title = "Data Provider Registration";
        $scope.errorFound = false;
        $http.post("/api/DataProvider", $scope.dataProvider).success(function(dataProvider) {
          $scope.alertBox.message = "Data Provider has been saved";
          $scope.isEditing = true;
        }).error(function(err) {
          $scope.errorFound = true;
          $scope.alertBox.message = err.message;
          console.log(err);
        });
      };
      $scope.checkConnection = function() {
        $scope.isChecking = true; // for handling loading page
        $scope.resetState = function() {
          $scope.errorFound = false;
          $scope.alertBox.message = "";
        };

        // Timeout in seconds for handling connections
        $scope.timeOutSeconds = 8;

        // Function for requests success, error and timeout
        var makeRequest = function() {
          var timeOut = $q.defer();
          var result = $q.defer();
          var expired = false;
          setTimeout(function() {
            expired = true;
            timeOut.resolve();
          }, 1000 * $scope.timeOutSeconds);

          var httpRequest = $http({
            method: "POST",
            url: "/uri/",
            data: $scope.dataProvider,
            timeout: timeOut.promise
          });

          httpRequest.success(function(data) {
            result.resolve(data);
          });

          httpRequest.error(function(err) {
            if (expired)
              result.reject({message: "Timeout: Request took longer than " + $scope.timeOutSeconds + " seconds."});
            else
              result.reject(err);
          });

          return result.promise;
        };

        var request = makeRequest();

        request.then(function(data) {
          $scope.alertBox.title = "Connection Status";
          if (data.message){ // error found
            $scope.errorFound = true;
            $scope.alertBox.message = data.message;
          } else {
            $scope.errorFound = false;
            $scope.alertBox.message = "Connection Successful";
          }
        }).catch(function(err) {
          $scope.alertBox.title = "Connection Status";
          $scope.errorFound = true;
          $scope.alertBox.message = err.message;
        }).finally(function() {
          $scope.isChecking = false;
        });
      };
    });
</script>
{% endblock %}

{% block content %}

<div class="col-md-12" ng-app="terrama2.dataprovider.registration">
  <div class="col-md-12" ng-controller="Ctrl">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">{{ __("Data Provider Registration") }}</h3>
      </div>
      <!-- /.box-header -->
      <div style="display: block;" class="box-body">
        <!--<terrama2-alert-box title="alertBox.title" message="alertBox.message" errorFound="errorFound"></terrama2-alert-box>-->
        <div ng-show="alertBox.message" ng-class="{'alert alert-danger alert-dismissible': errorFound, 'alert alert-success alert-dismissible': !errorFound}">
          <button type="button" class="close" ng-click="resetState()">×</button>
          <h4><i ng-class="{'icon fa fa-exclamation-triangle': errorFound, 'icon fa fa-check': !errorFound}"></i> {[ alertBox.title ]}</h4>
          {[ alertBox.message ]}
        </div>

        <div class="row">
          <form name="form">
            <input type="hidden" name="project" ng-model="dataProvider.project" ng-value="{{ activeProject.name }}">
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error': form.name.$touched && form.name.$invalid}">
                <label>{{ __("Name") }}:</label>
                <input class="form-control" name="name" ng-model="dataProvider.name" placeholder="{{ __('Data Provider Name') }}" type="text" ng-disabled="isEditing" required>
                <span class="help-block" ng-show="form.name.$touched && form.name.$invalid" ng-class="{'has-error': form.name.$invalid}">{{ __('Data provider name is required') }}</span>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error': form.kind.$touched && form.kind.$invalid}">
                <label>{{ __("Type") }}:</label>
                <select class="form-control" name="kind" ng-model="dataProvider.kind" ng-change="onKindChanged()" ng-disabled="isEditing" required>
                  <option ng-repeat="item in kindList" value="{[ item.name ]}">{[ item.name ]}</option>
                </select>
                <span class="help-block" ng-show="form.kind.$touched && form.kind.$invalid" ng-class="{'has-error': form.kind.$invalid}">{{ __('Data provider kind is required') }}</span>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{{ __("Description") }}:</label>
                <textarea class="form-control" ng-model="dataProvider.description" rows="3" placeholder="{{ __('Data Provider Description') }}" ng-disabled="isEditing"></textarea>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->

            <div class="col-md-8">
              <div class="form-group" ng-class="{'has-error': form.address.$touched && form.address.$invalid && remoteFieldsRequired}">
                <label>{{ __("Address") }}:</label>
                <input class="form-control" name="address" ng-model="dataProvider.address" placeholder="{{ __('Data Provider Address')}}" type="text" ng-disabled="isEditing" ng-required="dataProvider.kind !== 'FILE'">
                <span class="help-block has-error" ng-show="form.address.$touched && form.address.$invalid && remoteFieldsRequired">{{ __('Data provider address is required for') }} {[ dataProvider.kind ]}</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group" ng-class="{'has-error': form.port.$touched && form.port.$invalid && remoteFieldsRequired}">
                <label>{{ __("Port") }}:</label>
                <input class="form-control" name="port" placeholder="{{ __('Port')}}" ng-model="dataProvider.port" type="number" min="0" max="65535" ng-disabled="isEditing" ng-required="dataProvider.kind !== 'FILE'">
                <span class="help-block has-error" ng-show="form.port.$touched && form.port.$error.required && remoteFieldsRequired">{{ __('Port is required for') }} {[ dataProvider.kind ]}</span>
                <span class="help-block has-error" ng-show="form.port.$touched && form.port.$error.number && remoteFieldsRequired">{{ __('Port must be a number') }}</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>{{ __("User") }}:</label>
                <input class="form-control" id="user" ng-model="dataProvider.user" placeholder="{{ __('User to connect') }}" type="text" ng-disabled="isEditing">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>{{ __("Password") }}:</label>
                <input class="form-control" id="password" ng-model="dataProvider.password" placeholder="{{ __('User password')}}" type="password" ng-disabled="isEditing">
              </div>
            </div>

            <div ng-class="isDynamic ? 'col-md-10' : 'col-md-12' ">
              <div class="form-group" ng-class="{'has-error': form.path.$touched && form.path.$invalid && form.kind.$invalid}">
                <label>{{ __("Path") }}:</label>
                <input class="form-control" name="path" ng-model="dataProvider.path" placeholder="{{ __('Base Path Destination')}}" type="text" ng-disabled="isEditing" required>
                <span class="help-block has-error" ng-show="form.path.$touched && form.path.$invalid && form.kind.$invalid">{{ __('Data provider path is required') }}</span>
              </div>
            </div>

            <div class="col-md-2" ng-show="isDynamic">
              <div class="form-group">
                <div class="checkbox">
                  <label style="font-weight: 700; margin-top:19px;">
                    <input type="checkbox" name="active" ng-model="dataProvider.active" ng-init="template.disabled" ng-checked="isDynamic" > {{ __("Active Server") }}
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" style="margin-left: 10px;">{{ __("Cancel") }}</button>
        <button type="submit" class="btn btn-primary pull-right" ng-click="checkConnection();" style="margin-left: 10px;">{{ __("Check Connection")}}</button>
        <button type="submit" class="btn btn-primary pull-right" ng-click="save();" style="margin-left: 10px;">{{ __("OK") }}</button>
      </div>

      <div class="overlay" ng-show="isChecking">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div> <!-- end col md 6 -->
</div> <!-- end col md 12 -->

{% endblock %}