{% extends "../base/layout.html" %}

{% block title %} TerraMA2 {[ __("Data Provider Registration") ]} {% endblock %}

{% block ngApp %} ng-app="terrama2.dataprovider.registration" {% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/externals/angular/angular.min.js"></script>
<script type="text/javascript" src="/externals/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/externals/tv4/tv4.min.js"></script>
<script type="text/javascript" src="/externals/objectpath/ObjectPath.js"></script>
<script type="text/javascript" src="/externals/angular-schema-form/schema-form.min.js"></script>
<script type="text/javascript" src="/externals/bootstrap/js/bootstrap-decorator.min.js"></script>

<script>
  // Setting it to define data provider: static or dynamic
  var configuration = {
    project: "{[ activeProject.name ]}",
    isDynamic: {[ (state|lower === "dynamic") ]},
    isEditing: {[ isEditing || false ]},
    dataProvider: {[ dataProvider|json|safe || {} ]},
    saveConfig: {[ saveConfig|json|safe ]}
  };
</script>

<script src="/javascripts/angular/dataProviderRegistration.js"></script>

{% endblock %}

{% block content %}

<div class="col-md-12">
  <div class="col-md-12" ng-controller="RegisterController">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">{[ __("Data Provider Registration") ]}</h3>
      </div>
      <!-- /.box-header -->
      <div style="display: block;" class="box-body">
        <div ng-show="alertBox.message" ng-class="{'alert alert-danger alert-dismissible': errorFound, 'alert alert-success alert-dismissible': !errorFound}">
          <button type="button" class="close" ng-click="resetState()">×</button>
          <h4><i ng-class="{'icon fa fa-exclamation-triangle': errorFound, 'icon fa fa-check': !errorFound}"></i> {{ alertBox.title }}</h4>
          {{ alertBox.message }}
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header terrama2-component-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">{[ __('Data Provider Confirmation') ]}</h4>
              </div>
              <div class="modal-body">
                <div class="row">

                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">{[ __('Yes') ]}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{[ __('No') ]}</button>
              </div>

            </div>
          </div>
        </div>


        <div class="row">

          <form name="form2">
            <div class="col-md-7">
              <div class="form-group" ng-class="{'has-error': form.name.$touched && form.name.$invalid}">
                <label>{[ __("Name") ]}:</label>
                <input class="form-control" name="name" ng-model="dataProvider.name" placeholder="{[ __('Data Provider Name') ]}" type="text" ng-disabled="isEditing" required>
                <span class="help-block" ng-show="form.name.$touched && form.name.$invalid" ng-class="{'has-error': form.name.$invalid}">{[ __('Data provider name is required') ]}</span>
              </div>
            </div>
            <!-- /.col -->
            <div ng-class="isDynamic ? 'col-md-3' : 'col-md-5' ">
              <div class="form-group" ng-class="{'has-error': form.protocol.$touched && form.protocol.$invalid}">
                <label>{[ __("Type") ]}:</label>
                <select class="form-control" name="protocol" ng-model="protocol" ng-change="onSchemeChanged()" ng-disabled="isEditing" required>
                  <option ng-repeat="item in typeList" value="{{ item.name }}" title="{{ item.description }}">{{ item.name }}</option>
                </select>
                <span class="help-block" ng-show="form.protocol.$touched && form.protocol.$invalid" ng-class="{'has-error': form.protocol.$invalid}">{[ __('Data provider protocol is required') ]}</span>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-2" ng-show="isDynamic">
              <div class="form-group">
                <div class="checkbox">
                  <label style="font-weight: 700; margin-top:19px;">
                    <input type="checkbox" name="active" ng-model="dataProvider.active" ng-init="$scope.dataProvider.active"> {[ __("Active Server") ]}
                  </label>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{[ __("Description") ]}:</label>
                <textarea class="form-control" ng-model="dataProvider.description" rows="3" placeholder="{[ __('Data Provider Description') ]}" ng-disabled="isEditing"></textarea>
              </div>
              <!-- /.form-group -->
            </div>
          </form>

            <div class="col-md-12">
              <div class="form-group">
                <form name="connectionForm" sf-schema="schema" sf-form="form" sf-model="model" sf-options="options"></form>
              </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __("Cancel") ]}</button>
        <button type="submit" class="btn btn-primary pull-right" ng-click="checkConnection(connectionForm);" style="margin-left: 10px;">{[ __("Check Connection")]}</button>
        <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#confirmModal" style="margin-left: 10px;">{[ __("OK") ]}</button>
      </div>

      <div class="overlay" ng-show="isChecking">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div> <!-- end col md 6 -->
</div> <!-- end col md 12 -->

{% endblock %}