{% extends "../base/layout.html" %}

{% block title %} TerraMA2 Dados Estáticos {% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Data Providers (Estático) <a href="/configuration/provider?type=static" style="border:none;"><i class="fa fa-plus"></i></a> </h3>
            </div><!-- /.box-header -->

            <div class="box-body">

                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px"><input type="checkbox"></th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Tipo</th>
                        <!-- <th style="width: 150px"></th> -->
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>DSA</td>
                        <td>dsa.inpe.br</td>
                        <td>FTP</td>
                        <td>
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>
                </table>

            </div><!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            
        </div><!-- /.box -->
    </div> <!-- end col md 6 -->


    <div class="col-md-6">
        <div class="box">

            <div class="box-header with-border">
                <h3 class="box-title">Data Sets (Estático) <button style="border:none;"><i class="fa fa-plus"></i></button>  </h3>
            </div><!-- /.box-header -->

            <div class="box-body">

                <table class="table table-bordered">

                    <tr>
                        <th style="width: 10px"><input type="checkbox"></th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <!-- <th style="width: 150px"></th> -->
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>DSA</td>
                        <td>FTP</td>
                        <td>
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>

                </table>

            </div><!-- /.box-body -->

            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div><!-- /.box -->
    </div> <!-- end col md 6 -->

</div> <!-- end col md 12 -->

{% endblock %}