{% extends "../base/layout.html" %}

{% set tabActive = "static-data" %}

{% block title %} TerraMA² {{ i18n.__('Static Data') }} {% endblock %}

{% block javascripts %}

<script type="text/javascript">
 var globals = {
   enums: {
     DataSeriesType: {[ Enums.DataSeriesType|json|safe ]}
   }
 };

 var baseUrl = BASE_URL + "configuration/static/dataseries/";
 var configuration = {
   message: "{[ message ]}",
   dataSeriesType: 'static',
   link: function(object) {
     return baseUrl + object.id + "?type=static#/wizard";
   },
   iconFn: function(object) {
     if (object.model_type === 'Grid') {
       return BASE_URL + "images/static-data-series/grid/grid.png";
     } else {
      return BASE_URL + "images/static-data-series/vetorial/vetorial.png";
     }

   },

   iconProperties: {
     type: "img"
   }
 };

 configuration.linkToAdd = baseUrl + "new";

</script>

{% endblock %}

{% block content %}

<div ng-controller="DataSeriesListController">
  <terrama2-box title="i18n.__('Static Data')">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="close()"></terrama2-alert-box2>
        </div>

        <terrama2-table fields="fields" model="model" icon="iconFn" link="link" 
                       icon-properties="iconProperties" link-to-add="linkToAdd"
                       remove="remove(object)" extra="extra" order-by="orderBydata">
        </terrama2-table>
      </div>
    </div>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
