{% extends "../base/layout.html" %}

{% set tabActive = "status" %}

{% block ngApp %}ng-app="terrama2.status"{% endblock %}

{% block title %} TerraMA² {{ i18n.__('Project Status') }} {% endblock %}

{% block javascripts %}
<script type="text/javascript">
  var globals = {
    enums: {
      StatusLog: {[ Enums.StatusLog|json|safe ]},
      MessageType: {[ Enums.MessageType|json|safe ]},
      ServiceType: {[ Enums.ServiceType|json|safe ]}
    }
  }
  var configuration = {
    collectors: {[ collectors|json|safe ]} || {},
    analysis: {[ analysis|json|safe ]} || {},
    views: {[ views|json|safe ]} || {},
    parameters: {[ parameters|json|safe ]}
  }
</script>
<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- Moment JS -->
<script type="text/javascript" src="/bower_components/moment/moment.js"></script>

<script src="/javascripts/angular/table/table.js"></script>
<script src="/javascripts/angular/services.js"></script>
<script src="/javascripts/angular/alert-box/directives.js"></script>
<script src="/javascripts/angular/status/status.js"></script>

{% endblock %}

{% block content %}

<div class="col-md-12" ng-controller="StatusController">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><span ng-bind="i18n.__('Status')"></span></h3>
    </div><!-- /.box-header -->

    <div class="box-body">

      <div class="col-md-12">
        <div class="col-md-12">
          <terrama2-alert-box alert-level="alertLevel" title="alertBox.title" message="alertBox.message" close="resetState()" display-handler="display"></terrama2-alert-box>
        </div>

        <terrama2-table-header link="linkToAdd"></terrama2-table-header>

        <terrama2-table-view expression="element in model | filter:searchInput | orderBy: '-date' track by $index">
          <terrama2-td title="{{ i18n.__('Status') }}">
            <!-- Todo: Add it with Socket event in order to retrieve dynamically -->
            <!--<span style="margin-left: 4px;" ng-if="element.status === globals.enums.StatusLog.START">
              <i style="font-size: 20px;" class="fa fa-spin fa-refresh"></i>
            </span>-->
            <img ng-src="{{ iconFn(element) }}" alt="" width="24" height="24">
          </terrama2-td>
          <terrama2-td title="{{ i18n.__('Service') }}">
            <span ng-bind="element.service"></span>
          </terrama2-td>
          <terrama2-td title="{{ i18n.__('Type') }}">
            <span ng-bind="element.type"></span>
          </terrama2-td>
          <terrama2-td title="{{ i18n.__('Name') }}">
            <span ng-bind="element.name"></span>
          </terrama2-td>
          <terrama2-td title="{{ i18n.__('Message') }}" showMoreInfo="true" fillModal="setSelectedLog(element)">
            <span ng-bind="(element.message.length > 15) ? ((element.message | limitTo:15) + '...') : element.message"></span>
          </terrama2-td>
          <terrama2-td title="{{ i18n.__('Date') }}">
            <span title="{{ element.date.calendar() }}" ng-bind="element.date.fromNow()"></span>
          </terrama2-td>
        </terrama2-table-view>
      </div>

    </div><!-- /.box-body -->
    <!-- Modal to show messages-->
    <terrama2-modal-messages>
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="messageLog in selectedLog.messages"
            ng-class="{'list-group-item-warning': messageLog.type === globals.enums.MessageType.WARNING_MESSAGE, 'list-group-item-info': messageLog.type === globals.enums.MessageType.INFO_MESSAGE, 'list-group-item-danger': messageLog.type === globals.enums.MessageType.ERROR_MESSAGE}"
            ng-bind="messageLog.description">
        </li>
      </ul>
    </terrama2-modal-messages>

  </div><!-- /.box -->

</div> <!-- end col md 12 -->

{% endblock %}
