{% extends "../base/layout.html" %}

{% set tabActive = "views" %}

{% block ngApp %} ng-app="terrama2.views.controllers.viewlist" {% endblock %}

{% block title %} TerraMA² {{ i18n.__('Views') }} {% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var configuration = {
    extra: {[extra|json|safe]},
    message: "{[ message ]}"
  };
</script>

{% endblock %}

{% block content %}

<div ng-controller="ViewListController as ctrl">
  <terrama2-box title="i18n.__('Views')">
    <div class="col-md-12">
      <terrama2-alert-box2 handler="ctrl.MessageBoxService.alertBox" close="ctrl.close()"></terrama2-alert-box2>
    </div>

      <terrama2-table fields="ctrl.fields"
                      model="ctrl.model"
                      link="ctrl.link"
                      icon="ctrl.icon"
                      icon-properties="ctrl.iconProperties"
                      link-to-add="ctrl.linkToAdd"
                      remove="ctrl.remove(object);"
                      extra="ctrl.extra" order-by="'name'">
      </terrama2-table>
  </terrama2-box> <!-- end col md 6 -->

</div> <!-- end col md 12 -->

{% endblock %}
