{% extends "../base/layout.html" %}

{% set tabActive = "views" %}

{% block ngApp %} ng-app="terrama2.views.controllers.viewregisterupdate" {% endblock %}

{% block title %} TerraMA² {{ i18n.__('View Registration') }} {% endblock %}

{% block styles %}
  <!-- Bootstrap Eonasdan datatimepicker (used in TerraMA² datetimepicker wrapper) -->
  <link rel="stylesheet" href="{[ BASE_URL ]}externals/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">

  <!-- Angular Color Picker -->
  <link rel="stylesheet" href="{[ BASE_URL ]}externals/angular-color-picker/dist/angularjs-color-picker.min.css" />
  <link rel="stylesheet" href="{[ BASE_URL ]}externals/angular-ui-select/dist/select.min.css" />
  <!-- only include if you use bootstrap -->
  <link rel="stylesheet" href="{[ BASE_URL ]}externals/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css" />

  <style>
    .has-feedback label~.form-control-feedback {
      top: 25px !important;
      margin-right: 20px !important;
    }
  </style>
{% endblock %}

{% block javascripts %}

<script>
  var configuration = {
    view: {[ view|json|safe ]},
    hasProjectPermission: {[ hasProjectPermission|json|safe ]}
  };
  var globals = {
    enums: {
      ScheduleType: {[ ScheduleType|json|safe ]},
      ViewSourceType: {[ ViewSourceType|json|safe ]}
    }
  };
</script>

<!-- Moment Datetime JS -->
<script type="text/javascript" src="{[ BASE_URL ]}externals/moment/moment.js"></script>
<!-- Ace editor -->
<script type="text/javascript" src="{[ BASE_URL ]}externals/ace-builds/src/ace.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/ace-builds/src/ext-language_tools.js"></script>

<!-- Angular Schema Form dependencies -->
<script type="text/javascript" src="{[ BASE_URL ]}externals/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/tv4/tv4.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/objectpath/lib/ObjectPath.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/angular-schema-form/dist/schema-form.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
<!-- Bootstrap datetimepicker -->
<script type="text/javascript" src="{[ BASE_URL ]}externals/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="{[ BASE_URL ]}externals/moment/locale/pt-br.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/moment/locale/es.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/moment/locale/fr.js"></script>
<script type="text/javascript" src="{[ BASE_URL ]}externals/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js"></script>

<!-- Angular Color Picker -->
<script src="{[ BASE_URL ]}externals/tinycolor/dist/tinycolor-min.js"></script>
<script src="{[ BASE_URL ]}externals/angular-color-picker/dist/angularjs-color-picker.min.js"></script>
<script src="{[ BASE_URL ]}externals/angular-ui-select/dist/select.min.js"></script>


{% endblock %}

{% block content %}

<div ng-controller="ViewRegisterUpdateController as ctrl">
  <terrama2-box title="i18n.__(ctrl.isUpdating ? 'View Update' : 'View Registration')">
    <div class="col-md-12">
      <terrama2-alert-box2 handler="ctrl.MessageBoxService.alertBox" close="ctrl.close()"></terrama2-alert-box2>
    </div>
    <terrama2-box title="i18n.__('General Data')" css="ctrl.css">
      <form name="forms.viewForm">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group" terrama2-show-errors>
                <label><span ng-bind="i18n.__('Name')">:</span></label>
                <input class="form-control"
                       name="name"
                       ng-model="ctrl.view.name"
                       placeholder="{{ i18n.__('View Name') }}" type="text" required>

                <span class="help-block"
                      ng-show="forms.viewForm.name.$dirty && forms.viewForm.name.$invalid"
                      ng-class="{'has-error': viewForm.name.$invalid}"
                      ng-bind="i18n.__('View name is required')">
                </span>
              </div>
            </div> <!-- ./col-md-5 -->
            <div class="col-md-4">
              <div class="form-group" terrama2-show-errors>
                <label><span ng-bind="i18n.__('Service')">:</span></label>
                <ui-select name="service"
                        ng-model="ctrl.view.service_instance_id"
                        required>
                  <ui-select-match>
                    <img ng-src="{[ BASE_URL ]}images/services/view/view_service.png" style="height: 20px; margin-top: -7px;"/>
                    <span ng-bind="$select.selected.name"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="instance.id as instance in (ctrl.filteredServices | filter: {'name': $select.search}) track by instance.id">
                    <img ng-src="{[ BASE_URL ]}images/services/view/view_service.png" style="height: 20px;"/>
                    <span ng-bind="instance.name"></span>
                  </ui-select-choices>
                </ui-select>

                <span class="help-block"
                      ng-show="forms.viewForm.service.$dirty && forms.viewForm.service.$error.required"
                      ng-bind="i18n.__('Service is required')">
                </span>
              </div>
            </div> <!-- ./col-md-5 -->
            <div class="col-md-2">
              <div class="form-group">
                <div class="checkbox">
                  <label style="font-weight: 700; margin-top:19px;">
                    <input type="checkbox"
                            name="ptivate"
                            ng-model="ctrl.view.private"
                            ng-init="ctrl.initPrivate()"> <span ng-bind="i18n.__('Private')"></span>
                  </label>
                </div>
              </div>
            </div> <!-- ./col-md-2 -->
          </div><!-- ./col-md-12 -->
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="form-group">
                <label><span ng-bind="i18n.__('Description')"></span>:</label>
                <textarea class="form-control"
                          ng-model="ctrl.view.description"
                          rows="3"
                          placeholder="{{ i18n.__('View Description') }}"></textarea>
              </div>
              <!-- /.form-group -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="form-group" style="float: right;">
                <div class="checkbox">
                  <label style="font-weight: 700; margin-top:19px;">
                    <input type="checkbox"
                            name="active"
                            ng-model="ctrl.view.active"
                            ng-init="ctrl.initActive()"> <span ng-bind="i18n.__('Active')"></span>
                  </label>
                </div>
              </div>
            </div> <!-- ./col-md-2 -->
          </div>
        </div>
      </form>
    </terrama2-box>

    <terrama2-box title="i18n.__('Data Series')" css="ctrl.css">
      <form name="forms.dataSeriesForm">
        <div class="col-md-6">
          <div class="form-group" terrama2-show-errors>
            <label><span ng-bind="i18n.__('View Data Series')"></span>:</label>
            <div class="pull-right">
              <span><input type="checkbox" ng-model="ctrl.filter['isAnalysis']"> {{ i18n.__('Analysis') }} &nbsp</span> 
              <span><input type="checkbox" ng-model="ctrl.filter['DYNAMIC']"> {{ i18n.__('Dynamic') }} &nbsp</span> 
              <span><input type="checkbox" ng-model="ctrl.filter['STATIC']"> {{ i18n.__('Static') }}</span> 
            </div>
            <ui-select
                    name="dataSeries"
                    ng-model="ctrl.view.data_series_id"
                    ng-change="ctrl.onDataSeriesChanged(ctrl.view.data_series_id, dSeries)"
                    required>
              <ui-select-match>
                <img ng-src="{{ctrl.getImageUrl($select.selected)}}" style="max-width: 20px; height: 20px; margin-top: -9px"/>
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="dSeries.id as dSeries in (ctrl.dataSeries | filter:ctrl.filterByType | orderBy: 'name') track by dSeries.id">
                <img ng-src="{{ctrl.getImageUrl(dSeries)}}" style="max-width: 20px; height: 20px;"/>
                <span ng-bind="dSeries.name"></span>
              </ui-select-choices>
            </ui-select>

            <span class="help-block"
              ng-show="forms.dataSeriesForm.dataSeries.$dirty && forms.dataSeriesForm.dataSeries.$error.required"
              ng-bind="i18n.__('Data Series is required')">
            </span>
          </div>
        </div>
      </form>
    </terrama2-box>

    <terrama2-box title="i18n.__('Schedule')" css="ctrl.css" ng-show="ctrl.isDynamic && ctrl.isValid">
      <div class="col-md-12">
        <terrama2-schedule model="ctrl.view.schedule" options="ctrl.scheduleOptions"></terrama2-schedule>
      </div>
    </terrama2-box>

    <terrama2-box title="i18n.__('Style')" css="ctrl.css"
                  handle-buttons="ctrl.styleButtons"
                  extra="{disabled: !ctrl.hasStyle}">
      <form name="forms.styleForm" novalidate ng-show="ctrl.hasStyle">
        <!-- Vectorial -->
        <terrama2-style-legend form-ctrl="forms.styleForm" type="ctrl.targetDataSeriesType" columns-list="ctrl.columnsList" model="ctrl.legend"></terrama2-style-legend>
      </form>
    </terrama2-box>

    <div class="box-footer">
      <div class="btn-group pull-right" style="margin-left: 10px;">
        <button ng-disabled="!ctrl.isValid" type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="ctrl.isValid && ctrl.save(true);"></button>
        <button ng-disabled="!ctrl.isValid" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu terrama2-button-dropdown">
          <li><a href="javascript::void();" ng-disabled="!ctrl.isValid" data-ng-click="ctrl.isValid && ctrl.save(false);" ng-bind="i18n.__('Save')"></a></li>
        </ul>
      </div>
      <a href="{[ BASE_URL ]}configuration/views/" class="btn btn-primary pull-left"><span ng-bind="i18n.__('Cancel')"></span></a>
    </div>
  </terrama2-box>
  
</div> <!-- end col md 12 -->

{% endblock %}
