*.autosave
.DS_Store
*.user
*.*~
*_terrama2.log
webapp/node_modules
webapp/npm-debug*
webapp/public/externals
webapp/bower_components
webapp/*_terrama2.log
webapp/config/webapp.json
webapp/terrama2.log
webapp/config/instances
webapp/public/dist
webmonitor/node_modules
webmonitor/npm-debug*
webmonitor/public/external
webmonitor/public/dist
webmonitor/public/docs
webmonitor/bower_components
webmonitor/config/monitor.json
webmonitor/config/instances
.vscode
scripts/postinst
scripts/prerm
scripts/postrm
scripts/config_pm2.sh
share/terrama2/version.json
packages/debian-package/terrama2-doc*
packages/debian-package/vmime-0.9.2*
packages/debian-package/terrama2-vmime-*
packages/debian-package/v0.9.2.tar.gz
