<!DOCTYPE html>
<html>
    <head>
        <title>Web SQL</title>
        <link rel='stylesheet' type='text/css' href='stylesheets/style.css'/>
        <link rel='stylesheet' type='text/css' href='openlayers/ol.css'/>
    </head>
    <body>
        <div id="query">
            <div>Inserir Query</div>
            <textarea type="text" id="querybox"></textarea>
            <button id="submit">Submit</button>
        </div>
        
        <div id="layers">
            <div>Camadas</div>
        </div>
        <div id="tables">
            <div>Tabelas</div>
        </div>
        <div id="map" class="move">
        </div>
    </body> 
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/openlayers/ol.js"></script>
    <script type="text/javascript" src="/javascripts/web-sql.js"></script>
</html>

