"language": "", // Options: 'pt', 'en' and 'es'.
"project": "", // Project name.
"latLong": "", // Array with latitude and longitude [lat, long].
"zoom": "", // Zoom value number (1 to 18).
"zoomToLayer": "", // Layer name to extent.
"selectedLayers": [], // Name of the layers to start selected.
"template": "", // Template to start selected. Options: osm, gebco and sentinel.
"logo": "", // Path of the logo to show on the sidebar header. Image must be inside "/opt/terrama2/4.1.0/webmonitor/public/images/".
"logoLink": "", // Link to open when click on the logo.
"logoFooter": [] // Logos to show on the sidebar footer. Ex.: { link: "", path: ""}.