<div>
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Output Format') }}:</label>
        <select class="form-control"
                id="data_series_semantics"
                name="data_series_semantics"
                ng-change="changeOutputFormat()"
                ng-options="format.name for format in storagerFormats"
                ng-model="outputDataSeries.data_series_semantics">
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Data Store') }}:</label>
        <select class="form-control" 
                id="data_store"
                name="data_store"
                ng-options="provider.name for provider in providers"
                ng-model="outputDataSeries.data_provider">
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Service') }}:</label>
        <ui-select name="service" ng-model="inter.service_instance_id" required>
          <ui-select-match>
            <img ng-src="{{ BASE_URL + 'images/services/alert/alert_service.png'}}" style="height: 20px; margin-top: -7px;"/>
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="instance.id as instance in (filteredServices | filter: {'name': $select.search}) track by instance.id">
            <img ng-src="{{ BASE_URL + 'images/services/alert/alert_service.png'}}" style="height: 20px;"/>
            <span ng-bind="instance.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Mask') }}:</label>
        <input class="form-control" id="mask" name="mask" ng-model="outputDataSeries.format.mask" type="text" ng-blur="addTifExtention()" required>
      </div>            
    </div>
    <div class="col-md-6">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Timezone') }}:</label>
        <select class="form-control" id="timezone" name="timezone" ng-model="outputDataSeries.format.timezone" ng-options="timezone for timezone in timezoneOptions" required></select>
      </div>            
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Projection (SRID)') }}:</label>
        <input class="form-control" id="srid" name="srid" ng-model="outputDataSeries.format.srid" type="number" required>
      </div>            
    </div>
  </div>
</div>

<div class="col-md-12" style="margin-top: 30px;">
  <div class="col-md-12">
    <div class="box box-default box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{ i18n.__('Schedule') }}</h3>
      </div>

      <div style="display: block;" class="box-body">
        <terrama2-schedule model="inter.schedule" options="scheduleOptions"></terrama2-schedule>
      </div>
    </div>
  </div>
</div>
