<div class="row">
  <!-- bounding_rect -->
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-12">
          <label>lower_left_corner</label>
        </div>
        <div class="col-md-6">
          <label>X ll</label>
          <input class="form-control" id="llx" name="llx" ng-model="inter.bounding_rect.ll_corner.x" type="number">
        </div>
        <div class="col-md-6">
          <label>Y ll</label>
          <input class="form-control" id="lly" name="lly" ng-model="inter.bounding_rect.ll_corner.y" type="number">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-12">
          <label>upper_right_corner</label>
        </div>
        <div class="col-md-6">
          <label>X ll</label>
          <input class="form-control" id="urx" name="urx" ng-model="inter.bounding_rect.ur_corner.x" type="number">
        </div>
        <div class="col-md-6">
          <label>Y ll</label>
          <input class="form-control" id="urx" name="ury" ng-model="inter.bounding_rect.ur_corner.y" type="number">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-6">
        <label>interpolation_attribute</label>
        <input class="form-control" id="interpolation_attribute" name="interpolation_attribute" ng-model="inter.interpolation_attribute" type="text">
      </div>
      <div class="col-md-6">
        <label>srid</label>
        <input class="form-control" id="srid" name="srid" ng-model="srid" type="number">
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-6">
        <label>resolution_x</label>
        <input class="form-control" id="resolution_x" name="resolution_x" ng-model="inter.resolution_x" type="number">
      </div>
      <div class="col-md-6">
        <label>resolution_y</label>
        <input class="form-control" id="resolution_y" name="resolution_y" ng-model="inter.resolution_y" type="number">
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-6">
        <label>interpolator_strategy</label>
        <select class="form-control" name="interpolator_strategy" ng-model="inter.interpolator_strategy">
          <option value="0">Nearest neighbor</option>
          <option value="1">Average neighbor</option>
          <option value="2">Weight average neighbor</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-6">
        <label>number_of_neighbors</label>
        <input class="form-control" id="number_of_neighbors" name="number_of_neighbors" ng-model="inter.number_of_neighbors" type="number">
      </div>
      <div class="col-md-6" ng-if="interpolator_strategy == 2">
        <label>power_factor</label>
        <input class="form-control" id="power_factor" name="power_factor" ng-model="inter.power_factor" type="number">
      </div>
    </div>
  </div>

</div>