<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <label>output_format</label>
      <select class="form-control" id="data_series_semantics_id" name="data_series_semantics_id" ng-model="data_series_semantics_id">
        <option value="8">GEOTIFF</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>data_store</label>
      <select class="form-control" id="data_store" name="data_store" ng-model="data_store">
        <option value="8">provider</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>service_instance</label>
      <select class="form-control" id="service_instance" name="service_instance" ng-model="service_instance_id">
        <option value="8">interpolator_service</option>
      </select>
    </div>
  </div>
  <div class="col-md-12">
    <label>mask</label>
    <input class="form-control" id="mask" name="mask" ng-model="output.mask" type="text" required>
  </div>
  <div class="col-md-12">
    <label>srid</label>
    <input class="form-control" id="srid" name="srid" ng-model="output.srid" type="number" required>
  </div>
  <div class="col-md-12">
    <label>timestamp_property</label>
    <input class="form-control" id="timestamp_property" name="timestamp_property" ng-model="output.timestamp_property" type="text" required>
  </div>
  <div class="col-md-12">
    <label>timezone</label>
    <input class="form-control" id="timezone" name="timezone" ng-model="output.timezone" type="number" required>
  </div>
</div>