html, body {
  height: 100% !important;
}

.terrama2-container {
  position: relative;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.terrama2-check {
  /*float: right;*/
  top: 2px !important;
  left: 15px !important;
}

div.terrama2-leftbox::-webkit-scrollbar, div.terrama2-container::-webkit-scrollbar {
  width: 8px;
}

div.terrama2-leftbox::-webkit-scrollbar-track, div.terrama2-container::-webkit-scrollbar-track {
  background-color: #a6a07c;
}

div.terrama2-leftbox::-webkit-scrollbar-thumb, div.terrama2-container::-webkit-scrollbar-thumb {
  background-color: #8E875E;
}

.terrama2-input {
  display: block;
  width: 174px;
  height: 15px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d6de;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.terrama2-form-group {
  width: 200px;
  margin: 0 auto;
}

.terrama2-form-group input {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.terrama2-form-button {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  background-color: rgb(166,160,124);
  border: 1px solid #63604D;
  color: #fff;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  text-align: center;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.terrama2-form-button:hover {
  background-color: #63604D;
}
