/* MapDisplay styles */

.terrama2-map {
  background-color: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  /* z-index: 1; */
}

#terrama2-map .ol-zoom {
  top: 20px;
  right: 15px;
  left: auto !important;
}

#terrama2-map .ol-zoom:hover { background-color: rgba(255,255,255,.4) !important; }

#terrama2-map .ol-zoom > button {
  background-color: rgba(241, 241, 241, 0.8) !important;
  color: rgb(84,84,84);
  outline: none;
}

#terrama2-map .ol-zoom > button:hover { background-color: rgba(241, 241, 241, 1) !important; }

#terrama2-map .ol-attribution > button {
  background-color: rgba(241, 241, 241, 0.8) !important;
  color: rgb(84,84,84);
  outline: none;
}

#terrama2-map .ol-attribution > button:hover { background-color: rgba(241, 241, 241, 1) !important; }

#terrama2-map .ol-attribution {
  text-align: right;
  bottom: 75px;
  right: 15px;
  max-width: calc(100% - 1.3em);
}

#terrama2-map #terrama2-map-info {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: rgba(0,60,136,.3);
  border-radius: 4px;
  bottom: 35px;
  right: 15px;
  position: absolute;
  padding: 2px;
  z-index: 99;
}

#terrama2-map .terrama2-mouse-position {
  border: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents,width;
}

.ol-scale-line {
  right: 15px;
  left: auto !important;
}

/* LayerExplorer style */

/* #terrama2-layerexplorer ul {
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0;
} */

#terrama2-layerexplorer ul.layerstack { list-style: none; }

#terrama2-layerexplorer ul.layerstack li {
  border-bottom: 1px solid #ccc;
  padding: 3px;
}

#terrama2-layerexplorer ul.layerstack li.selected { background-color: #ddd; }

/* #terrama2-layerexplorer li {
  list-style-type: none;
  padding: 5px 0;
  position: relative;
  white-space: nowrap;
} */

#terrama2-layerexplorer li.parent_li, #terrama2-layerexplorer li.parent_li > ul > li { margin: 0 !important; }

/* #terrama2-layerexplorer li::before, #terrama2-layerexplorer li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto;
} */

/* #terrama2-layerexplorer li > span {
  display: block;
  padding: 5px 0 5px 0px;
  text-decoration: none;
} */

/* .terrama2-layerexplorer-plus {
  background-image: url('images/plus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  margin-right: 3px;
  margin-top: 1px;
  max-height: 13px;
  height: 13px;
  width: 13px;
  float: left;
}

.terrama2-layerexplorer-minus {
  background-image: url('images/minus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  margin-right: 3px;
  margin-top: 1px;
  max-height: 13px;
  height: 13px;
  width: 13px;
  float: left;
} */

#terrama2-layerexplorer li.parent_li>span { cursor: pointer; }

#terrama2-layerexplorer>ul>li::before, #terrama2-layerexplorer>ul>li::after { border: 0; }

#terrama2-layerexplorer li:last-child::before { height: 30px; }

/* .terrama2-layerexplorer-checkbox {
  display: block;
  margin-bottom: -21px !important;
  margin-left: 0;
} */

/* span.terrama2-layerexplorer-checkbox-span { margin-left: 15px !important; } */

#terrama2-layerexplorer ul.children > li.layer:active, #terrama2-layerexplorer > li.layer:active, #terrama2-layerexplorer > li.parent_li:active { cursor: move; }

.disabled-content {
  pointer-events: none;
  opacity: 0.4;
}
