{% extends "../base/layout.html" %}

{% block title %} TerraMA2 {[ __("Database Registration") ]} {% endblock %}

{% block ngApp %} ng-app="terrama2.administration.databases.registration" {% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/externals/angular/angular.min.js"></script>
<script type="text/javascript" src="/externals/bootstrap/js/bootstrap-decorator.min.js"></script>
<script>
    angular.module('terrama2.administration.databases.registration', [])
        .controller('DatabaseRegistration', ['$scope', function($scope) {

        }])
</script>

{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="col-md-12" ng-controller="DatabaseRegistration">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">{[ __("Database Registration") ]}</h3>
            </div>
            <!-- /.box-header -->
            <div style="display: block;" class="box-body">
                <div class="row">
                    <form name="databaseForm">
                        <div class="col-md-12">
                            <div class="col-md-3 terrama2-nopadding-box">
                                <div class="form-group has-feedback">
                                    <label>{[ __("Type") ]}:</label>
                                    <select class="form-control" name="type" ng-model="service.type" required>
                                        <option value="">POSTGIS</option>
                                    </select>

                                </div>
                                <!-- /.form-group -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label>{[ __("Host") ]}:</label>
                                <input class="form-control" name="host" ng-model="database.host" placeholder="{[ __('Database hostname') ]}" type="text" required>
                            </div>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label>{[ __("Port") ]}:</label>
                                <input class="form-control" name="port" ng-model="database.port" placeholder="{[ __('Database port') ]}" type="number" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label>{[ __("Username") ]}:</label>
                                <input class="form-control" name="username" ng-model="database.username" placeholder="{[ __('Database username') ]}" type="text" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label>{[ __("Password") ]}:</label>
                                <input class="form-control" name="password" ng-model="database.password" placeholder="{[ __('Database password') ]}" type="password" required>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __("OK") ]}</button>
                <button type="submit" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __("Test connection") ]}</button>
            </div>

            <div class="overlay" ng-show="isChecking">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div> <!-- end col md 6 -->
</div> <!-- end col md 12 -->

{% endblock %}