{% extends "../base/layout.html" %}

{% set tabActive = "services" %}
{% set reload = restart === true || restart === "true" %}

{% block ngApp %}ng-app="terrama2.administration.services"{% endblock %}

{% block styles %}
<style type="text/css">
  .pull-cell-left {
    white-space: nowrap !important;
    width: 1px !important;
  }

</style>
{% endblock %}

{% block title %} TerraMA² {[ __('Services Handling') ]} {% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var configuration = {
    service: "{[ service ]}",
    restart: {[ reload ]},
    message: "{[ message ]}"
  }
</script>
<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- Angular -->
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<!-- Internationalization -->
<script type="text/javascript" src="/bower_components/i18n-node-angular/dist/i18n-node-angular.min.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/services.js"></script>
<script src="/javascripts/angular/table/table.js"></script>
<script src="/javascripts/angular/alert-box/services.js"></script>
<script src="/javascripts/angular/alert-box/directives.js"></script>
<script src="/javascripts/angular/services/services.js"></script>
<script src="/javascripts/angular/services/service.js"></script>

{% endblock %}

{% block content %}

<div ng-controller="ListController as ctrl">
  <terrama2-box title="ctrl.title" helper="ctrl.helperMessage" css="ctrl.boxCss">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-12">
          <terrama2-alert-box2 handler="ctrl.messageBoxService">
          </terrama2-alert-box2>
        </div>
      </div>

      <terrama2-table fields="ctrl.fields" 
                      model="ctrl.service.model" 
                      link="ctrl.link" 
                      link-to-add="ctrl.linkToAdd"
                      order-by="'name'" 
                      extra="ctrl.extra" 
                      remove="ctrl.remove(object);"></terrama2-table>
    </div>
  </terrama2-box>
</div>

{% endblock %}
