{% extends "../base/layout.html" %}

{% set tabActive = "services" %}

{% block title %} TerraMA² {[ __("Service Registration") ]} {% endblock %}

{% block ngApp %} ng-app="terrama2.administration.services.registration" {% endblock %}

{% block javascripts %}
<script type="text/javascript">
  var configuration = {
    service: {[ service|json|safe ]} || {}
  }
</script>

<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- Angular JS -->
<script type="text/javascript" src="/externals/angular/angular.min.js"></script>
<script type="text/javascript" src="/externals/angular/i18n-angular.min.js"></script>

<!-- TerraMA2 -->
<script type="text/javascript" src="/javascripts/angular/app.js"></script>
<script type="text/javascript" src="/javascripts/angular/alert-box/directives.js"></script>
<script type="text/javascript" src="/javascripts/angular/services.js"></script>
<script type="text/javascript" src="/javascripts/angular/services/registration.js"></script>

{% endblock %}

{% block content %}

<div class="modal fade modal-danger" id="sshModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{[ __("Connection") ]}</h4>
      </div>
      <div class="modal-body">
        <p>{[ __("Host connection") ]}: <i class="fa" ng-class="{'fa-check': ssh.isValid, 'fa-times': !ssh.isValid, 'fa-spinner': ssh.isLoading}"></i></p>
        <p>{[ __("Database connection") ]}: <i class="fa" ng-class="{'fa-check': db.isValid, 'fa-times': !db.isValid, 'fa-spinner': db.isLoading}"></i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" ng-controller="RegistrationController">
  <terrama2-box title="'{[ __("Service Registration") ]}'">
    <div class="row">
      <div class="col-md-12">
        <terrama2-alert-box alert-level="alertLevel" title="alertBox.title" message="alertBox.message" close="resetState()" display-handler="display" extra="extraProperties"></terrama2-alert-box>

        <terrama2-modal-box ng-show="isCheckingConnection" title="'{[ __("Connection") ]}'" modal-id="'modalConnection'">
          <div class="panel-group">
            <div class="panel panel-default" ng-class="{'panel-danger': !ssh.isValid && ssh.message, 'panel-success': ssh.isValid}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#sshError">{[ __("Host connection") ]}:</a>
                  <span ng-if="ssh.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                  <span ng-if="!ssh.isLoading && ssh.isValid" class="glyphicon glyphicon-ok"></span>
                  <span ng-if="!ssh.isLoading && !ssh.isValid" class="glyphicon glyphicon-remove"></span>
                </h4>
              </div>
              <div ng-if="!ssh.isValid && ssh.message" id="sshError" class="panel-collapse collapse in">
                <div class="panel-body">
                  <span class="text-danger">{{ ssh.message }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <div class="panel panel-default" ng-class="{'panel-danger': !db.isValid && db.message, 'panel-success': db.isValid}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#dbError">{[ __("DB connection") ]}:</a>
                  <span ng-if="db.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                  <span ng-if="!db.isLoading && db.isValid" class="glyphicon glyphicon-ok"></span>
                  <span ng-if="!db.isLoading && !db.isValid" class="glyphicon glyphicon-remove"></span>
                </h4>
              </div>
              <div ng-if="!db.isValid && db.message" id="dbError" class="panel-collapse collapse in">
                <div class="panel-body">
                  <span class="text-danger">{{ db.message }}</span>
                </div>
              </div>
            </div>
          </div>

        </terrama2-modal-box>
      </div>

      <form name="serviceForm">
        <terrama2-box title="'{[ __('Information') ]}'" css="css">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-7">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Name") ]}:</label>
                  <input class="form-control" name="name" ng-model="service.name" placeholder="{[ __('Service  Name') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.name.$dirty" ng-class="{'glyphicon-ok': serviceForm.name.$valid, 'glyphicon-remove': serviceForm.name.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.name.$dirty && serviceForm.name.$invalid">{[ __('Service name is required') ]}</span>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Type") ]}:</label>
                  <select class="form-control" name="type" ng-disabled="update" ng-model="service.service_type_id" required>
                    <option value="1">Collector</option>
                    <option value="2">Analysis</option>
                  </select>

                  <span class="form-control-feedback glyphicon terrama2-combobox-feedback" ng-show="serviceForm.type.$dirty" ng-class="{'glyphicon-ok': serviceForm.type.$valid, 'glyphicon-remove': serviceForm.type.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.type.$dirty && serviceForm.type.$invalid">{[ __('Service type is required') ]}</span>

                </div>
                <!-- /.form-group -->
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <div class="checkbox">
                    <label style="font-weight: 700; margin-top:19px;">
                      <input type="checkbox" name="active" ng-model="service.isLocal" ng-init="initService(true)"> Local Service
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <label>{[ __("Description") ]}:</label>
                  <textarea class="form-control" ng-model="service.description" rows="3" placeholder="{[ __('Service Description') ]}"></textarea>
                </div>
              </div>
            </div>
          </div>
        </terrama2-box>

        <terrama2-box title="'{[ __('Host') ]}'" css="css">
          <div class="row">
            <div class="col-md-12" ng-show="!service.isLocal">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Address") ]}:</label>
                  <input class="form-control" name="host" ng-model="service.host" placeholder="{[ __('Ssh Hostname') ]}" type="text" ng-required="!service.isLocal">

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.host.$dirty" ng-class="{'glyphicon-ok': serviceForm.host.$valid, 'glyphicon-remove': serviceForm.host.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.host.$dirty && serviceForm.host.$invalid">{[ __('Ssh host is required') ]}</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Port") ]}:</label>
                  <input class="form-control" name="sshPort" ng-model="service.sshPort" placeholder="{[ __('Ssh Port') ]}" type="number" min="1" max="65535" ng-required="!service.isLocal">
                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.sshPort.$dirty" ng-class="{'glyphicon-ok': serviceForm.sshPort.$valid, 'glyphicon-remove': serviceForm.sshPort.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.sshPort.$dirty && serviceForm.sshPort.$error.required">{[ __('Ssh port is required') ]}</span>

                  <!-- invalid number: min/max -->
                  <span class="help-block has-error" ng-show="serviceForm.sshPort.$dirty && (serviceForm.sshPort.$error.min || serviceForm.sshPort.$error.max)">{[ __('Invalid range of ports. A valid port is from 1 to 65535') ]}</span>

                  <span class="help-block has-error" ng-show="serviceForm.sshPort.$dirty && serviceForm.sshPort.$error.number">{[ __('Ssh port is invalid') ]}</span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Service Executable Path") ]}:</label>
                  <input class="form-control" name="path" ng-model="service.pathToBinary" placeholder="{[ __('Script path to run') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.path.$dirty" ng-class="{'glyphicon-ok': serviceForm.path.$valid, 'glyphicon-remove': serviceForm.path.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.path.$dirty && serviceForm.path.$error.required">{[ __('Service path is required') ]}</span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6" ng-show="!service.isLocal">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("User") ]}:</label>
                  <input class="form-control" name="user" ng-model="service.sshUser" placeholder="{[ __('Ssh username') ]}" type="text" ng-required="!service.isLocal">

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.user.$dirty" ng-class="{'glyphicon-ok': serviceForm.user.$valid, 'glyphicon-remove': serviceForm.user.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.user.$dirty && serviceForm.user.$error.required">{[ __('Ssh user is required') ]}</span>
                </div>
              </div>

              <div ng-class="{'col-md-12': service.isLocal, 'col-md-6': !service.isLocal}">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Service Port") ]}:</label>
                  <input class="form-control" name="port" ng-model="service.port" placeholder="{[ __('Service Port') ]}" type="number" min="1" max="65535" service-validation required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.port.$dirty" ng-class="{'glyphicon-ok': serviceForm.port.$valid, 'glyphicon-remove': serviceForm.port.$invalid }"></span>

                  <!-- invalid number: min/max -->
                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && (serviceForm.port.$error.min || serviceForm.port.$error.max)">{[ __('Invalid range of ports. A valid port is from 1 to 65535') ]}</span>

                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.required">{[ __('Service port is required') ]}</span>

                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.number">{[ __('Service port is invalid') ]}</span>
                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.service">{[ __('Service port is already used by other process') ]}</span>
                </div>
              </div>
              <!-- ./col-md-6 -->
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Number of Threads") ]}:</label>
                  <input class="form-control"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="{[ __('When the value is 0, it will use thread number supported by the server') ]}"
                         name="numberOfThreads"
                         ng-model="service.numberOfThreads"
                         placeholder="Number of thread to run"
                         required=""
                         type="number" min="0">

                  <span class="form-control-feedback glyphicon ng-hide glyphicon-remove" ng-show="serviceForm.numberOfThreads.$dirty" ng-class="{'glyphicon-ok': serviceForm.numberOfThreads.$valid, 'glyphicon-remove': serviceForm.numberOfThreads.$invalid }"></span>
                  <span class="help-block" ng-show="serviceForm.numberOfThreads.$dirty && serviceForm.numberOfThreads.$error.required">Number of threads is required</span>
                  <span class="help-block" ng-show="serviceForm.numberOfThreads.$dirty && (serviceForm.numberOfThreads.$error.number || serviceForm.numberOfThreads.$error.min)">Number of threads is invalid</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{[ __("Enviroment") ]}:</label>
                  <textarea class="form-control" style="max-width: 100%; max-height: 200px;" ng-model="service.runEnviroment" rows="6" placeholder="Enviroment Variables"></textarea>
                </div>
              </div>
            </div>
          </div>
        </terrama2-box>
      </form>
      <!-- ./form serviceForm -->

      <terrama2-box title="'{[ __('Log') ]}'" css="css">
        <div class="row">
          <form name="logForm">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Host") ]}:</label>
                  <input class="form-control" name="host" ng-model="log.host" placeholder="{[ __('Log hostname') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="logForm.host.$dirty" ng-class="{'glyphicon-ok': logForm.host.$valid, 'glyphicon-remove': logForm.host.$invalid }"></span>

                  <span class="help-block has-error" ng-show="logForm.host.$dirty && logForm.host.$error.required">{[ __('Log host is required') ]}</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Port") ]}:</label>
                  <input class="form-control" name="port" ng-model="log.port" placeholder="{[ __('Log port number') ]}" type="number" min="1" max="65535" required>

                  <span class="form-control-feedback glyphicon" ng-show="logForm.port.$dirty" ng-class="{'glyphicon-ok': logForm.port.$valid, 'glyphicon-remove': logForm.port.$invalid }"></span>

                  <!-- invalid number: min/max -->
                  <span class="help-block has-error" ng-show="logForm.port.$dirty && (logForm.port.$error.min || logForm.port.$error.max)">{[ __('Invalid range of ports. A valid port is from 1 to 65535') ]}</span>

                  <span class="help-block has-error" ng-show="logForm.port.$dirty && logForm.port.$error.required">{[ __('Port is required') ]}</span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("User") ]}:</label>
                  <input class="form-control" name="user" ng-model="log.user" placeholder="{[ __('Log username') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="logForm.user.$dirty" ng-class="{'glyphicon-ok': logForm.user.$valid, 'glyphicon-remove': logForm.user.$invalid }"></span>

                  <span class="help-block has-error" ng-show="logForm.user.$dirty && logForm.user.$error.required">{[ __('User is required') ]}</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Password") ]}:</label>
                  <input class="form-control" name="password" ng-model="log.password" placeholder="{[ __('Log password') ]}" type="password">

                  <span class="form-control-feedback glyphicon" ng-show="logForm.user.$dirty" ng-class="{'glyphicon-ok': logForm.user.$valid, 'glyphicon-remove': logForm.user.$invalid }"></span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{[ __("Database Name") ]}:</label>

                  <input class="form-control"
                         name="database"
                         ng-model="log.database"
                         placeholder="{[ __('Log database name') ]}"
                         type="text"
                         required>

                  <terrama2-auto-complete ng-model="log.database" model="config.availableDatabases"></terrama2-auto-complete>

                  <span class="form-control-feedback glyphicon" ng-show="logForm.database.$dirty" ng-class="{'glyphicon-ok': logForm.database.$valid, 'glyphicon-remove': logForm.database.$invalid }"></span>

                  <span class="help-block has-error" ng-show="logForm.database.$dirty && logForm.database.$error.required">{[ __('Database name is required') ]}</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </terrama2-box>
    </div>
    <!-- /.row -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalConnection" style="margin-left: 10px; width: 135px;" ng-click="checkConnection()">
        <span class="loading" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
        <span class="text">Check Connection</span>
      </button>
      <button type="submit" class="btn btn-primary pull-right" id="serviceSaveButton" data-ng-click="save()" style="margin-left: 10px;">{[ __("OK") ]}</button>
      <a ng-href="/administration/services" class="btn btn-primary pull-right" id="serviceCancelButton" style="margin-left: 10px;">{[ __("Cancel") ]}</a>
    </div>

    <div class="overlay" ng-show="isChecking">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </terrama2-box>
</div> <!-- end col md 12 -->

{% endblock %}
