{% extends "../base/layout.html" %}

{% block title %} TerraMA2 {[ __("Service Registration") ]} {% endblock %}

{% block ngApp %} ng-app="terrama2.administration.services.registration" {% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/externals/angular/angular.min.js"></script>
<script type="text/javascript" src="/externals/angular/i18n-angular.min.js"></script>
<script type="text/javascript" src="/javascripts/angular/app.js"></script>
<script type="text/javascript" src="/javascripts/angular/alert-box/directives.js"></script>
<script type="text/javascript" src="/javascripts/angular/services.js"></script>

<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- terrama2 Script -->
<script type="text/javascript" src="/javascripts/terrama2.js"></script>
<script>
  angular.module('terrama2.administration.services.registration', ['terrama2', 'terrama2.services', 'terrama2.components.messagebox'])
    .controller('ServiceRegistration', ['$scope', '$window', 'ServiceInstanceFactory', function($scope, $window, ServiceInstanceFactory) {
      $scope.service = {[ service|json|safe ]} || {sshPort: 22};

      $scope.update = false;
      if ($scope.service.name)
        $scope.update = true;

      $scope.alertBox = {};
      $scope.errorFound = false;
      $scope.isChecking = false;
      $scope.resetState = function() {
        $scope.errorFound = false;
        $scope.alertBox.message = "";
      };

      // watching service type changed
      $scope.$watch('service.service_type_id', function(value) {
        switch(value) {
          case "1": // collect
            $scope.service.pathToBinary = "terrama2_collector_service";
            break;
          case "2": // analysis
            $scope.service.pathToBinary = "terrama2_analysis_service";
            break;
          default: // none
            $scope.service.pathToBinary = "";
            break;
        }
      });

      $scope.save = function() {
        if ($scope.serviceForm.$invalid) {
          angular.forEach($scope.serviceForm.$error, function (field) {
            angular.forEach(field, function(errorField){
              errorField.$setDirty();
            })
          });
          return;
        }

        $scope.isChecking = true;
        $scope.errorFound = false;
        $scope.alertBox.title = "Service Registration";

        ServiceInstanceFactory.post($scope.service).success(function(data) {
          $scope.alertBox.message = "Service saved";
          $scope.errorFound = false;
        }).error(function(err) {
          // todo: display messagebox
          console.log(err);
          $scope.errorFound = true;
          $scope.alertBox.message = err.message;
        }).finally(function() {
          $scope.isChecking = false;
        })
      }
    }])
</script>

{% endblock %}

{% block content %}

<div class="modal fade modal-danger" id="sshModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{[ __("Ssh Connection") ]}</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-12" ng-controller="ServiceRegistration">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">{[ __("Service Registration") ]}</h3>
      </div>
      <!-- /.box-header -->
      <div style="display: block;" class="box-body">
        <div class="row">
          <div class="col-md-12">
            <terrama2-message-box error-found="errorFound" title="alertBox.title" message="alertBox.message" close="resetState()"></terrama2-message-box>
          </div>

          <form name="serviceForm">
            <div class="col-md-12">
              <div class="col-md-8">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.name.$dirty && serviceForm.name.$invalid, 'has-success': serviceForm.name.$dirty && serviceForm.name.$valid}">
                  <label>{[ __("Name") ]}:</label>
                  <input class="form-control" name="name" ng-disabled="update" ng-model="service.name" placeholder="{[ __('Service  Name') ]}" type="text" required>

                  <span class="help-block has-error" ng-show="serviceForm.name.$dirty && serviceForm.name.$invalid">{[ __('Service name is required') ]}</span>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.type.$dirty && serviceForm.type.$invalid, 'has-success': serviceForm.type.$dirty && serviceForm.type.$valid}">
                  <label>{[ __("Type") ]}:</label>
                  <select class="form-control" name="type" ng-disabled="update" ng-model="service.service_type_id" required>
                    <option ng-value="1">Collect</option>
                    <option ng-value="2">Analysis</option>
                  </select>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.type.$dirty" ng-class="{'glyphicon-ok': serviceForm.type.$valid, 'glyphicon-remove': serviceForm.type.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.type.$dirty && serviceForm.type.$invalid">{[ __('Service type is required') ]}</span>

                </div>
                <!-- /.form-group -->
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <label>{[ __("Description") ]}:</label>
                  <textarea class="form-control" ng-disabled="update" ng-model="service.description" rows="3" placeholder="{[ __('Service Description') ]}"></textarea>
                </div>
              </div>
            </div>

            <div class="col-md-12">

              <div class="col-md-6">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.host.$dirty && serviceForm.host.$invalid, 'has-success': serviceForm.host.$dirty && serviceForm.host.$valid}">
                  <label>{[ __("Host") ]}:</label>
                  <input class="form-control" name="host" ng-disabled="update" ng-model="service.host" placeholder="{[ __('Ssh Hostname') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.host.$dirty" ng-class="{'glyphicon-ok': serviceForm.host.$valid, 'glyphicon-remove': serviceForm.host.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.host.$dirty && serviceForm.host.$invalid">{[ __('Ssh host is required') ]}</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.sshPort.$dirty && serviceForm.sshPort.$invalid, 'has-success': serviceForm.sshPort.$dirty && serviceForm.sshPort.$valid}">
                  <label>{[ __("Port") ]}:</label>
                  <input class="form-control" name="sshPort" ng-disabled="update" ng-model="service.sshPort" placeholder="{[ __('Ssh Port') ]}" type="number" required>
                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.sshPort.$dirty" ng-class="{'glyphicon-ok': serviceForm.sshPort.$valid, 'glyphicon-remove': serviceForm.sshPort.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.sshPort.$dirty && serviceForm.sshPort.$error.required">{[ __('Ssh port is required') ]}</span>

                  <span class="help-block has-error" ng-show="serviceForm.sshPort.$dirty && serviceForm.sshPort.$error.number">{[ __('Ssh port is invalid') ]}</span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.user.$dirty && serviceForm.user.$invalid, 'has-success': serviceForm.user.$dirty && serviceForm.user.$valid}">
                  <label>{[ __("User") ]}:</label>
                  <input class="form-control" name="user" ng-disabled="update" ng-model="service.sshUser" placeholder="{[ __('Ssh username') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.user.$dirty" ng-class="{'glyphicon-ok': serviceForm.user.$valid, 'glyphicon-remove': serviceForm.user.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.user.$dirty && serviceForm.user.$error.required">{[ __('Ssh user is required') ]}</span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.path.$dirty && serviceForm.path.$invalid, 'has-success': serviceForm.path.$dirty && serviceForm.path.$valid}">
                  <label>{[ __("Path") ]}:</label>
                  <input class="form-control" name="path" ng-disabled="update" ng-model="service.pathToBinary" placeholder="{[ __('Script path to run') ]}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.path.$dirty" ng-class="{'glyphicon-ok': serviceForm.path.$valid, 'glyphicon-remove': serviceForm.path.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.path.$dirty && serviceForm.path.$error.required">{[ __('Service path is required') ]}</span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group has-feedback" ng-class="{'has-error': serviceForm.port.$dirty && serviceForm.port.$invalid, 'has-success': serviceForm.port.$dirty && serviceForm.port.$valid}">
                  <label>{[ __("Service Port") ]}:</label>
                  <input class="form-control" name="port" ng-disabled="update" ng-model="service.port" placeholder="{[ __('Service Port') ]}" type="number" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.port.$dirty" ng-class="{'glyphicon-ok': serviceForm.port.$valid, 'glyphicon-remove': serviceForm.port.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.required">{[ __('Service port is required') ]}</span>

                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.number">{[ __('Service port is invalid') ]}</span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" id="serviceCheckConnection" style="margin-left: 10px;">Check Connection</button>
        <button type="submit" class="btn btn-primary pull-right" ng-disabled="update" data-ng-click="save()" style="margin-left: 10px;">{[ __("OK") ]}</button>
        <a ng-href="/administration/services" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __("Cancel") ]}</a>
      </div>

      <div class="overlay" ng-show="isChecking">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div> <!-- end col md 6 -->
</div> <!-- end col md 12 -->

{% endblock %}
