{% extends "../base/layout.html" %}

{% set tabActive = "services" %}

{% block title %} TerraMA² {{ i18n.__("Service Registration") }} {% endblock %}

{% block ngApp %} ng-app="terrama2.administration.services.registration" {% endblock %}

{% block javascripts %}
<script type="text/javascript">
  var configuration = {
    service: {[ service|json|safe ]} || {}
  }
</script>

{% endblock %}

{% block content %}

<div class="col-md-12" ng-controller="ServiceRegisterUpdate as ctrl">
  <terrama2-service-form></terrama2-service-form>
  <terrama2-box title="i18n.__('Service Registration')">
    <div class="row">
      <div class="col-md-12">
        <terrama2-alert-box2 handler="ctrl.MessageBoxService.alertBox" close="ctrl.close()">
          <button type="button" class="close" ng-click="ctrl.MessageBoxService.reset()">×</button>
          <h4><i class="icon fa" ng-class="ctrl.MessageBoxService.getIcon()"></i> {{ ctrl.MessageBoxService.alertBox.title }}</h4>
          <div class="col-md-12" ng-bind="ctrl.MessageBoxService.alertBox.message" style="margin-bottom: 10px;"></div>

          <div ng-show="ctrl.isCheckingConnection">
            <ul class="nav nav-list" terrama2-collapse>
              <li class="terrama2-list-error">
                <i ng-show="ctrl.ssh.message" class="fa fa-caret-right"></i> <label ng-bind="i18n.__('Host connection')" class="tree-toogler nav-header"></label>
                <span ng-if="ctrl.ssh.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span ng-if="!ctrl.ssh.isLoading && ctrl.ssh.isValid" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!ctrl.ssh.isLoading && !ctrl.ssh.isValid" class="glyphicon glyphicon-remove"></span>
                <ul class="nav nav-list tree">
                  <li ng-show="!ctrl.ssh.isValid && ctrl.ssh.message">
                    <span ng-bind="ctrl.ssh.message"></span>
                  </li>
                </ul>
              </li>

              <li class="terrama2-list-error">
                <i ng-show="ctrl.db.message" class="fa fa-caret-right"></i> <label ng-bind="i18n.__('DB connection')" class="tree-toogler nav-header"></label>
                <span ng-if="ctrl.db.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span ng-if="!ctrl.db.isLoading && ctrl.db.isValid" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!ctrl.db.isLoading && !ctrl.db.isValid" class="glyphicon glyphicon-remove"></span>
                <ul class="nav nav-list tree">
                  <li ng-show="!ctrl.db.isValid && ctrl.db.message">
                    <span ng-bind="ctrl.db.message"></span>
                  </li>
                </ul>
              </li>

              <li class="terrama2-list-error">
                <i ng-show="ctrl.portNumber.message" class="fa fa-caret-right"></i> <label ng-bind="i18n.__('Port number')" class="tree-toogler nav-header"></label>
                <span ng-if="ctrl.portNumber.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span ng-if="!ctrl.portNumber.isLoading && ctrl.portNumber.isValid" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!ctrl.portNumber.isLoading && !ctrl.portNumber.isValid" class="glyphicon glyphicon-remove"></span>
                <ul class="nav nav-list tree">
                  <li ng-show="!ctrl.portNumber.isValid && ctrl.portNumber.message">
                    <span ng-bind="ctrl.portNumber.message"></span>
                  </li>
                </ul>
              </li>

              <li class="terrama2-list-error" ng-show="ctrl.service.service_type_id == 4">
                <i ng-show="ctrl.mailConnection.message" class="fa fa-caret-right"></i> <label ng-bind="i18n.__('Email Server Connection')" class="tree-toogler nav-header"></label>
                <span ng-if="ctrl.mailConnection.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span ng-if="!ctrl.mailConnection.isLoading && ctrl.mailConnection.isValid" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!ctrl.mailConnection.isLoading && !ctrl.mailConnection.isValid" class="glyphicon glyphicon-remove"></span>
                <ul class="nav nav-list tree">
                  <li ng-show="!ctrl.mailConnection.isValid && ctrl.mailConnection.message">
                    <span ng-bind="ctrl.mailConnection.message"></span>
                  </li>
                </ul>
              </li>

              <li class="terrama2-list-error" ng-show="ctrl.service.service_type_id == 3">
                <i ng-show="ctrl.geoserverConnection.message" class="fa fa-caret-right"></i> <label ng-bind="i18n.__('Maps Server Connection')" class="tree-toogler nav-header"></label>
                <span ng-if="ctrl.geoserverConnection.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <span ng-if="!ctrl.geoserverConnection.isLoading && ctrl.geoserverConnection.isValid" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!ctrl.geoserverConnection.isLoading && !ctrl.geoserverConnection.isValid" class="glyphicon glyphicon-remove"></span>
                <ul class="nav nav-list tree">
                  <li ng-show="!ctrl.geoserverConnection.isValid && ctrl.geoserverConnection.message">
                    <span ng-bind="ctrl.geoserverConnection.message"></span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-md-12" ng-if="ctrl.extraProperties.showConfirmButton">
            <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.extraProperties.confirmButtonFn(extra.object)">
              {{ ctrl.extraProperties.confirmButtonName || i18n.__("Confirm") }}
            </button>
          </div>
          <div style="clear: both;"></div>
        </terrama2-alert-box2>

        <terrama2-modal-box  title="i18n.__('Connection')" modal-id="'modalConnection'">
          <div class="panel-group">
            <div class="panel panel-default" ng-class="{'panel-danger': !ctrl.ssh.isValid && ctrl.ssh.message, 'panel-success': ctrl.ssh.isValid}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#sshError" ng-bind="i18n.__('Host connection')">:</a>
                  <span ng-if="ctrl.ssh.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                  <span ng-if="!ctrl.ssh.isLoading && ctrl.ssh.isValid" class="glyphicon glyphicon-ok"></span>
                  <span ng-if="!ctrl.ssh.isLoading && !ctrl.ssh.isValid" class="glyphicon glyphicon-remove"></span>
                </h4>
              </div>
              <div ng-if="!ctrl.ssh.isValid && ctrl.ssh.message" id="sshError" class="panel-collapse collapse in">
                <div class="panel-body">
                  <span class="text-danger" ng-bind="ctrl.ssh.message"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <div class="panel panel-default" ng-class="{'panel-danger': !ctrl.db.isValid && ctrl.db.message, 'panel-success': ctrl.db.isValid}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#dbError" ng-bind="i18n.__('DB connection')">:</a>
                  <span ng-if="ctrl.db.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                  <span ng-if="!ctrl.db.isLoading && ctrl.db.isValid" class="glyphicon glyphicon-ok"></span>
                  <span ng-if="!ctrl.db.isLoading && !ctrl.db.isValid" class="glyphicon glyphicon-remove"></span>
                </h4>
              </div>
              <div ng-if="!ctrl.db.isValid && db.message" id="dbError" class="panel-collapse collapse in">
                <div class="panel-body">
                  <span class="text-danger" ng-bind="ctrl.db.message"></span>
                </div>
              </div>
            </div>
          </div>

        </terrama2-modal-box>
      </div>

      <form name="serviceForm">
        <terrama2-box title="i18n.__('Information')" css="ctrl.css">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-7">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Name") }}:</label>
                  <input class="form-control" name="name" ng-model="ctrl.service.name" placeholder="{{ i18n.__('Service  Name') }}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.name.$dirty" ng-class="{'glyphicon-ok': serviceForm.name.$valid, 'glyphicon-remove': serviceForm.name.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.name.$dirty && serviceForm.name.$invalid">{{ i18n.__('Service name is required') }}</span>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-md-3">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Type") }}:</label>
                  <select class="form-control" name="type" ng-disabled="ctrl.update" ng-model="ctrl.service.service_type_id" required>
                    <option value="1">{{ i18n.__('Collector') }}</option>
                    <option value="2">{{ i18n.__('Analysis') }}</option>
                    <option value="3">{{ i18n.__('View') }}</option>
                    <option value="4">{{ i18n.__('Alert') }}</option>
                    <option value="5">{{ i18n.__('Interpolation') }}</option>
                  </select>

                  <span class="form-control-feedback glyphicon terrama2-combobox-feedback" ng-show="serviceForm.type.$dirty" ng-class="{'glyphicon-ok': serviceForm.type.$valid, 'glyphicon-remove': serviceForm.type.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.type.$dirty && serviceForm.type.$invalid">{{ i18n.__('Service type is required') }}</span>

                </div>
                <!-- /.form-group -->
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <div class="checkbox">
                    <label style="font-weight: 700; margin-top:19px;">
                      <input type="checkbox" name="active" ng-model="ctrl.service.isLocal" ng-init="ctrl.initService(true)"> {{ i18n.__('Local Service') }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <label>{{ i18n.__("Description") }}:</label>
                  <textarea class="form-control" ng-model="ctrl.service.description" rows="3" placeholder="{{ i18n.__('Service Description') }}"></textarea>
                </div>
              </div>
            </div>
          </div>
        </terrama2-box>

        <terrama2-box title="i18n.__('Host')" css="ctrl.css">
          <div class="row">
            <div class="col-md-12" ng-show="!ctrl.service.isLocal">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Address") }}:</label>
                  <input class="form-control" name="host" ng-model="ctrl.service.host" placeholder="{{ i18n.__('Ssh Hostname') }}" type="text" ng-required="!ctrl.service.isLocal">

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.host.$dirty" ng-class="{'glyphicon-ok': serviceForm.host.$valid, 'glyphicon-remove': serviceForm.host.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.host.$dirty && serviceForm.host.$invalid">{{ i18n.__('Ssh host is required') }}</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Port") }}:</label>
                  <input class="form-control" name="sshPort" ng-model="ctrl.service.sshPort" placeholder="{{ i18n.__('Ssh Port') }}" type="number" min="1" max="65535" ng-required="!ctrl.service.isLocal">
                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.sshPort.$dirty" ng-class="{'glyphicon-ok': serviceForm.sshPort.$valid, 'glyphicon-remove': serviceForm.sshPort.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.sshPort.$dirty && serviceForm.sshPort.$error.required">{{ i18n.__('Ssh port is required') }}</span>

                  <!-- invalid number: min/max -->

                  <span class="help-block has-error"
                        ng-show="serviceForm.sshPort.$dirty && serviceForm.sshPort.$error.number"
                        ng-bind="i18n.__('Ssh port is invalid')">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Service Executable Path") }}:</label>
                  <input class="form-control" name="path" ng-model="ctrl.service.pathToBinary" placeholder="{{ i18n.__('Service Executable Path') }}" type="text" required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.path.$dirty" ng-class="{'glyphicon-ok': serviceForm.path.$valid, 'glyphicon-remove': serviceForm.path.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.path.$dirty && serviceForm.path.$error.required">{{ i18n.__('Service Executable Path is required') }}</span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6" ng-show="!ctrl.service.isLocal">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("User") }}:</label>
                  <input class="form-control" name="user" ng-model="ctrl.service.sshUser" placeholder="{{ i18n.__('Ssh username') }}" type="text" ng-required="!ctrl.service.isLocal">

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.user.$dirty" ng-class="{'glyphicon-ok': serviceForm.user.$valid, 'glyphicon-remove': serviceForm.user.$invalid }"></span>

                  <span class="help-block has-error" ng-show="serviceForm.user.$dirty && serviceForm.user.$error.required">{{ i18n.__('Ssh user is required') }}</span>
                </div>
              </div>

              <div ng-class="{'col-md-12': ctrl.service.isLocal, 'col-md-6': !ctrl.service.isLocal}">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Service Port") }}:</label>
                  <input class="form-control" name="port" ng-model="ctrl.service.port" placeholder="{{ i18n.__('Service Port') }}" type="number" min="1" max="65535" service-validation required>

                  <span class="form-control-feedback glyphicon" ng-show="serviceForm.port.$dirty" ng-class="{'glyphicon-ok': serviceForm.port.$valid, 'glyphicon-remove': serviceForm.port.$invalid }"></span>

                  <!-- invalid number: min/max -->

                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.required">{{ i18n.__('Service port is required') }}</span>

                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.number">{{ i18n.__('Service port is invalid') }}</span>
                  <span class="help-block has-error" ng-show="serviceForm.port.$dirty && serviceForm.port.$error.service">{{ i18n.__('Service port is already used by other process') }}</span>
                </div>
              </div>
              <!-- ./col-md-6 -->
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Number of Threads") }}:</label>
                  <input class="form-control"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="{{ i18n.__('When the value is 0, it will use thread number supported by the server') }}"
                         name="numberOfThreads"
                         ng-model="ctrl.service.numberOfThreads"
                         placeholder="{{ i18n.__('Number of Threads') }}"
                         required=""
                         type="number" min="0">

                  <span class="form-control-feedback glyphicon ng-hide glyphicon-remove" ng-show="serviceForm.numberOfThreads.$dirty" ng-class="{'glyphicon-ok': serviceForm.numberOfThreads.$valid, 'glyphicon-remove': serviceForm.numberOfThreads.$invalid }"></span>
                  <span class="help-block" ng-show="serviceForm.numberOfThreads.$dirty && serviceForm.numberOfThreads.$error.required">{{ i18n.__("Number of threads is required") }}</span>
                  <span class="help-block" ng-show="serviceForm.numberOfThreads.$dirty && (serviceForm.numberOfThreads.$error.number || serviceForm.numberOfThreads.$error.min)">{{ i18n.__("Number of threads is invalid") }}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ i18n.__("Enviroment") }}:</label>
                  <textarea class="form-control" style="max-width: 100%; max-height: 200px;" ng-model="ctrl.service.runEnviroment" rows="6" placeholder="{{ i18n.__('Enviroment Variables') }}"></textarea>
                </div>
              </div>
            </div>
          </div>
        </terrama2-box>
      </form>
      <!-- ./form serviceForm -->

      <terrama2-box title="i18n.__('Log')" css="ctrl.css">
        <div class="row">
          <form name="logForm">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Log hostname") }}:</label>
                  <input class="form-control" name="host" ng-model="ctrl.log.host" placeholder="{{ i18n.__('Log hostname') }}" type="text" required>

                  <span class="form-control-feedback glyphicon"
                        ng-show="logForm.host.$dirty"
                        ng-class="{'glyphicon-ok': logForm.host.$valid, 'glyphicon-remove': logForm.host.$invalid }"></span>

                  <span class="help-block has-error"
                        ng-show="logForm.host.$dirty && logForm.host.$error.required"
                        ng-bind="i18n.__('Log host is required')">
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Port") }}:</label>
                  <input class="form-control" name="port" ng-model="ctrl.log.port" placeholder="{{ i18n.__('Log port number') }}" type="number" min="1" max="65535" required>

                  <span class="form-control-feedback glyphicon"
                        ng-show="logForm.port.$dirty"
                        ng-class="{'glyphicon-ok': logForm.port.$valid, 'glyphicon-remove': logForm.port.$invalid }">
                  </span>

                  <!-- invalid number: min/max -->

                  <span class="help-block has-error"
                        ng-show="logForm.port.$dirty && logForm.port.$error.required"
                        ng-bind="i18n.__('Port is required')">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("User") }}:</label>
                  <input class="form-control" name="user" ng-model="ctrl.log.user" placeholder="{{ i18n.__('Log username') }}" type="text" required>

                  <span class="form-control-feedback glyphicon"
                        ng-show="logForm.user.$dirty"
                        ng-class="{'glyphicon-ok': logForm.user.$valid, 'glyphicon-remove': logForm.user.$invalid }"></span>

                  <span class="help-block has-error"
                        ng-show="logForm.user.$dirty && logForm.user.$error.required"
                        ng-bind="i18n.__('User is required')">
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Password") }}:</label>
                  <input class="form-control" name="password" ng-model="ctrl.log.password" ng-if="!ctrl.update" placeholder="{{ i18n.__('Log password') }}" type="password">
                  <input class="form-control" name="passwordUpdate" ng-model="ctrl.log.passwordUpdate" ng-if="ctrl.update" placeholder="{{ i18n.__('Insert a value if you want to update the password') }}" type="password">
                  <span class="form-control-feedback glyphicon"
                        ng-show="logForm.user.$dirty"
                        ng-class="{'glyphicon-ok': logForm.user.$valid, 'glyphicon-remove': logForm.user.$invalid }">
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Database Name") }}:</label>

                  <input class="form-control"
                         name="database"
                         ng-model="ctrl.log.database"
                         placeholder="{{ i18n.__('Log database name') }}"
                         type="text"
                         required>

                  <terrama2-auto-complete ng-model="ctrl.log.database" model="ctrl.config.availableDatabases"></terrama2-auto-complete>

                  <span class="form-control-feedback glyphicon"
                        ng-show="logForm.database.$dirty"
                        ng-class="{'glyphicon-ok': logForm.database.$valid, 'glyphicon-remove': logForm.database.$invalid }">
                  </span>

                  <span class="help-block has-error"
                        ng-show="logForm.database.$dirty && logForm.database.$error.required"
                        ng-bind="i18n.__('Database name is required')">
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </terrama2-box>

      <terrama2-box title="i18n.__('Maps Server Parameters')" css="ctrl.css" ng-show="ctrl.service.service_type_id == 3">
        <div class="row">
          <form name="mapsServerForm" novalidate>
            <div class="col-md-12">
              <div class="col-md-8">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label><span ng-bind="i18n.__('Address')"></span>:</label>
                  <input class="form-control"
                         name="address"
                         ng-model="ctrl.mapsServer.address"
                         placeholder="{{ i18n.__('Maps Server URI') }}"
                         type="text"
                         ng-required="ctrl.service.service_type_id == 3"
                         ng-blur="ctrl.onMapsServerURIChange()">

                  <span class="form-control-feedback glyphicon"
                        ng-show="mapsServerForm.address.$dirty"
                        ng-class="{'glyphicon-ok': mapsServerForm.address.$valid, 'glyphicon-remove': mapsServerForm.address.$invalid }">
                  </span>
                  <!-- required -->
                  <span class="help-block has-error"
                        ng-show="mapsServerForm.address.$dirty && mapsServerForm.address.$error.required"
                        ng-bind="i18n.__('Maps Server URI is required for View Services')">
                  </span>
                </div>
              </div>
              <!-- ./col-md-8 -->

              <div class="col-md-4">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label><span ng-bind="i18n.__('Port')"></span>:</label>
                  <input class="form-control" name="addressPort" ng-model="ctrl.mapsServer.port" placeholder="{{ i18n.__('Port number') }}" type="number" min="1" max="65535" required>

                  <span class="form-control-feedback glyphicon"
                        ng-show="mapsServerForm.addressPort.$dirty"
                        ng-class="{'glyphicon-ok': mapsServerForm.addressPort.$valid, 'glyphicon-remove': mapsServerForm.addressPort.$invalid }">
                  </span>

                  <!-- invalid number: min/max -->

                  <span class="help-block has-error"
                        ng-show="mapsServerForm.addressPort.$dirty && mapsServerForm.addressPort.$error.required"
                        ng-bind="i18n.__('Port is required')">
                  </span>

                  <span class="help-block has-error"
                        ng-show="mapsServerForm.addressPort.$dirty && mapsServerForm.addressPort.$error.number"
                        ng-bind="i18n.__('Port is invalid')">
                  </span>
                </div>
              </div>
              <!-- ./col-md-4 -->
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("User") }}:</label>
                  <input class="form-control" name="addressUser" ng-model="ctrl.mapsServer.user" placeholder="{{ i18n.__('User') }}" type="text">

                  <span class="form-control-feedback glyphicon"
                        ng-show="mapsServerForm.addressUser.$dirty"
                        ng-class="{'glyphicon-ok': mapsServerForm.addressUser.$valid, 'glyphicon-remove': mapsServerForm.addressUser.$invalid }"></span>

                  <span class="help-block has-error"
                        ng-show="mapsServerForm.addressUser.$dirty && mapsServerForm.addressUser.$error.required">{{ i18n.__('User is required') }}</span>
                </div>
              </div>
              <!-- ./col-md-6 -->

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Password") }}:</label>
                  <input class="form-control" name="password" ng-model="ctrl.mapsServer.password" ng-if="!ctrl.update" placeholder="{{ i18n.__('Password') }}" type="password">
                  <input class="form-control" name="passwordUpdate" ng-model="ctrl.mapsServer.passwordUpdate" ng-if="ctrl.update" placeholder="{{ i18n.__('Insert a value if you want to update the password') }}" type="password">

                  <span class="form-control-feedback glyphicon" ng-show="mapsServerForm.password.$dirty" ng-class="{'glyphicon-ok': mapsServerForm.password.$valid, 'glyphicon-remove': mapsServerForm.password.$invalid }"></span>
                </div>
              </div>
              <!-- ./col-md-6 -->
            </div>
          </form>
        </div>
      </terrama2-box>

      <terrama2-box title="i18n.__('Email Server')" css="ctrl.css" ng-if="ctrl.isAlertService()">
        <div class="row">
          <form name="emailServerForm" novalidate>
            <div class="col-md-12">
              <div class="col-md-8">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label><span ng-bind="i18n.__('Host Address (URI)')"></span>:</label>
                  <input class="form-control"
                         name="host"
                         ng-model="ctrl.metadata.emailServer.host"
                         placeholder="{{ i18n.__('Host Address (URI)') }}"
                         type="text"
                         required>

                  <span class="form-control-feedback glyphicon"
                        ng-show="emailServerForm.host.$dirty"
                        ng-class="{'glyphicon-ok': emailServerForm.host.$valid, 'glyphicon-remove': emailServerForm.host.$invalid }">
                  </span>
                  <!-- required -->
                  <span class="help-block has-error"
                        ng-show="emailServerForm.host.$dirty && emailServerForm.host.$error.required"
                        ng-bind="i18n.__('Host Address is required')">
                  </span>
                </div>
              </div>
              <!-- ./col-md-8 -->

              <div class="col-md-4">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label><span ng-bind="i18n.__('Port')"></span>:</label>
                  <input class="form-control" name="port"
                                              ng-model="ctrl.metadata.emailServer.port"
                                              placeholder="{{ i18n.__('Port number') }}" type="number" min="1" max="65535" required>

                  <span class="form-control-feedback glyphicon"
                        ng-show="emailServerForm.port.$dirty"
                        ng-class="{'glyphicon-ok': emailServerForm.port.$valid, 'glyphicon-remove': emailServerForm.port.$invalid }">
                  </span>

                  <!-- invalid number: min/max -->

                  <span class="help-block has-error"
                        ng-show="emailServerForm.port.$dirty && emailServerForm.port.$error.required"
                        ng-bind="i18n.__('Port is required')">
                  </span>

                  <span class="help-block has-error"
                        ng-show="emailServerForm.port.$dirty && emailServerForm.port.$error.number"
                        ng-bind="i18n.__('Port is invalid')">
                  </span>
                </div>
              </div>
              <!-- ./col-md-4 -->
            </div>

            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("User") }}:</label>
                  <input class="form-control" name="user" autocomplete="off" ng-model="ctrl.metadata.emailServer.user" placeholder="{{ i18n.__('User') }}" type="text">

                  <span class="form-control-feedback glyphicon"
                        ng-show="emailServerForm.user.$dirty"
                        ng-class="{'glyphicon-ok': emailServerForm.user.$valid, 'glyphicon-remove': emailServerForm.user.$invalid }"></span>

                  <span class="help-block has-error"
                        ng-show="emailServerForm.user.$dirty && emailServerForm.user.$error.required">{{ i18n.__('User is required') }}</span>
                </div>
              </div>
              <!-- ./col-md-6 -->

              <div class="col-md-6">
                <div class="form-group has-feedback" terrama2-show-errors>
                  <label>{{ i18n.__("Password") }}:</label>
                  <input class="form-control" name="password" ng-model="ctrl.metadata.emailServer.password" ng-if="!ctrl.update" placeholder="{{ i18n.__('Password') }}" type="password">
                  <input class="form-control" name="passwordUpdate" ng-model="ctrl.metadata.emailServer.passwordUpdate" ng-if="ctrl.update" placeholder="{{ i18n.__('Insert a value if you want to update the password') }}" type="password">

                  <span class="form-control-feedback glyphicon" ng-show="emailServerForm.password.$dirty" ng-class="{'glyphicon-ok': emailServerForm.password.$valid, 'glyphicon-remove': mapsServerForm.password.$invalid }"></span>
                </div>
              </div>
              <!-- ./col-md-6 -->
            </div>

            <div class="col-md-12" style="border-top: 1px solid #f4f4f4;">
              <div class="col-md-12">
                <h4>{{ i18n.__("Email Server Test") }}</h4>
              </div>
              <div class="col-md-12" style="padding: 0; margin-top: 5px;">
                <div class="col-md-9">
                  <div class="form-group">
                    <input class="form-control" autocomplete="off" ng-model="ctrl.emailAddressTest" placeholder="{{ i18n.__('Email Address') }}" type="email">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary"  style="margin-left: 10px;" ng-click="ctrl.sendTestEmail()" ng-disabled="ctrl.mailConnection.isLoading">
                      <span class="loading" ng-show="ctrl.mailConnection.isLoading" style="margin-right: 5px;"><i class="fa fa-refresh fa-spin"></i></span>
                      <span class="text">{{ i18n.__("Send Test Email") }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </terrama2-box>
    </div>
    <!-- /.row -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right" id="serviceSaveButton" data-ng-click="ctrl.save()" style="margin-left: 10px;">{{ i18n.__("Save") }}</button>
      <button type="submit" class="btn btn-primary pull-right"  style="margin-left: 10px;" ng-click="ctrl.checkConnection()" ng-disabled="ctrl.ssh.isLoading || ctrl.db.isLoading || ctrl.mailConnection.isLoading || ctrl.geoserverConnection.isLoading">
        <span class="loading" ng-show="ctrl.ssh.isLoading || ctrl.db.isLoading || ctrl.mailConnection.isLoading || ctrl.geoserverConnection.isLoading" style="margin-right: 5px;"><i class="fa fa-refresh fa-spin"></i></span>
        <span class="text">{{ i18n.__("Check Connection") }}</span>
      </button>
      <a ng-href="{[ BASE_URL ]}administration/services" class="btn btn-primary pull-left" id="serviceCancelButton">{{ i18n.__("Cancel") }}</a>
    </div>

    <div class="overlay" ng-show="isChecking">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </terrama2-box>
</div> <!-- end col md 12 -->

<div id="sendTestEmailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ i18n.__("Email Server Test") }}</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">{{ i18n.__("Close") }}</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
