{% extends "../base/layout.html" %}

{% set tabActive = "services" %}
{% set reload = restart === true || restart === "true" %}

{% block styles %}
<style type="text/css">
  .pull-cell-left {
    white-space: nowrap !important;
    width: 1px !important;
  }

</style>
{% endblock %}

{% block title %} TerraMA² {% endblock %}

{% block javascripts %}

<script type="text/javascript">
  var configuration = {
    service: "{[ service ]}",
    restart: {[ reload ]},
    message: "{[ message ]}"
  };
</script>
<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/pt-br.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/es.js"></script>
<script type="text/javascript" src="/bower_components/moment/locale/fr.js"></script>

{% endblock %}

{% block content %}

<div ng-controller="ServiceListController">
  <terrama2-box title="i18n.__(title)" helper="helperMessage" css="boxCss">
    <div class="col-md-12">
      <div class="col-md-12">
        <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="MessageBoxService.reset()"></terrama2-alert-box2>
      </div>

      <terrama2-table fields="fields" 
                      model="model" 
                      link="link" 
                      link-to-add="linkToAdd"
                      order-by="'name'" 
                      extra="extra" 
                      remove="remove(object);"
                      icon-properties="iconProperties"
                      icon="iconFn"></terrama2-table>
    </div>
  </terrama2-box>
</div>

{% endblock %}
