{% extends "../base/layout.html" %}

{% block title %} TerraMA2 {[ __('User Registration') ]} {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/externals/jquery-countries/css/intlTelInput.css">
<style type="text/css">
    .intl-tel-input
    {
        display: block !important;
    }
</style>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/externals/jquery-countries/js/intlTelInput.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#cellphone").intlTelInput({
            preferredCountries: [ "br", "us", "es", "fr"],
            utilsScript: "/externals/jquery-countries/js/utils.js"
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{[ __('User Registration') ]}</h3>
        </div>
        <!-- /.box-header -->
        <div style="display: block;" class="box-body">

            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">{[ __('General Data') ]}</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div style="display: block;" class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{[ __("Name") ]}:</label>
                                    <input class="form-control" id="name" placeholder="{[ __('User Name') ]}" type="text">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{[ __("Username") ]}:</label>
                                    <input class="form-control" id="username" placeholder="{[ __('User name credential') ]}" type="text">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{[ __("Password") ]}:</label>
                                    <input class="form-control" id="password" placeholder="{[ __('User Password credential') ]}" type="password">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{[ __("Confirm Password") ]}:</label>
                                    <input class="form-control" id="password" placeholder="{[ __('Confirm password') ]}" type="password">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{[ __("Cell phone") ]}:</label>
                                    <input class="form-control" runat="server" id="cellphone" placeholder="{[ __('User cell phone number') ]}" type="tel">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{[ __("E-mail") ]}:</label>
                                    <input class="form-control" id="email" placeholder="{[ __('User e-mail') ]}" type="email">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box body -->
                </div>
            </div>

        </div>
        <!-- /.box body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __('OK') ]}</button>
            <a href="/administration/users" class="btn btn-primary pull-right" style="margin-left: 10px;">{[ __('Cancel') ]}</a>
        </div>
    </div>
</div> <!-- end col md 12 -->

{% endblock %}