{% extends "../base/layout.html" %}

{% set tabActive = "users" %}

{% block ngApp %}ng-app="terrama2.users"{% endblock %}

{% block title %} TerraMA² {{ i18n.__('Users Handling') }} {% endblock %}

{% block javascripts %}

<script src="/javascripts/angular/table/table.js"></script>
<script src="/javascripts/angular/alert-box/directives.js"></script>

<script>
  var configuration = {
    message: "{[ message ]}",
    users: {[ (usersList || {})|json|safe ]}
  };
</script>
{% endblock %}

{% block content %}

<div ng-controller="ListController">
  <terrama2-box title="i18n.__('Users')">
    <div class="col-md-12">
      <div class="col-md-12">
        <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="close()"></terrama2-alert-box2>
      </div>

      <terrama2-table fields="fields" model="model" link="link" link-to-add="linkToAdd" remove="remove(object);" extra="extra" order-by="'name'"></terrama2-table>
    </div>
  </terrama2-box>
</div>

{% endblock %}
