<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Dados Adicionais</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Nome:</label>
                    <input class="form-control" id="name" placeholder="Nome do Data Set" type="text">
                </div>
            </div>
            <!-- /.col md 7 -->

            <div class="col-md-5">

            </div>
            <!-- /.col md 5 -->

            <div class="col-md-7">
                <div class="form-group">
                    <label>Frequência de Atualização:</label>

                    <div class="input-group">
                            <input class="form-control timepicker" type="text">

                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
<!--             <div style="padding-left: 0px;" class="col-md-7">
                <span style="font-weight: 700; display: block; margin-left: 15px; margin-bottom: 5px;">Frequencia:</span>
                <div class="col-md-4">
                    <div class="form-group">

                        <input class="form-control" id="hours" placeholder="Horas" type="text">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" id="minutes" placeholder="Minutos" type="text">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" id="seconds" placeholder="Segundos" type="text">
                    </div>
                </div>
            </div> -->

            <div class="col-md-3">
                <div class="form-group">
                    <label>Fuso Horário</label>
                    <select class="form-control">
                        <option>00:00</option>
                        <option>12:00</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        <label class="terrama2-checkbox-align">
                            <input type="checkbox"> Servidor Ativo
                        </label>
                    </div>
                </div>
            </div>
            <!-- /. col md 3 -->

            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea class="form-control" rows="3" placeholder="Descrição do Data Set"></textarea>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /. col md 12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box group -->
</div>
<!-- /.box solid -->