<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{ __('Additional Data') }}</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ __('Institute') }}:</label>
                    <input class="form-control" id="institute" type="text">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ __('Author') }}:</label>
                    <input class="form-control" id="author" type="text">
                </div>
            </div>

            <div class='col-md-6'>
                <div class="form-group">
                    <label>{{ __('Created at') }}:</label>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <label>{{ __('Valid until') }}:</label>
                    <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box group -->
</div>
<!-- /.box solid -->