{# It should be a component angular #}
<div class="modal fade" id="areaOfInterestModal" tabindex="-1" role="dialog" aria-labelledby="areaOfInterestModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header terrama2-component-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="areaOfInterestModalLabel">{{ __('Select Area of Interest') }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ __('Area of interest for notification') }}:</label>

                                <select class="terrama2-list-align" style="font-align: left;" multiple="" class="form-control" id="sel2">
                                    <option>Area 1</option>
                                    <option>Area 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ __('OK') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            </div>

        </div>
    </div>
</div>
