<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Atributos</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover terrama2-header-fixed" id="terrama2-pcd-table">
                        <thead>
                           <tr>
                                <th style="max-width: 50px;">-</th>
                                <th>Atributo</th>
                                <th>Tipo</th>
                                <th>Visível?</th>
                                <th>Alias</th>
                                <th>Ordem</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                                <td style="max-width: 50px;">1</td>
                                <td>PCD1</td>
                                <td>10</td>
                                <td>
                                    <span class="label label-success">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                               </td>
                               <td>10</td>
                               <td>4326</td>
                           </tr>
                           <tr>
                               <td style="max-width: 50px;">2</td>
                               <td>PCD2</td>
                               <td>20</td>
                               <td>
                                   <span class="label label-danger">
                                       <i class="glyphicon glyphicon-remove"></i>
                                   </span>
                               </td>
                               <td>20</td>
                               <td>4326</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box group -->
</div>
<!-- /.box solid -->