<div class="col-md-2">
    <div class="form-group">
        <label>Select the collect time:</label>
        <select class="form-control" id="comboboxCollectTime">
            <option selected>{{ __('Data Frequency') }}</option>
            <option>{{ __('Schedule') }}</option>
        </select>
    </div>
</div>

<div class="col-md-2" id="dataFrequencyBlock">
    <div class="form-group">
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>{{ __('Data Frequency') }}:</label>
                <div class="input-group">
                    <input type="text" class="form-control timepicker" name="dataFrequency" data-format="HH:mm:ss">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div><!-- /.input group -->
            </div><!-- /.form group -->
        </div>
        <!-- /.input group -->
    </div>
</div>

<div class="col-md-2 hidden" id="scheduleBlock">
    <div class="form-group">
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>{{ __('Schedule') }}:</label>
                <div class="input-group">
                    <input type="text" class="form-control timepicker" name="schedule" data-format="HH:mm:ss">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div><!-- /.input group -->
            </div><!-- /.form group -->
        </div>
        <!-- /.input group -->
    </div>
</div>

<div class="col-md-2 hidden" id="scheduleRetryBlock">
    <div class="form-group">
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>{{ __('Schedule Retry') }}:</label>
                <div class="input-group">
                    <input type="text" class="form-control timepicker" name="scheduleRetry" data-format="HH:mm:ss">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div><!-- /.input group -->
            </div><!-- /.form group -->
        </div>
        <!-- /.input group -->
    </div>
</div>

<div class="col-md-2 hidden" id="scheduleTimeoutBlock">
    <div class="form-group">
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>{{ __('Schedule Timeout') }}:</label>
                <div class="input-group">
                    <input type="text" class="form-control timepicker" name="scheduleTimeout" data-format="HH:mm:ss">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>