{# It should be a component angular #}
<!-- filter modal -->
<div class="modal fade" id="collectRuleModal" tabindex="-1" role="dialog" aria-labelledby="collectRuleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header terrama2-component-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="collectRuleModalLabel">Regra de Coleta</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Linguagem:</label>
                            <select class="form-control" id="collectLang">
                                <option selected>LUA</option>
                                <option>Python</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="btn-group" style="padding-top:25px;">
                            <button aria-expanded="false" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                Funções
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">max</a></li>
                                <li><a href="#">min</a></li>
                                <li><a href="#">abs</a></li>
                            </ul>
                        </div>

                        <div class="btn-group" style="padding-top:25px; margin-left:20px;">
                            <button aria-expanded="false" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Comandos em LUA
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">if</a></li>
                                <li><a href="#">for</a></li>
                                <li><a href="#">if else elseif</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Código:</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-primary">Validar Sintaxe</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>
