<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#filterDateTab">{{ __('Date') }}</a></li>
            <li><a data-toggle="tab" href="#filterAreaTab">{{ __('Area') }}</a></li>
            <li><a data-toggle="tab" href="#filterPreAnalysisTab">{{ __('Pre-Analysis') }}</a></li>
            <li><a data-toggle="tab" href="#filterBandTab">{{ __('Bands') }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="filterDateTab">
                <div class="col-md-12">
                    <p></p>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>{{ __('Ignores data previous to') }}:</label>
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>{{ __('Ignores data after to') }}:</label>
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <!-- ./form-group -->
                    </div>
                    <!-- ./col-md-6 -->
                </div>
            </div>
            <div class="tab-pane" id="filterAreaTab">
                <div class="col-md-12">
                    <p></p>
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label>{{ __('Select the filter area type') }}:</label>
                            <select class="form-control" id="filterAreaCombobox">
                                <option selected>Do not filter</option>
                                <option>Filter by limits</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- ./col-md-12 -->
            </div>
            <div class="tab-pane" id="filterPreAnalysisTab">
                <div class="col-md-12">
                    <p></p>
                    <div class='col-md-12'>

                        <div class="form-group">
                            <div class="radio">
                                <label>
                                <input name="optionsRadios" id="doNotMakePreAnalysis" value="option1" checked="true" type="radio">
                                    {{ __('Do not make pre-analysis') }}
                                </label>
                            </div>
                        </div>

                    </div>
                    <!-- ./col-md-12 -->

                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                <input name="optionsRadios" id="cutByArea" value="option1" type="radio">
                                    {{ __('Ignores all data <b>LESS</b> than') }}:
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- ./col-md-8 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="name" placeholder="" type="text">
                        </div>
                    </div>
                    <!-- ./col-md-4 -->

                    <div class='col-md-8'>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                <input name="optionsRadios" id="cutByLimits" value="option1" type="radio">
                                    {{ __('Ignores all data <b>GREATER</b> than') }}:
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- ./col-md-8 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="name" placeholder="" type="text">
                        </div>
                    </div>
                    <!-- ./col-md-4 -->

                    <div class='col-md-8'>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                <input name="optionsRadios" id="cutByLimits" value="option1" type="radio">
                                    {{ __('Ignores if average is <b>LESS</b> than') }}:
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- ./col-md-8 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="name" placeholder="" type="text">
                        </div>
                    </div>
                    <!-- ./col-md-4 -->

                    <div class='col-md-8'>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                <input name="optionsRadios" id="cutByLimits" value="option1" type="radio">
                                    {{ __('Ignores if average is <b>GREATER</b> than') }}:
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- ./col-md-8 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="name" placeholder="" type="text">
                        </div>
                    </div>
                    <!-- ./col-md-4 -->

                    <div class='col-md-12'>
                        <div class="form-group">
                            <label>
                            <input name="optionsRadios" id="cutByLimits" value="option1" type="checkbox">
                                {{ __('Analyse only data inside selected plan') }}:
                            </label>
                        </div>
                    </div>
                    <!-- ./col-md-12 -->

                    <div class='col-md-12'>
                        <div class="form-group">
                            <textarea class="form-control" id="selectPlans"></textarea>
                        </div>
                    </div>
                    <!-- ./col-md-12 -->
                </div> 
                <!-- /.col-md-12 -->
            </div>
            <div class="tab-pane" id="filterBandTab">
                <div class="col-md-12">
                    <p></p>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ __('Bands to be skipped') }}:</label>
                            <input class="form-control" id="bands" type="text">
                        </div>
                    </div>
                </div>
                <!-- ./col-md-12 -->
            </div>
        </div>
        <!-- ./tab-content -->
    </div>
    <!-- ./col-md-12 -->
</div>
<!-- ./row -->