{# It should be a component angular #}
<!-- filter modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header terrama2-component-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="filterModalLabel">TerraMA2 Filtro de Data Set</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#dateTab" aria-controls="dateTab" role="tab" data-toggle="tab">Data</a></li>
                    <li role="presentation"><a href="#areaTab" aria-controls="areaTab" role="tab" data-toggle="tab">Área</a></li>
                    <li role="presentation"><a href="#preAnalyseTab" aria-controls="preAnalyseTab" role="tab" data-toggle="tab">Pré-Análise</a></li>
                    <li role="presentation"><a href="#layerTab" aria-controls="layerTab" role="tab" data-toggle="tab">Camadas</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="dateTab">
                        <div class="row">
                            <div class="col-md-12">
                                <p></p>
                                <div class='col-md-6'>
                                    <div class="form-group">
                                        <label>Eliminar dados anteriores à:</label>
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6'>
                                    <div class="form-group">
                                        <label>Eliminar dados posteriores à:</label>
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.dateTab -->

                    <div role="tabpanel" class="tab-pane" id="areaTab">
                        <div class="row">
                            <div class="col-md-12">
                                <p></p>
                                <div class='col-md-12'>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="withoutCut" value="option1" checked="" type="radio">
                                                Não recortar
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-md-12'>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="cutByArea" value="option1" checked="" type="radio">
                                                Recortar dados por área
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class='col-md-12'>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="cutByLimits" value="option1" checked="" type="radio">
                                                Recortar dados por limites do plano
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# TODO: display hidden fields #}
                        <div class="col-md-12">
                            
                        </div>
                    </div> <!-- /.areaTab -->

                    <div role="tabpanel" class="tab-pane" id="preAnalyseTab">
                        <div class="row">
                            <div class="col-md-12">
                                <p></p>
                                <div class='col-md-12'>

                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                <input name="optionsRadios" id="withoutCut" value="option1" checked="true" type="radio">
                                                    Não efetuar pré-análise
                                                </label>
                                            </div>
                                        </div>

                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="cutByArea" value="option1" type="radio">
                                                Eliminar todos os valores se forem <b>MENORES</b> que:
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" id="name" placeholder="" type="text">
                                    </div>
                                </div>

                                <div class='col-md-8'>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="cutByLimits" value="option1" type="radio">
                                                Eliminar todos os valores se forem <b>MAIORES</b> que:
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" id="name" placeholder="" type="text">
                                    </div>
                                </div>

                                <div class='col-md-8'>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="cutByLimits" value="option1" type="radio">
                                                Eliminar se a média for <b>MENOR</b> que:
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" id="name" placeholder="" type="text">
                                    </div>
                                </div>

                                <div class='col-md-8'>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                            <input name="optionsRadios" id="cutByLimits" value="option1" type="radio">
                                                Eliminar se a média for <b>MAIOR</b> que:
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" id="name" placeholder="" type="text">
                                    </div>
                                </div>

                                <div class='col-md-12'>
                                    <div class="form-group">
                                        <label>
                                        <input name="optionsRadios" id="cutByLimits" value="option1" type="checkbox">
                                            Analisar apenas os dados contidos no plano selecionado:
                                        </label>
                                    </div>
                                </div>

                                <div class='col-md-12'>
                                    <div class="form-group">
                                        <textarea class="form-control" id="selectPlans"></textarea>
                                    </div>
                                </div>
                            </div> 
                            <!-- /.col-md-12 -->
                        </div>
                    </div> <!-- /.preAnalyseTab -->

                    <div role="tabpanel" class="tab-pane" id="layerTab">
                        <div class="row">
                            <div class="col-md-12">
                                <p></p>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Camadas a serem eliminadas:</label>
                                        <input class="form-control" id="name" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.layerTab -->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>
