<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Filtros</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
        <div class="row">
            <div class="col-md-5">
               <div class="col-md-4 col-md-offset-5">
                    <button class="btn btn-primary btn-lg btn-block" id="filter-button" data-toggle="modal" data-target="#filterModal">Filtro</button>
                </div>
            </div>

            <div class="col-md-7" style="text-align: center; margin-top: 5px;">
                {# TODO: validate and display filter labels from parameters. #}
                <div class="col-md-6">
                    <span>Filtro por data: Sim</span>
                </div>

                <div class="col-md-6">  
                    <span>Filtro por pré-analise: Não</span>
                </div>

                <div class="col-md-6">
                    <span>Filtro por área: Não</span>
                </div>

                <div class="col-md-6">
                    <span>Filtro por camadas: Não</span>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box group -->
</div>
<!-- /.box solid -->