<div class="row">
    {% if kind|lower == "pcd" %}
        <div class="col-md-7">
            <div class="form-group">
                <label>{{ __('Name') }}:</label>
                <input class="form-control" id="name" placeholder="{{ __('Data Set Name') }}" type="text">
            </div>
        </div>
        <!-- /.col md 7 -->

        {% if state|lower == "static" %}
        <div class="col-md-3">
            <div class="form-group">
                <label>{{ __('File') }}:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="fileInputField" readonly>
                    <input type="file" class="form-control" id="fileInput" style="display:none;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="staticFile" type="button">{{ __('Select') }}</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>

        <div class="col-md-2">
            {% include "projection.html" %}
        </div>

        {% else %}
        <div class="col-md-5">
            <div class="form-group">
                <label>{{ __('Kind') }}</label>
                <select class="form-control">
                    <option>PCD INPE</option>
                </select>
            </div>
        </div>
        <!-- /.col md 5 -->
        {% endif %}
    {% else %}  

    {% if kind|lower == "dataset" %}
    <div class="col-md-9">
        <div class="form-group">
            <label>{{ __('Name') }}:</label>
            <input class="form-control" id="name" placeholder="{{ __('Data Set Name') }}" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>{{ __('Kind') }}</label>
            <select class="form-control">
                <option>Occurrence</option>
                <option>GRID</option>
                <option>PCD</option>
            </select>
        </div>
    </div>
    <!-- /.col md 3 -->

    {% else %}
    <div class="col-md-12">
        <div class="form-group">
            <label>{{ __('Name') }}:</label>
            <input class="form-control" id="name" placeholder="{{ __('Data Set Name') }}" type="text">
        </div>
    </div>

    {% endif %}

    {% endif %}

    {% if state|lower != "static" %}

    {% include "collectSchedule.html" %}

    <div class="col-md-2">
        <div class="form-group">
            <div class="checkbox">
                <label class="terrama2-checkbox-align">
                    <input type="checkbox" checked> {{ __('Active') }}
                </label>
            </div>
        </div>
    </div>
    <!-- /. col md 4 -->

    {% endif %}

    <div class="col-md-12">
        <div class="form-group">
            <label>{{ __('Description') }}</label>
            <textarea class="form-control" rows="3" placeholder="{{ __('Data Set Description') }}"></textarea>
        </div>
        <!-- /.form-group -->
    </div>
    <!-- /. col md 12 -->
</div>
<!-- /.row -->