{# It should have an object in structure like: {kind: "dataset type"} #}
<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{ __('General Data') }}</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
        <div class="row">
            {% if kind|lower == "pcd" %}
                <div class="col-md-7">
                    <div class="form-group">
                        <label>{{ __('Name') }}:</label>
                        <input class="form-control" id="name" placeholder="{{ __('Data Set Name') }}" type="text">
                    </div>
                </div>
                <!-- /.col md 7 -->

                {% if state|lower == "static" %}
                <div class="col-md-3">
                    <div class="form-group">
                        <label>{{ __('File') }}:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="fileInputField" readonly>
                            <input type="file" class="form-control" id="fileInput" style="display:none;">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="staticFile" type="button">{{ __('Select') }}</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>

                <div class="col-md-2">
                    {% include "projection.html" %}
                </div>

                {% else %}
                <div class="col-md-5">
                    <div class="form-group">
                        <label>{{ __('Kind') }}</label>
                        <select class="form-control">
                            <option>PCD INPE</option>
                        </select>
                    </div>
                </div>
                <!-- /.col md 5 -->
                {% endif %}
            {% else %}  
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ __('Name') }}:</label>
                    <input class="form-control" id="name" placeholder="{{ __('Data Set Name') }}" type="text">
                </div>
            </div>
            <!-- /.col md 7 -->

            {% endif %}

            {% if state|lower != "static" %}

            <div class="col-md-3">
                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>{{ __('Data Frequency') }}:</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" name="dataFrequency" data-format="HH:mm:ss">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                    <!-- /.input group -->
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>{{ __('Schedule') }}:</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" name="schedule" data-format="HH:mm:ss">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                    <!-- /.input group -->
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>{{ __('Schedule Retry') }}:</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" name="scheduleRetry" data-format="HH:mm:ss">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                    <!-- /.input group -->
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>{{ __('Schedule Timeout') }}:</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" name="scheduleTimeout" data-format="HH:mm:ss">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                    <!-- /.input group -->
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        <label class="terrama2-checkbox-align">
                            <input type="checkbox"> {{ __('Active') }}
                        </label>
                    </div>
                </div>
            </div>
            <!-- /. col md 4 -->

            {% endif %}

            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ __('Description') }}</label>
                    <textarea class="form-control" rows="3" placeholder="{{ __('Data Set Description') }}"></textarea>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /. col md 12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box group -->
</div>
<!-- /.box solid -->