{% set MENU_URLS = {} %}

{# set MENU_URLS = {"projects": {name: 'Projects', url: "/configuration/projects", icon: "fa-book"}} #}
{% set MENU_URLS["data-provider"] = {name: 'Data Servers', url: "/configuration/providers", icon: "fa-cubes"} %}
{% set MENU_URLS["dynamic-data"] = {name: 'Dynamic Data', url: "/configuration/dynamic/dataseries", icon: "fa-exchange"} %}
{% set MENU_URLS["static-data"] = {name: 'Static Data', url: "/configuration/static/dataseries", icon: "fa-folder-o"} %}
{% set MENU_URLS["analysis"] = {name: 'Analysis', url: "/configuration/analysis", icon: "fa-tasks"} %}
{% set MENU_URLS["views"] = {name: 'Views', url: "/configuration/views", icon: "fa-map"} %}
{% set MENU_URLS["alerts"] = {name: 'Alerts', url: "/configuration/alerts", icon: "fa-bell"} %}
{% set MENU_URLS["status"] = {name: 'Status', url: "/configuration/status", icon: "fa-feed"} %}

<!DOCTYPE html>
<html {% block ngApp %}ng-app="terrama2"{% endblock %} i18n-locale="{{ locale }}"
      ng-controller="{% block ngController%}TerraMA2Controller{% endblock %}"
      data-language="{[ acceptedLanguage() ]}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %} {% endblock %}</title>
  <!-- Defines responsive layout to screen -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/bower_components/AdminLTE/dist/css/AdminLTE.min.css">
  <!-- Template Skin -->
  <link rel="stylesheet" href="/bower_components/AdminLTE/dist/css/skins/skin-blue.min.css">
  <!-- i18n flags -->
  <link rel="stylesheet" type="text/css" href="/bower_components/intl-tel-input/build/css/intlTelInput.css">
  <!-- TerraMA2 -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/terrama2.css">

  {# Block for including TerraMA2 specific stylesheets #}
  <style>
    .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
      color: #fff;
      background: #3B4346;
      border-left-color: #3c8dbc;
    }

    .terrama2-overlay {
      position: relative;
      display: block !important;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }

    .terrama2-overlay > .loading {
      position: absolute;
      margin-top: 25%;
      left: 50%;
      font-size: 49px;
    }

  </style>
  {% block styles %}

  {% endblock %}

  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini {% if (collapsed) %} sidebar-collapse {% endif %}{% block bodyClass %}{% endblock %}">

  <div class="wrapper">

    <header class="main-header">

      <!-- Logo -->
      <a href="/" class="logo">
        <span class="logo-mini"><b></b>TMA²</span>
        <span class="logo-lg"><b>TerraMA²</b></span>
      </a>

      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="collapseButton">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="user user-menu">
              <terrama2-countries-list language="{{ '{[ userLocale ]}' || 'us' }}"></terrama2-countries-list>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="user user-menu">
              <a aria-expanded="false" href="/logout">
                <i class="glyphicon glyphicon-log-out"></i>
                <span ng-bind="i18n.__('Logout')"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        {% if (currentUser !== null) %}
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image" style="min-height: 40px;">
            <img src="/images/terrama2_logo.png" class="img-square" alt="User Image">
          </div>

          <div class="pull-left info">
            <p>{[ currentUser.name ]}</p>
          </div>
        </div>
        <!-- /.search form -->
        {% endif %}

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            {% if (activeProject.name) %}
              <li class="header" style="font-size:18px;font-weight: bold;">{[ activeProject.name ]}</li>
            {% endif %}
            <li class="treeview {% if (tabActive === 'projects') %} active {% endif %}">
              <a href="/configuration/projects">
                <i class="fa fa-book"></i><span ng-bind="i18n.__('Projects')"></span>
              </a>
            </li>
            {% if (activeProject.name) %}
              {% for tab in MENU_URLS %}
              <li class="treeview {% if (tabActive === loop.key) %} active {% endif %}">
                <a href="{[ tab.url ]}">
                  <i class="fa {[ tab.icon ]}"></i><span ng-bind="i18n.__('{[ tab.name ]}')"></span>
                </a>
              </li>
              {% endfor %}
            {% endif %}

            <li class="header"></li>

            {% if currentUser !== null && currentUser.administrator %}
            <li class="treeview">
              <a href="#">
                <i class="fa fa-cogs"></i> <span ng-bind="i18n.__('Administration')"></span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu" style="display: {% if (tabActive === 'services' || tabActive === 'users') %} block; {% else %} none;{% endif %}">
                <li class="treeview {% if (tabActive === 'services') %} active {% endif %}">
                  <a href="/administration/services">
                    <i class="fa fa-laptop"></i> <span ng-bind="i18n.__('Services')"></span>
                  </a>
                </li>
                <li class="treeview {% if (tabActive === 'users') %} active {% endif %}">
                  <a href="/administration/users">
                    <i class="fa fa-users"></i> <span ng-bind="i18n.__('Users')"></span>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            <li class="treeview {% if (tabActive === 'profile') %} active {% endif %}">
              <a href="/profile/">
                <i class="fa fa-pencil-square-o "></i><span ng-bind="i18n.__('Profile')"></span>
              </a>
            </li>

          </ul>
          <!-- /.ul sidebar -->
      </section>
      <!-- /.sidebar -->
    </aside>
    <!-- /. aside main-sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="row" ng-cloak>

          {# Block for handling content of each TerraMA2 page #}
          {% block content %}

          {% endblock %}

        </div>
      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
      </div>
      <strong>Copyright &copy; 2007 National Institute For Space Research (INPE) - Brazil </strong> <span ng-bind="i18n.__('All rights reserved')"></span>.
    </footer>

  </div>
  <!-- ./wrapper -->

  <script src="/bower_components/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <script src="/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
  <script src="/bower_components/AdminLTE/plugins/fastclick/fastclick.min.js"></script>
  <script src="/bower_components/AdminLTE/dist/js/app.min.js"></script>

  <!-- i18n flags -->
  <script type="text/javascript" src="/bower_components/intl-tel-input/build/js/intlTelInput.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      // lock all tags with terrama2-disabled class
      $("body").on("click", ".terrama2-disabled", function(event) {
        event.preventDefault();
      });

      // var collapsed = {[ collapsed ]};

      $("#collapseButton").click(function(event) {
        var self = this;

        // var inverse = !collapsed;
        $.ajax({
          method: 'POST',
          url: '/userDefaults/',
          data: {
            collapsed: collapsed
          }
        }).success(function(data) {
          collapsed = data.collapsed;
        }).error(function(err) {
          
        });
      });
    });
  </script>
  <!-- Angular JS -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <!-- Internationalization -->
  <script src="/bower_components/i18n-node-angular/i18n-node-angular.js"></script>
  <!-- TerraMA² Angular Module -->
  <!--<script src="/javascripts/angular/app.js"></script>-->
  <!-- Flags -->
  <!--<script src="/javascripts/angular/countries/countries-directive.js"></script>-->
  <!-- Socket.io -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  {# Block for handling TerraMA2 javascripts include #}
  {% block javascripts %}

  {% endblock %}

  <!--<script type="text/javascript" src="/javascripts/angular/dist/tm2.js"></script>-->

</body>
</html>
