<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Parâmetros</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
        <div class="row">
            <div class="col-md-6">

                <div class="input-group">
                    <label>Máscara:</label>
                    <input type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" style="margin-top: 25px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="   false">
                            Formato <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">%A - Ano com quatro dígitos</a></li>
                            <li><a href="#">%a - Ano com dois dígitos</a></li>
                            <li><a href="#">%d - Dia </a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->


<!--                                 <div class="form-group">
                    <label>Máscara:</label>
                    <input class="form-control" id="mask" placeholder="Máscara do Data Set" type="text">
                </div> -->
            </div>
            <!-- /.col md 7 -->

            <div class="col-md-6">
                <div class="form-group">
                    <label>Caminho:</label>
                    <input class="form-control" id="path" placeholder="Caminho do Data Set" type="text">
                </div>
            </div>
            <!-- /.col md 7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box group -->
</div>
<!-- /.box solid -->