{# It should be a component angular #}
<!-- filter modal -->
<div class="modal fade" id="userAnalisysModal" tabindex="-1" role="dialog" aria-labelledby="userAnalisysModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header terrama2-component-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userAnalisysModalLabel">{{ __('User Analisys Select') }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ __('Select the analysis to user') }}:</label>
                                <select class="form-control" id="analisysList" multiple>
                                    <option>An1</option>
                                    <option>An2</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ __('Alert Notification') }}</div>

                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>{{ __('E-mail') }}:</label>
                                        <select class="form-control" id="analisysList">
                                            <option>1-Observation</option>
                                            <option>2-Warning</option>
                                            <option>3-Critical</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>{{ __('Celphone') }}:</label>
                                        <select class="form-control" id="analisysList">
                                            <option>1-Observation</option>
                                            <option>2-Warning</option>
                                            <option>3-Critical</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>{{ __('Report') }}:</label>
                                        <select class="form-control" id="analisysList">
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ __('OK') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            </div>

        </div>
    </div>
</div>
