{# It should be a component angular #}
<!-- filter modal -->
<div class="modal fade" id="wftLayerModal" tabindex="-1" role="dialog" aria-labelledby="wftLayerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header terrama2-component-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="wftLayerModalLabel">{{ __('WFS Attribute Layer') }}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ __('ID') }}:</label>
                            <select class="form-control" id="collectLang">
                                <option>Lorem Ipsum</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ __('Date Time') }}:</label>
                            <select class="form-control" id="collectLang">
                                <option>Lorem ipsum</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label>{{ __('Mask') }}:</label>
                                <input type="text" class="form-control" aria-label="..." id="mask">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" style="margin-top: 25px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="   false">
                                        {{ __('Format') }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" id="mask-list">
                                        <li><a href="javascript:void(0)">{{ __('%d Day') }}</a></li>
                                        <li><a href="javascript:void(0)">{{ __('%m Month') }}</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ __('OK') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            </div>

        </div>
    </div>
</div>
