body {
  background-color: #eee !important;
}

.container {
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 1rem;
  max-width: 95vw;
}

.navbar {
  background-color: #ccc;
}

.chart {
  height: 300px;
  max-width: 100vw
}

.navbar-item {
  color: rgba(0,0,0,.9);
}

.card-disabled h5 {
  color: #9b9b9b
}

.card-disabled img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.amcharts-amexport-item {
  border: 2px solid rgb(216, 216, 216);
}

.amcharts-amexport-item:hover,
.amcharts-amexport-item > a:hover {
  cursor: pointer;
}

.amcharts-amexport-item > a {
  margin-top: 5px !important;
  color: black;
}
section {
  page-break-inside : avoid
}

.word-wrap{
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}