<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}" ng-class="{\'has-error\': form.disableErrorState !== true && hasError(), \'has-success\': form.disableSuccessState !== true && hasSuccess(), \'has-feedback\': form.feedback !== false }">
<!-- Surrounding DIV for sfField builder to add a sfField directive to. -->
  <!-- Create your own form options -->

  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>
  
  <terrama2-mask-field sf-field-model schema-validate="form"></terrama2-mask-field>
  
  <!-- sf-field-model let's the ngModel builder know that you want a ng-model that matches against the form key here -->
  <!-- schema-validate="form" validates the form against the schema -->

  <span class="help-block" sf-message="form.description"></span>
  <!-- Description & Validation messages -->

</div>
