<div class="col-md-12">
  <!-- Modal -->
  <div ng-if="isFunction(remove)" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ i18n.__('Are you sure?') }}</h4>
        </div>
        <div class="modal-body">
          {{ extra.message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeOperation()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="form-group">
      <input class="form-control" id="searchNameInput" ng-model="searchInput" style="margin-top: 24px;" placeholder="{{ i18n.__('Type to search') }}" type="text">
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <button class="btn btn-default" style="margin-top: 24px;"><i class="fa fa-search" style="margin-right: 5px;"></i>{{ i18n.__('Advanced') }}</button>
    </div>
  </div>

  <div class="col-md-2 terrama2-nopadding-box" ng-show="linkToAdd">
    <div class="form-group">
      <a ng-href="{{ linkToAdd }}" class="btn btn-default pull-right" style="margin-top: 24px;"><i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-bordered">
    <tbody id="searchList">
      <!-- header -->
      <tr style="font-weight: bold;">
        <td ng-show="isFunction(icon())"></td>
        <td ng-repeat="field in displayFields">{{ field }}</td>
        <td ng-if="extra.service">Status</td>
      </tr>
      <tr ng-repeat="element in model | filter:searchInput track by $index">
        <td ng-show="isFunction(icon())" style="width: 50px;">
          <img ng-if="iconProperties.type === 'img'" ng-src="{{ icon()(element) }}" alt="" width="{{ width }}" height="{{ height }}"/>
          <span ng-if="iconProperties.type === 'icon'" class="label">
            <i class="terrama2-alert-icon {{ icon()(element) }}"></i>
          </span>
        </td>
        <td ng-repeat="field in identityFields ">

          <a ng-href="{{ link()(element) }}" ng-if="link">{{ element[field] }}</a>
          <!--{{ element[field] }}-->
        </td>
        <td ng-if="isFunction(remove)">
        <!-- data-ng-click="removeOperation(element);" -->
          <button class="btn btn-sm btn-danger" ng-click="removeOperation(element)">{{ i18n.__('Remove') }}</button>
        </td>

        <td ng-if="extra.service">
          <!-- loading  -->
          <!-- <span ng-if="true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> -->

          <i title="{{ element.online ? 'Online' : 'Offline' }}" class="fa fa-circle" style="color: {{ element.online ? 'green' : 'red' }};"></i>
          <button class="btn btn-primary" ng-show="!element.online" style="margin-left: 20px;" ng-click="extra.service.handler(element)">
            <i class="fa fa-magic"></i>Start
          </button>

          <button class="btn btn-danger" ng-show="element.online" style="margin-left: 20px;" ng-click="extra.service.handler(element)">
            <i class="fa fa-magic"></i>Stop
          </button>
<!--           <button class="btn btn-danger" ng-click="serviceHandler(element, false)"><i class="fa fa-power-off"></i>Stop</button> -->
          <button class="btn btn-warning" ng-click="extra.service.ping(element)"><i class="fa fa-question"></i>Ping</button>
        </td>
      </tr>

      <tr ng-show="!model.length">
        <td colspan="2">{{ i18n.__(emptyMessage) }}</td>
      </tr>
    </tbody>
  </table>
</div>