<div class="col-md-12">
    <div class="col-md-7">
        <div class="form-group">
            <input class="form-control" id="searchNameInput" ng-model="searchInput" style="margin-top: 24px;" placeholder="{{ i18n.__('Type to search') }}" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <button class="btn btn-default" style="margin-top: 24px;"><i class="fa fa-search" style="margin-right: 5px;"></i>{{ i18n.__('Advanced') }}</button>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <a href="{{ linkToAdd }}" class="btn btn-default" style="margin-top: 24px;"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>

<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th ng-if="angular.isFunction(icon)"></th>
            <th ng-repeat="field in fields">{{ capitalizeIt(field) }}</th>
        </tr>
        </thead>

        <tbody id="searchList">
        <tr ng-repeat="element in model | filter:searchInput">
            <td ng-if="angular.isFunction(icon)"><i class="{{ icon(element) }}"></i></td>
            <td ng-repeat="field in fields ">

                <a href="{{ link()(element) }}" ng-if="link">{{ element[field] }}</a>
                <!--{{ element[field] }}-->
            </td>
        </tr>

        <tr ng-show="!model.length">
            <td colspan="2">{{ i18n.__('No data found') }}</td>
        </tr>

        </tbody>
    </table>
</div>