<div class="col-md-12">
  <div class="col-md-7">
    <div class="form-group">
      <input class="form-control" id="searchNameInput" ng-model="searchInput" style="margin-top: 24px;" placeholder="{{ i18n.__('Type to search') }}" type="text">
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <button class="btn btn-default" style="margin-top: 24px;"><i class="fa fa-search" style="margin-right: 5px;"></i>{{ i18n.__('Advanced') }}</button>
    </div>
  </div>
  <div class="col-md-2 terrama2-nopadding-box" ng-show="linkToAdd">
    <div class="form-group">
      <ng-transclude ng-transclude-slot="extraButtonsSlot"></ng-transclude>

      <a ng-href="{{ linkToAdd }}" class="btn btn-default pull-right" style="margin-top: 24px;"><i class="fa fa-plus"></i></a>
    </div>
  </div>
</div>