body, html {
  height: inherit !important;
}

.terrama2-checkbox-align {
    margin-top: 19px !important;
    font-weight: 700 !important;
}

.terrama2-component-align {
    margin-top: 25px !important;
}

.terrama2-component-color {
    background: #D2D6DE none repeat scroll 0% 0%;
}

.terrama2-nopadding-box
{
    padding: 0 !important;
}

.terrama2-list-align
{
    text-align: center !important;
    width: 100% !important;
}

.terrama2-list-align option
{
    height: 30px !important;
    padding-top: 5px !important;
}

.terrama2-header-fixed {
    width: 100% ;
}

.terrama2-header-fixed > thead,
.terrama2-header-fixed > tbody,
.terrama2-header-fixed > thead > tr,
.terrama2-header-fixed > tbody > tr,
.terrama2-header-fixed > thead > tr > th,
.terrama2-header-fixed > tbody > tr > td {
    display: block;
}

.terrama2-header-fixed > tbody > tr:after,
.terrama2-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.terrama2-header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.terrama2-header-fixed > tbody > tr > td,
.terrama2-header-fixed > thead > tr > th {
    width: 16.6%;
    float: left;
}

.terrama2-hidden {
    display: none !important;
}

.terrama2-align-left
{
    text-align: left;
}

.terrama2-link
{
    color:#3C8DBC !important;
}

.terrama2-small-icon
{
    width: 16px !important;
    height: 16px !important;
}

.terrama2-alert-icon {
    display: inline !important;
    text-align: center !important;
    padding: .3em .6em .3em !important;
}

.terrama2-top-field {
    top: 25px !important;
}

.terrama2-feedback-icon {
    margin-right: 20px !important;
}

.terrama2-disable {
    z-index: 1000 !important;
    background-color: lightgrey !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
}

.terrama2-font-black {
    color: #333 !important;
}

.terrama2-font-red {
    color: red !important;
}

.terrama2-font-green {
    color: #5cb85c !important;
}

#scriptCheckResult {
  margin: 25px 0 30px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: pre;
}

#systemError {
  margin: 0 0 40px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: pre;
  color: red;
  background: #EAE9E9;
  padding: 15px;
  border-radius: 10px;
}

#script {
  height: 400px;
}


.glyphicon-refresh-animate {
  -animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
  -webkit-animation: spinw 1.5s infinite linear;
  -moz-animation: spinm 1.5s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

.pull-cell-left {
  white-space: nowrap !important;
  width: 1px !important;
}

.terrama2-combobox-feedback {
  margin-right: 15px !important;
}

.terrama2-table-tr tr {
  width: 100% !important;
  display: inline-table !important;
  table-layout: fixed !important;
}

.terrama2-table-tr tr .active > td {
  border: 1px solid #D2CECE !important;
}

.terrama2-table table{
  height:300px !important;
  display: -moz-groupbox !important;
}

.terrama2-table-tbody tbody {
  overflow-y: scroll !important;
  height: 200px !important;
  width: 100% !important;
  position: absolute !important;
}

.terrama2-btn-circle {
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
}

.ace_editor { height: 320px !important; }

.terrama2-schema-form {
}

.terrama2-schema-form > div:last-child {
  position: absolute !important;
  margin-top: 0;
}

.terrama2-schema-form-checkbox {
  margin-top: 30px !important;
}
.terrama2-schema-form-checkbox > label > span {
  font-weight: bold;
}

.terrama2-min-padding {
  padding-right: 5px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.without-border {
  border: none !important;
}

/*[ng\:cloak].terrama2-splash {*/
  /*display:block !important;*/
/*}*/
/*.terrama2-splash {*/
  /*background-color: blue;*/
  /*display: none;*/
/*}*/

.terrama2-fluid {
  position: fixed !important;
  z-index: 1050 !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.terrama2-splash {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #000;
}

.terrama2-splace h2 {
  text-align: center;
  font-size: 4em;
  color:white;
}

bootstrap-decorator span {
  margin-right: 20px !important;
}

#store-box > div.disabled, #filter-box > div.disabled, #intersection-box > div.disabled{
  background: #ececec;
  background-color: #ececec;
}

.enable-button-click {
  cursor: pointer !important;
}

.enable-button {
  cursor: pointer !important;
}

.loading-button {
  background-image: url(../images/loader.gif);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.terrama2-disabled {
  text-decoration:none;
  color:#bbb;
  cursor: not-allowed;
}

.terrama2-schema-checkbox {
  margin-top: 30px !important;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-menu > .operators-item-list img {width: 20px;}
.dropdown-menu > .operators-item-list {min-width: 0px !important;}
.dropup ul.dropdown-menu ul.dropdown-menu:nth-child(n+1) {
  bottom: 0;
}

#select-attr-button {
  width: 80px;
}

.invalid-attrs, .invalid-attrs:hover, .invalid-attrs:focus {
  border-color: #dd4b39;
}

.attributes-list {
  max-height: 300px;
  overflow-y: auto;
}

.terrama2-disabled:hover {
  background-color: white !important;
}

.terrama2-button-dropdown {
  padding: 0 !important;
  background-color: #3c8dbc !important;
  border-color: #3c8dbc !important;
  min-width: 133px !important;
}

.terrama2-button-dropdown li > a {
  color: white !important;
  padding: 6px 20px !important;
}

.terrama2-button-dropdown li > a:hover {
  background-color: #367fa9 !important;
}

.terrama2-button-dropdown-import {
  padding: 0 !important;
  background-color: #f4f4f4 !important;
  border-color: #ddd !important;
  min-width: 133px !important;
}

.terrama2-button-dropdown-import li > a {
  padding: 6px 20px !important;
}

.terrama2-list-error {
  margin-bottom: 10px;
}

.terrama2-list-error * {
  padding-left: 10px;
}

.terrama2-list-error span[class~="glyphicon"] {
  padding: 0;
}

.terrama2-list-error i {
  padding: 0;
}

.grads-form-item {
  margin-bottom: 25px !important;
}

#messagesModal li {
  overflow: auto;
}

.terrama2-link-disabled {
  cursor: not-allowed;
}
/*
  Scrollable table
*/
table.scroll {
  width: 100%;
  border-spacing: 0;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead tr {
  /* fallback */
  width: 97%;
  /* minus scroll bar width */
  width: -webkit-calc(100% - 16px);
  width:    -moz-calc(100% - 16px);
  width:         calc(100% - 16px);
}

table.scroll tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

table.scroll tbody {
  height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
  width: 19%;
  float: left;
}

thead tr th { 
  height: 30px;
  line-height: 30px;
  /*text-align: left;*/
}

tbody td:last-child, thead th:last-child {
  border-right: none !important;
}
/* end scroll table */

.tool-tip {
  display: inline-block !important;
  float: right !important;
}

.tool-tip [disabled] {
  pointer-events: none !important;
}

.service-warning {
  color: red; 
  border-color: red;
}

/*
  It fixes intersection nav to include check icon
*/
.nav > li > a {
  padding: 10px 8px !important;
}

.warn-message {
  color: #f39c12;
}

.md-whiteframe-1dp, .md-whiteframe-z1{
  box-shadow: none;
  border: 1px solid #ccc;
}
.md-whiteframe-1dp > input, .md-whiteframe-z1 > input {
  line-height: 34px !important;
  height: 34px !important;
}

.form-group.has-success .md-whiteframe-1dp, .form-group.has-success .md-whiteframe-z1{
  box-shadow: none;
  border: 1px solid #00a65a;
}

.form-group.has-error .md-whiteframe-1dp, .form-group.has-error .md-whiteframe-z1{
  box-shadow: none;
  border: 1px solid #dd4b39;
}

md-autocomplete, md-autocomplete md-autocomplete-wrap {
  height: 34px;
}
/**
 *
 * It handles Mozila FireFox CSS specific styles
 *
 */
@-moz-document url-prefix() {
    /*
      It fixes the position of dropdown icon on layer explorer. Without it, the icon will overflow to the next li item
    */
    .enable-button-click {
      cursor: pointer !important;
      margin-top: -20px !important;
    }
}

/*
  Fixes a bug in the DataTables pagination buttons.
*/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  padding: 0.5em 1em !important;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-bottom: 1px solid #DDD !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:target {
  border: none !important;
  background: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button:target {
  border: 1px solid #204d74 !important;
  background: #286090 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:target {
  border: 1px solid #979797 !important;
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%) !important;
}

.dcpTableStore thead .sorting_disabled {
  padding: 0 !important;
  height: 0 !important;
  border: 0 !important;
}

/*
  Changes the padding of the DataTables header.
*/
table.dataTable thead th, table.dataTable thead td { padding: 10px 10px !important; }

table.dataTable tbody th, table.dataTable tbody td { padding-left: 12px !important; }

/*
  DCPs form overlay
*/
.overlay-dcps {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999 !important;
}

.overlay-dcps > .fa { position: fixed !important; }

.selected-directory { background-color: rgba(0, 192, 239, 0.45); }

#filesExplorerModal .modal-dialog { height: 85%; }

#filesExplorerModal .modal-content { height: 100%; }

#filesExplorerModal .modal-body {
  height: calc(100% - 120px);
  overflow: auto;
  background-color: #dedede;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#filesExplorerModal .name-div {
  cursor: pointer;
  padding: 2px 0 0 10px;
  border-radius: 4px;
  margin-left: -10px;
  width: 100%;
  margin-bottom: 5px;
}

#filesExplorerModal .name-div > i { margin-right: 10px; }

#filesExplorerModal .name-div > img {
  margin-right: 8px;
  width: 15px;
}

#filesExplorerModal .file-explorer-ul {
  list-style-type: none;
  padding-left: 15px;
}

#filesExplorerModal .modal-content .holder-div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(128,128,128,0.2);
  z-index: 999999;
  cursor: wait;
}

.button-inline-form {
  margin-top: 25px;
  height: 34px;
  width: 90px;
}

#institutions-logos {
  text-align: center;
  bottom: 0;
  position: absolute;
  z-index: 999;
  width: 230px;
  border: 2px solid;
  left: 0;
  background-color: #e0e0e0;
}

.imgs img {
  max-height: 40px;
  padding: 3px;
  cursor: pointer;
}

#about-dialog {
  padding: 0 !important;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
}

#terrama2-about-image, #programa-cerrado-image  {
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  margin-top: 4px !important;
}

#terrama2-about-image {
  background-image: url('../images/about/TerraMA2.png');
  height: 265px;
}

#programa-cerrado-image {
  background-image: url('../images/about/programa_cerrado.png');
  height: 310px;
}

#dpi-about-image, #inpe-about-image {
  height: 75px;
  background-repeat: no-repeat;
  background-position: initial;
  float: left;
}

#dpi-about-image {
  background-image: url('../images/about/dpi.png');
  background-size: 150px;
  width: 180px;
}

#inpe-about-image {
  background-image: url('../images/about/inpe.png');
  background-size: 90px;
  width: 90px;
}

#about-dialog > p {
  margin-top: 30px;
  margin-bottom: 0px !important;
}

#credits-image {
  background-image: url('../images/about/credits.png');
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  margin-top: 4px !important;
}

#shapefile-import-loader, #geotiff-import-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(206, 206, 206, 0.53);
  z-index: 99999999;
  text-align: center;
  top: 0;
  left: 0;
}

#shapefile-import-loader > img, #geotiff-import-loader > img {
  width: 60px;
  margin-top: 25%;
}

#projects {
  color: #4b646f;
  background: #1a2226;
  border: none;
  width: 100%;
  height: 44px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px 10px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/arrow-down.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: 204px 14px;
}

.sidebar-mini.sidebar-collapse #projects {
  color: #1a222600;
  background-position: 17px 14px;
}

@media screen and (max-width: 991px){
  #includeDcpTable {
    margin-top: 45px;
  }
}