.terrama2-checkbox-align {
    margin-top: 19px !important;
    font-weight: 700 !important;
}

.terrama2-component-align {
    margin-top: 25px !important;
}

.terrama2-component-color {
    background: #D2D6DE none repeat scroll 0% 0%;
}

.terrama2-nopadding-box
{
    padding: 0 !important;
}

.terrama2-list-align
{
    text-align: center !important;
    width: 100% !important;
}

.terrama2-list-align option
{
    height: 30px !important;
    padding-top: 5px !important;
}

.terrama2-header-fixed {
    width: 100% ;
}

.terrama2-header-fixed > thead,
.terrama2-header-fixed > tbody,
.terrama2-header-fixed > thead > tr,
.terrama2-header-fixed > tbody > tr,
.terrama2-header-fixed > thead > tr > th,
.terrama2-header-fixed > tbody > tr > td {
    display: block;
}

.terrama2-header-fixed > tbody > tr:after,
.terrama2-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.terrama2-header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.terrama2-header-fixed > tbody > tr > td,
.terrama2-header-fixed > thead > tr > th {
    width: 16.6%;
    float: left;
}

.terrama2-hidden {
    display: none !important;
}

.terrama2-align-left
{
    text-align: left;
}

.terrama2-link
{
    color:#3C8DBC !important;
}

.terrama2-small-icon
{
    width: 16px !important;
    height: 16px !important;
}

.terrama2-alert-icon {
    display: inline !important;
    text-align: center !important;
    padding: .3em .6em .3em !important;
}

.terrama2-top-field {
    top: 25px !important;
}

.terrama2-feedback-icon {
    margin-right: 20px !important;
}

.terrama2-disable {
    z-index: 1000 !important;
    background-color: lightgrey !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
}

.terrama2-font-black {
    color: #333 !important;
}

.terrama2-font-red {
    color: red !important;
}

.terrama2-font-green {
    color: #5cb85c !important;
}

#scriptCheckResult {
  margin: 25px 0 30px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: pre;
}

#systemError {
  margin: 0 0 40px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: pre;
  color: red;
  background: #EAE9E9;
  padding: 15px;
  border-radius: 10px;
}

#script {
  height: 400px;
}


.glyphicon-refresh-animate {
  -animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
  -webkit-animation: spinw 1.5s infinite linear;
  -moz-animation: spinm 1.5s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

.pull-cell-left {
  white-space: nowrap !important;
  width: 1px !important;
}

.terrama2-combobox-feedback {
  margin-right: 15px !important;
}

.terrama2-table-tr tr {
  width: 100% !important;
  display: inline-table !important;
  table-layout: fixed !important;
}

.terrama2-table-tr tr .active > td {
  border: 1px solid #D2CECE !important;
}

.terrama2-table table{
  height:300px !important;
  display: -moz-groupbox !important;
}

.terrama2-table-tbody tbody {
  overflow-y: scroll !important;
  height: 200px !important;
  width: 100% !important;
  position: absolute !important;
}

.terrama2-btn-circle {
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
}

.ace_editor { height: 320px !important; }

.terrama2-schema-form {
}

.terrama2-schema-form > div:last-child {
  position: absolute !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.without-border {
  border: none !important;
}

/*[ng\:cloak].terrama2-splash {*/
  /*display:block !important;*/
/*}*/
/*.terrama2-splash {*/
  /*background-color: blue;*/
  /*display: none;*/
/*}*/

.terrama2-fluid {
  position: fixed !important;
  z-index: 1050 !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.terrama2-splash {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #000;
}

.terrama2-splace h2 {
  text-align: center;
  font-size: 4em;
  color:white;
}

bootstrap-decorator span {
  margin-right: 20px !important;
}

#store-box > div.disabled, #filter-box > div.disabled, #intersection-box > div.disabled{
  background: #ececec;
  background-color: #ececec;
}

.enable-button-click {
  cursor: pointer !important;
}

.loading-button {
  background-image: url(../images/loader.gif);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.terrama2-disabled {
  text-decoration:none;
  color:#bbb;
  cursor: not-allowed;
}

.terrama2-disabled:hover {
  background-color: white !important;
}

.terrama2-button-dropdown {
  padding: 0 !important;
  background-color: #3c8dbc !important;
  border-color: #3c8dbc !important;
  min-width: 133px !important;
}

.terrama2-button-dropdown li > a {
  color: white !important;
  padding: 6px 20px !important;
}

.terrama2-button-dropdown li > a:hover {
  background-color: #367fa9 !important;
}

.grads-form-item {
  margin-bottom: 25px !important;
}


/*
  It fixes intersection nav to include check icon
*/
.nav > li > a {
  padding: 10px 8px !important;
}

/**
 *
 * It handles Mozila FireFox CSS specific styles
 *
 */
@-moz-document url-prefix() {
    /*
      It fixes the position of dropdown icon on layer explorer. Without it, the icon will overflow to the next li item
    */
    .enable-button-click {
      cursor: pointer !important;
      margin-top: -20px !important;
    }
}