@import url("fonts.terrama2.css");

html, body {
  height: 100% !important;
}

#terrama2-container {
  position: relative;
  height: 100%;
  font-family: 'Titillium Regular', Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.terrama2-check {
  top: 2px !important;
  left: 15px !important;
}

div.terrama2-leftbox::-webkit-scrollbar, #terrama2-container::-webkit-scrollbar {
  width: 8px;
}

div.terrama2-leftbox::-webkit-scrollbar-track, #terrama2-container::-webkit-scrollbar-track {
  background-color: #a6a07c;
}

div.terrama2-leftbox::-webkit-scrollbar-thumb, #terrama2-container::-webkit-scrollbar-thumb {
  background-color: #8E875E;
}

.terrama2-leftbox-content h4 {
  color: #8E875E;
}

.terrama2-fullscreen-container {
  position: relative;
  height: 100%;
  margin-top: 14px;
  margin-right: 32px;
  margin-left: 30px;
  color: rgb(84,84,84);
}

.terrama2-fullscreen-container .terrama2-leftbox-header {
  margin-left: 0 !important;
}

.terrama2-fullscreen-container th {
  text-align: left;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  padding-left: 10px !important;
}

.terrama2-fullscreen-container td {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

.terrama2-checkbox-align {
  margin-top: 19px !important;
  font-weight: 700 !important;
}

.terrama2-component-align {
  margin-top: 25px !important;
}

.terrama2-component-color {
  background: #D2D6DE none repeat scroll 0% 0%;
}

.terrama2-header-fixed {
    width: 100% ;
}

.terrama2-header-fixed > thead,
.terrama2-header-fixed > tbody,
.terrama2-header-fixed > thead > tr,
.terrama2-header-fixed > tbody > tr,
.terrama2-header-fixed > thead > tr > th,
.terrama2-header-fixed > tbody > tr > td {
    display: block;
}

.terrama2-header-fixed > tbody > tr:after,
.terrama2-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.terrama2-header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.terrama2-header-fixed > tbody > tr > td,
.terrama2-header-fixed > thead > tr > th {
    width: 16.6%;
    float: left;
}