<div class="col-md-12">
  <div class='col-md-6'>
    <div class="form-group">
      <label>{{ i18n.__('Ignores data previous to') }}:</label>
      <terrama2-datetime-picker data-ng-model="beforeDatetime"
                                options="{format: 'YYYY/MM/DD HH:mm:ss', sideBySide: true, toolbarPlacement: 'top', allowInputToggle: true, maxDate: afterDatetime}">
      </terrama2-datetime-picker>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="form-group">
      <label>{{ i18n.__('Ignores data after') }}:</label>
      <terrama2-datetime-picker data-ng-model="afterDatetime"
                                options="{format: 'YYYY/MM/DD HH:mm:ss', sideBySide: true, toolbarPlacement: 'top', allowInputToggle: true, minDate: beforeDatetime}">
      </terrama2-datetime-picker>
    </div>
  </div>
</div>