
<div class="col-md-12">

  <div class="col-md-3">
    <div class="form-group" terrama2-show-errors>
      <label ng-bind="$ctrl.i18n.__('Header size')+':'"></label>
      <input class="form-control" id="headerSize" name="headerSize" type="number" min="0" ng-model="$ctrl.csvFormatData.header_size" required>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" terrama2-show-errors>
      <label ng-bind="$ctrl.i18n.__('Properties name line')+':'"></label>
      <input class="form-control" id="propertiesNamesLine" name="propertiesNamesLine" type="number" min="0" max="{{$ctrl.csvFormatData.header_size}}" ng-model="$ctrl.csvFormatData.properties_names_line" required>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <div class="checkbox">
        <label style="font-weight: 700; margin-top:19px;">
          <input id="convertAll" name="convertAll" type="checkbox" ng-model="$ctrl.csvFormatData.convert_all"> {{$ctrl.i18n.__('Convert all')}}
        </label>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-if="$ctrl.csvFormatData.convert_all">
    <div class="form-group" terrama2-show-errors>
      <label ng-bind="$ctrl.i18n.__('Default type')+':'"></label>
      <select name="default_type" class="form-control" ng-model="$ctrl.csvFormatData.default_type" required>
        <option ng-repeat="type in $ctrl.fieldsType" ng-if="type.defaultType" value="{{type.value}}">{{$ctrl.i18n.__(type.title)}}</option>
      </select> 
    </div>
  </div>

</div>


<div class="col-md-12">
  <div class="col-md-12">
    <div class="form-group">
      <label ng-bind="$ctrl.i18n.__('Fields')+':'"></label>
      <csv-field-detail ng-repeat="field in $ctrl.csvFormatData.fields" field="field" fields-type="$ctrl.fieldsType" on-delete="$ctrl.deleteField(field)" semantics="$ctrl.semantics"></csv-field-detail>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-12">
    <div class="form-group">
      <button class="btn btn-default" ng-click="$ctrl.addField()"> {{$ctrl.i18n.__('Add')}}</button>
    </div>
  </div>
</div>
