<!-- DataSeries Modal -->
<div class="modal fade" id="dataSeriesModal" tabindex="-1" role="dialog" aria-labelledby="dataSeriesModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dataSeriesModalLabel">{{ i18n.__('Select Static DataSeries') }}</h4>
      </div>
      <div class="modal-body">

        <treecontrol class="tree-light"
           tree-model="dataSeriesGroups"
           options="treeOptions"
           selected-nodes="nodesDataSeries">
           {{node.name}}
        </treecontrol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addDataSeries()">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <form name="forms.intersectionForm" novalidate>
        <div class="col-md-12">
          <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#dataSeriesModal" style="margin-bottom: 15px">
            <i class="fa fa-plus"></i>
          </button>

          <table class="table table-bordered table-hover terrama2-table">
            <tbody class="terrama2-table-tbody">
              <th>{{ i18n.__('Name') }}</th>
              <th>{{ i18n.__('Type') }}</th>
              <th></th>

              <tr class="terrama2-table-tr"
                  ng-repeat="(dsId, inter) in intersection"
                  ng-click="onIntersectionDataSeriesClick(inter.data_series)"
                  style="cursor:pointer;"
                  ng-class="{'active': selectedIntersection && selectedIntersection.id == dsId}">
                <td>{{ inter.data_series.name }}</td>
                <td>{{ inter.data_series.data_series_semantics.name }}</td>
                <td class="pull-cell-left">
                  <button type="button"
                          class="btn btn-danger btn-sm"
                          data-toggle="tooltip"
                          data-placement="top"
                          title='{{ i18n.__("Remove") }}'
                          name="button"
                          data-ng-click="removeDataSeries(dsId);">
                        {{ i18n.__("Remove") }}
                  </button>
                </td>
              </tr>

              <tr class="terrama2-table-tr" ng-show="isIntersectionEmpty()">
                <td colspan="3">
                  {{ i18n.__("No intersection data series selected"); }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
          <div class="col-md-12 terrama2-nopadding-box">
            <div class="box box-default box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">{{ i18n.__('Attributes') }}</h3>
              </div>

              <div style="display: block;" class="box-body">
                <div class="col-md-10">
                  <div class="form-group" terrama2-show-errors>
                    <label>{{ i18n.__('Attribute Name') }}:</label>
                    <input type="text"
                           class="form-control"
                           name="attribute"
                           ng-model="attribute"
                           ng-disabled="!selectedIntersection || selectedIntersection.isGrid"
                           ng-required="selectedIntersection"
                           id="attribute_name"
                           list="tableColumnsList">

                    <label class="help-block text-danger"
                           ng-show="forms.intersectionForm.attribute.$dirty && forms.intersectionForm.attribute.$error.required">
                      {{ i18n.__("Attribute name is required") }}
                    </label>

                    <label class="help-block text-danger"
                           ng-show="forms.intersectionForm.attribute.$dirty && forms.intersectionForm.attribute.$error.sameValue">
                      {{ i18n.__("Attribute name cannot be same") }}
                    </label>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="col-md-2 terrama2-nopadding-box">
                    <div class="form-group">
                      <button class="btn btn-default pull-right"
                              style="margin-top: 24px;"
                              ng-click="addAttribute(forms.intersectionForm, selectedIntersection, attribute); attribute='';"
                              ng-disabled="!selectedIntersection || selectedIntersection.isGrid">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <table class="table table-bordered terrama2-table">
                    <tbody class="terrama2-tbody">
                      <th>{{ i18n.__('Attribute') }}</th>
                      <th></th>

                      <tr class="terrama2-tr"ng-repeat="att in intersection[selectedIntersection.id].attributes">
                        <td>{{ att }}</td>
                        <td>
                          <button class="btn btn-sm btn-danger pull-right"
                                  ng-click="removeAttribute(selectedIntersection, att)">
                            {{ i18n.__('Remove') }}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- List with database table columns-->
<datalist id='tableColumnsList'>
    <option ng-repeat="column in columnsList" value="{{column}}">
</datalist>
<!-- /.row -->
