<div class="row">
  <div class="col-md-7">
    <div class="form-group" style="top:30px;">
      <label>{{ i18n.__('Type') }}:</label>
      <select class="form-control" name="schedule" ng-model="schedule.scheduleHandler" ng-change="onScheduleChange(schedule.scheduleHandler)">
        <option value="seconds">{{ i18n.__('Seconds') }}</option>
        <option value="minutes">{{ i18n.__('Minutes') }}</option>
        <option value="hours">{{ i18n.__('Hours') }}</option>
        <option value="weekly">{{ i18n.__('Weekly') }}</option>
        <option value="monthly">{{ i18n.__('Monthly') }}</option>
        <option value="yearly">{{ i18n.__('Yearly') }}</option>
      </select>
    </div>
  </div>

  <div class="col-md-5" ng-if="isFrequency">
    <div class="form-group" ng-class="{'has-error': scheduleForm.frequency.$dirty && scheduleForm.frequency.$error.required, 'has-success': scheduleForm.frequency.$dirty && scheduleForm.frequency.$valid}">
      <label>{{ i18n.__('Frequency') }}:</label>
      <input class="form-control" name="frequency" ng-model="schedule.frequency" type="number" ng-required="isFrequency" min="{{ minSchedule }}" max="{{ maxSchedule }}">
    </div>
  </div>

  <div class="col-md-5" ng-if="isSchedule">
    <div class="form-group" ng-class="{'has-error': scheduleForm.schedule.$invalid,
                                       'has-success': scheduleForm.schedule.$valid}">
      <label>{{ i18n.__('Schedule') }}:</label>

      <!-- weekly -->
      <select ng-if="schedule.scheduleHandler == 'weekly'" class="form-control" name="schedule" ng-model="schedule.schedule" required>
        <option value="1">{{ i18n.__('Sunday') }}</option>
        <option value="2">{{ i18n.__('Monday') }}</option>
        <option value="3">{{ i18n.__('Tuesday') }}</option>
        <option value="4">{{ i18n.__('Wednesday') }}</option>
        <option value="5">{{ i18n.__('Thursday') }}</option>
        <option value="6">{{ i18n.__('Friday') }}</option>
        <option value="7">{{ i18n.__('Saturday') }}</option>
      </select>

      <!-- monthly -->
      <select class="form-control" name="schedule" ng-if="schedule.scheduleHandler == 'monthly'" ng-model="schedule.schedule" required>
        <option ng-repeat="day in range(1, 32)" value="{{ day }}">{{ day}}</option>
      </select>

      <!-- yearly -->
      <input type="number" class="form-control" ng-if="schedule.scheduleHandler == 'yearly'" ng-model="schedule.schedule" min="1" max="366" required>

      <label class="help-block text-danger" ng-show="scheduleForm.schedule.$dirty && scheduleForm.schedule.$invalid">{{ i18n.__("Schedule value is required") }}</label>

      <label class="help-block text-danger" ng-show="scheduleForm.schedule.$dirty && scheduleForm.schedule.$error.number">{{ i18n.__("Schedule value is not a valid integer") }}</label>
      <label class="help-block text-danger" ng-show="scheduleForm.schedule.$dirty && (scheduleForm.schedule.$error.ngMin || scheduleForm.schedule.$error.ngMax)">{{ i18n.__("Schedule value is not in range") }}</label>
    </div>
  </div>


  <!--<div class="col-md-7">-->
    <!--<div class="form-group">-->
      <!--<label class="radio-inline">-->
        <!--<input type="radio" name="scheduleHandler" ng-model="scheduleHandler" value="frequency">Frequency-->
      <!--</label>-->

      <!--<label class="radio-inline">-->
        <!--<input type="radio" name="scheduleHandler" ng-model="scheduleHandler" value="schedule">Schedule-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-7" ng-if="scheduleHandler == 'frequency'">-->
    <!--<div class="form-group" ng-class="{'has-error': scheduleForm.frequency_unit.$dirty && scheduleForm.frequency_unit.$error.required, 'has-success': scheduleForm.frequency_unit.$dirty && scheduleForm.frequency_unit.$valid}">-->
      <!--<label>{{ i18n.__('Frequency Unit') }}:</label>-->
      <!--<select class="form-control" name="frequency_unit" ng-model="schedule.frequency_unit" ng-required="isFrequency" ng-change="onScheduleChange(1)">-->
        <!--<option>{{ i18n.__('Seconds') }}</option>-->
        <!--<option>{{ i18n.__('Minutes') }}</option>-->
        <!--<option>{{ i18n.__('Hours') }}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-5" ng-if="schedule.frequency_unit && isFrequency">-->
    <!--<div class="form-group" ng-class="{'has-error': scheduleForm.frequency.$dirty && scheduleForm.frequency.$error.required, 'has-success': scheduleForm.frequency.$dirty && scheduleForm.frequency.$valid}">-->
      <!--<label>{{ i18n.__('Frequency') }}:</label>-->
      <!--<input class="form-control" name="frequency" ng-model="schedule.frequency" type="number" ng-required="isFrequency">-->

      <!--<label class="help-block text-danger" ng-show="scheduleForm.frequency.$dirty && scheduleForm.frequency.$error.required">{{ i18n.__("Frequency value is required") }}</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; /.col md 7 &ndash;&gt;-->
  <!--<div class="col-md-7" ng-if="scheduleHandler == 'schedule'">-->
    <!--<div class="form-group" ng-class="{'has-error': scheduleForm.schedule_unit.$dirty && scheduleForm.schedule_unit.$error.required, 'has-success': scheduleForm.schedule_unit.$dirty && scheduleForm.schedule_unit.$valid}">-->
      <!--<label>{{ i18n.__('Schedule Unit') }}:</label>-->
      <!--<select class="form-control" name="schedule_unit" ng-model="schedule.schedule_unit" ng-required="isSchedule" ng-change="onScheduleChange(2)">-->
        <!--<option value="weekly">{{ i18n.__('Weekly') }}</option>-->
        <!--<option value="monthly">{{ i18n.__('Monthly') }}</option>-->
        <!--<option value="yearly">{{ i18n.__('Yearly') }}</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-5" ng-if="schedule.schedule_unit && scheduleHandler == 'schedule' && isSchedule">-->
    <!--<div class="form-group" ng-class="{'has-error': scheduleForm.schedule.$dirty && scheduleForm.schedule.$error.required, 'has-success': scheduleForm.schedule.$dirty && scheduleForm.schedule.$valid}">-->
      <!--<label>{{ i18n.__('Schedule') }}:</label>-->

      <!--&lt;!&ndash; monthly &ndash;&gt;-->
      <!--<select class="form-control" name="schedule" ng-if="schedule.schedule_unit == 'monthly'" ng-model="schedule.schedule" ng-required="isSchedule">-->
        <!--<option ng-repeat="day in range(1, 32)" value="{{ day }}">{{ day}}</option>-->
      <!--</select>-->

      <!--&lt;!&ndash; yearly &ndash;&gt;-->
      <!--<input type="number" class="form-control" ng-if="schedule.schedule_unit == 'yearly'" ng-model="schedule.schedule" min="1" max="366" ng-required="isSchedule">-->

      <!--<select ng-if="schedule.schedule_unit == 'weekly'" class="form-control" name="schedule" ng-model="schedule.schedule" ng-required="isSchedule">-->
        <!--<option value="1">{{ i18n.__('Sunday') }}</option>-->
        <!--<option value="2">{{ i18n.__('Monday') }}</option>-->
        <!--<option value="3">{{ i18n.__('Tuesday') }}</option>-->
        <!--<option value="4">{{ i18n.__('Wednesday') }}</option>-->
        <!--<option value="5">{{ i18n.__('Thursday') }}</option>-->
        <!--<option value="6">{{ i18n.__('Friday') }}</option>-->
        <!--<option value="7">{{ i18n.__('Saturday') }}</option>-->
      <!--</select>-->

      <!--<label class="help-block text-danger" ng-show="scheduleForm.schedule.$dirty && scheduleForm.schedule.$error.required">{{ i18n.__("Schedule value is required") }}</label>-->

      <!--<label class="help-block text-danger" ng-show="scheduleForm.schedule.$dirty && (scheduleForm.schedule.$error.min || scheduleForm.schedule.$error.max)">{{ i18n.__("Schedule value is not in range " + minSchedule + " and " + maxSchedule) }}</label>-->

      <!--<label class="help-block text-danger" ng-show="scheduleForm.schedule.$dirty && scheduleForm.schedule.$error.number">{{ i18n.__("Schedule value is not a valid integer") }}</label>-->
    <!--</div>-->
  <!--</div>-->
</div>
<!-- /.row -->