<div class="row">
  <div class="col-md-7">
    <div class="form-group" ng-class="{'has-error': storagerForm.format.$dirty && storagerForm.format.$error.required, 'has-success': storagerForm.format.$dirty && storagerForm.format.$valid}">
      <label>{{ i18n.__('Output Format') }}:</label>
      <select id="storageFormat" class="form-control" name="format" ng-model="storager.format" ng-change="onStoragerFormatChange()" ng-options="format.name for format in storagerFormats" required>
        <option ng-repeat="format in storagerFormats">{{ format.name }}</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 terrama2-nopadding-box" ng-controller="StoragerController">
    <!-- schema form -->
    <form name="storagerForm" sf-schema="schema" sf-form="form" sf-model="model" sf-options="options"></form>

    <form name="inputDataSetForm">
      <div class="col-md-2" ng-if="formatSelected.name && false">
        <div class="form-group" ng-class="{'has-error': inputDataSetForm.inputDataSet.$error.required, 'has-success': inputDataSetForm.inputDataSet.$dirty && inputDataSetForm.inputDataSet.$valid}">
          <label>{{ i18n.__('Input DataSet') }}:</label>
          <select class="form-control" name="inputDataSet" ng-model="storage.inputDataSet" ng-options="iDataSet.mask for iDataSet in inputDataSets" required>
          </select>

          <label class="help-block text-danger" ng-show="inputDataSetForm.inputDataSet.$error.required">{{ i18n.__("Input dataset is required") }}</label>
        </div>
      </div>
    </form>

    <div class="col-md-2 terrama2-top-field" ng-show="formatSelected.name && false">
      <button class="btn btn-default" ng-show="semantics === 'dcp'" ng-click="addDcpStorager(storagerForm)">{{ i18n.__('Add') }}</button>
    </div>

    <div class="col-md-12">
      <!--dcp table -->
      <div class="col-md-12 terrama2-nopadding-box" ng-if="(semantics === 'pcd' || semantics === 'dcp') && storager.format && isDynamic">
        <div class="col-md-12">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover" >
              <tbody style="overflow-y: auto; height: 150px;">
              <!-- header-->
              <tr style="height: 30px;">
                <th ng-repeat="field in tableFieldsStorager">{{ capitalizeIt(field) }}</th>
                <th></th>
              </tr>

              <tr ng-repeat="dcp in dcpsStorager track by $index">
                <td ng-repeat="field in tableFieldsStorager">
                  <!-- boolean types -->
                  <span class="label" ng-class="{'label-success': dcp[field], 'label-danger': !dcp[field]}" ng-if="isBoolean(dcp[field])">
                    <i class="glyphicon" ng-class="{'glyphicon-ok': $parent.dcp[field], 'glyphicon-remove': !$parent.dcp[field]}"></i>
                  </span>
                  <!-- todo: fix it -->
                  <span ng-if="field == 'tableName'" editable-text="dcp[field]">
                    {{ dcp[field]}}
                  </span>

                  <span ng-if="field != 'tableName'">
                    {{ dcp[field]}}
                  </span>
                </td>
                <td>
                  <button class="btn btn-danger" ng-click="removePcdStorager(dcp)">{{ i18n.__("Remove") }}</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div>
      </div>
    </div>

    <!--<terrama2-dcp-table tableFields="tableFields" dcps="dcps" restriction-display="(semantics === 'pcd' || semantics === 'dcp') && isDynamic"></terrama2-dcp-table>-->

  </div>

  <div class="col-md-12">
    <div class="col-md-12 terrama2-nopadding-box">
      <div class="box box-default box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">{{ i18n.__('Schedule') }}</h3>
        </div>

        <div style="display: block;" class="box-body">
          <form name="scheduleForm">
            <div ng-include="'/javascripts/angular/data-series/templates/schedule.html'"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>