@import url("fonts.terrama2.css");

html, body {
  height: 100% !important;
}

#terrama2-container {
  position: relative;
  height: 100%;
  font-family: 'Titillium Regular', Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.terrama2-check {
  top: 2px !important;
  left: 15px !important;
}

div.terrama2-leftbox::-webkit-scrollbar, #terrama2-container::-webkit-scrollbar {
  width: 8px;
}

div.terrama2-leftbox::-webkit-scrollbar-track, #terrama2-container::-webkit-scrollbar-track {
  background-color: #a6a07c;
}

div.terrama2-leftbox::-webkit-scrollbar-thumb, #terrama2-container::-webkit-scrollbar-thumb {
  background-color: #8E875E;
}

.terrama2-input {
  display: block;
  width: 174px;
  height: 15px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.terrama2-select {
  width: 200px;
  height: 34px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.terrama2-input.regular {
  border: 1px solid #d2d6de;
}

.terrama2-input.warning {
  border: 1px solid #FF9393;
}

.terrama2-form-group {
  /*width: 200px;*/
  /*margin: 0 auto;*/
}

.terrama2-form-group input, .terrama2-form-group select {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.terrama2-form-button {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  background-color: rgb(166,160,124);
  border: 1px solid #63604D;
  color: #fff;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  text-align: center;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.terrama2-form-button:hover {
  background-color: #63604D;
}

.terrama2-leftbox-content h4 {
  color: #8E875E;
}

.terrama2-table-container {
  position: relative;
  margin-top: 14px;
  margin-right: 32px;
  margin-left: 30px;
  color: rgb(84,84,84);
}

.terrama2-table-container .terrama2-leftbox-header {
  margin-left: 0 !important;
}

.terrama2-table-container th {
  text-align: left;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  padding-left: 10px !important;
}

.terrama2-table-container td {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}
