#terrama2-layertree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#terrama2-layertree ul {
  padding-left: 30px;
}

#terrama2-layertree ul.layerstack {
  list-style: none;
}

#terrama2-layertree ul.layerstack li {
  border-bottom: 1px solid #ccc;
  padding: 3px;
}

#terrama2-layertree ul.layerstack li:hover {
  background-color: #eee;
}

#terrama2-layertree ul.layerstack li.selected {
  background-color: #ddd;
}

#terrama2-layertree li.parent_li ul li {
  cursor: default;
}

#terrama2-layertree li.parent_li ul li.selected {
  background-color: #ddd;
}

#terrama2-layertree li {
  list-style-type:none;
  margin:0;
  padding: 0px 0px 5px 0px;
  position:relative;
  white-space: nowrap;
  background-color:
}

#terrama2-layertree li::before, #terrama2-layertree li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto;
}

#terrama2-layertree li span {
  display:inline-block;
  padding:3px 8px;
  text-decoration:none;
}

#terrama2-layertree li.parent_li>span {
  cursor:pointer;
}

#terrama2-layertree>ul>li::before, #terrama2-layertree>ul>li::after {
  border:0;
}

#terrama2-layertree li:last-child::before {
  height:30px;
}

#terrama2-layertree li.parent_li>span:hover, #terrama2-layertree li.parent_li>span:hover+ul li span {
  background:#eee;
  color: #000;
}
