#terrama2-leftbar {
  position: relative;
  float: left;
  width: 50px;
  height: 100%;
  z-index: 10001;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(166,160,124,0.75);
  border-right: 1px solid #2b2b2b;
}

#terrama2-leftbar.terrama2-hide-leftbar {
  left: -48px;
}

.terrama2-leftbox {
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 51px;
  width: 0px;
  height: 100%;
  color: black;
  background: rgba(255,255,255,0.85);
  padding: 0;
  z-index: 1000;
  /*box-shadow: inset 1em 0 1em -1em black;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  overflow: hidden;
}

.terrama2-leftbox.active {
  overflow: auto !important;
}

.terrama2-leftbar-button {
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 0;
  color: rgba(255,255,255,0.9);
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  color: white;
  cursor: pointer;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.terrama2-right-arrow:before {
  position: absolute;
  left: 48px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -23px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #63604D;
}

.terrama2-leftbar-button:hover, .terrama2-leftbar-button:active, .terrama2-leftbar-button.active {
  background: #63604D;
  color: white;
}

.terrama2-leftbar-button.terrama2-hide-leftbar-button, .terrama2-leftbar-button.terrama2-show-leftbar-button {
  position: fixed;
  bottom: 0;
  z-index: 10002;
}

.terrama2-leftbar-button.terrama2-show-leftbar-button:hover {
  position: fixed;
  bottom: 0;
  z-index: 10002;
  background: transparent;
}

#terrama2-hide-leftbar-button.terrama2-left {
  position: fixed;
  bottom: 0;
  z-index: 10002;
}

.terrama2-leftbox-header {
  color: #8E875E;
  text-align: left;
  margin: -10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
}

.terrama2-leftbox-header h2 {
  font-size: 23px;
}

.terrama2-leftbox-content {
  position: relative;
}

.terrama2-leftbox .ui-resizable-e {
  right: 0 !important;
  width: 20px !important;
}
