body {
  background-color: #eee !important;
}

.container {
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 1rem;
}

.navbar {
  background-color: #ccc;
}

.row {
  padding: 10px;
}

.table-situacao{
  margin-bottom: 10px;
}

.table-situacao > h5{
  margin-bottom: 20px;
}

.chart-situacao {
  margin-bottom: 20px;
}

.chart {
  height: 50%;
}

.navbar-item {
  color: rgba(0,0,0,.9);
}

.card-disabled h5 {
  color: #dfdfdf
}
.card-disabled img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}