/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts12
{
 font-size: 8pt;
 font-family: 'Calibri';
 vertical-align: super;
}
span.rvts13
{
 font-size: 12pt;
}
span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts15, span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts16
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts17
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts18
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts19
{
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts20
{
 font-family: 'calibri';
 color: #000000;
}
a.rvts21, span.rvts21
{
 font-size: 12pt;
 font-family: 'Calibri';
 text-decoration: none;
}
a.rvts22, span.rvts22
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
a.rvts23, span.rvts23
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts26
{
 font-size: 8pt;
 font-family: 'calibri';
 color: #000000;
 vertical-align: super;
}
a.rvts27, span.rvts27
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts29
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
}
a.rvts30, span.rvts30
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts32
{
 font-size: 16pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts33
{
 font-size: 14pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts34
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts35
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #000000;
 text-decoration: underline;
}
span.rvts36
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts37
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #ff0000;
}
a.rvts38, span.rvts38
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: none;
}
span.rvts39
{
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
span.rvts40
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 color: #000000;
}
span.rvts41
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts42
{
 font-size: 16pt;
 font-family: 'arial narrow';
 font-weight: bold;
 color: #000000;
}
span.rvts43
{
 font-size: 12pt;
}
a.rvts44, span.rvts44
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts45
{
 font-family: 'Calibri';
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 color: #000000;
 text-decoration: underline;
}
span.rvts48
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts49
{
 font-size: 16pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts50
{
 font-size: 16pt;
 font-family: 'Webdings';
 color: #000000;
}
span.rvts51
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts52
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #000000;
}
span.rvts53
{
 font-size: 12pt;
 font-family: 'wingdings 2';
 color: #000000;
}
span.rvts54
{
 font-size: 12pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts55, span.rvts55
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #1155cc;
 text-decoration: underline;
}
span.rvts56
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts57
{
 font-size: 12pt;
 font-family: 'Wingdings 3';
 color: #000000;
}
span.rvts58
{
 font-size: 12pt;
 font-family: 'Wingdings 3';
 font-weight: bold;
 color: #000000;
}
a.rvts59, span.rvts59
{
 font-size: 14pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts60
{
 font-size: 11pt;
 color: #000000;
}
span.rvts61
{
 font-size: 11pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts62
{
 font-size: 11pt;
 font-weight: bold;
 color: #366091;
}
span.rvts63
{
 font-size: 11pt;
 color: #008000;
}
span.rvts64
{
 font-size: 11pt;
 color: #002060;
}
span.rvts65
{
 font-size: 11pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts66
{
 font-size: 12pt;
 color: #000000;
}
span.rvts67
{
 font-size: 12pt;
 font-weight: bold;
 color: #008000;
}
span.rvts68
{
 font-size: 12pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts69
{
 font-size: 12pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts70
{
 font-size: 11pt;
 font-weight: bold;
 color: #3c78d8;
}
span.rvts71
{
 font-size: 11pt;
 font-weight: bold;
 color: #38761d;
}
a.rvts72, span.rvts72
{
 font-size: 13pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts73
{
 font-size: 13pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts74
{
 font-size: 14pt;
 font-family: 'calibri';
 color: #000000;
}
a.rvts75, span.rvts75
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: none;
}
a.rvts76, span.rvts76
{
 font-size: 15pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts77
{
 font-family: 'calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts78
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts79
{
 color: #000000;
}
span.rvts80
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts81
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts82
{
 font-size: 8pt;
 color: #000000;
}
span.rvts83
{
 color: #000000;
 background-color: #ffffff;
}
span.rvts84
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #ffffff;
}
span.rvts85
{
 color: #000000;
 background-color: #ffffcc;
}
span.rvts86
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts87
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts88
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
a.rvts89, span.rvts89
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 text-decoration: none;
}
span.rvts90
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #92d050;
}
span.rvts91
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #ff6666;
}
span.rvts92
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps7
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps8
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 0px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 19px;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 43px;
}
.rvps11
{
 text-align: center;
}
.rvps12
{
 text-align: center;
 text-indent: 47px;
 margin: 0px 0px 8px 19px;
}
.rvps13
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps14
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps15
{
 text-align: center;
 text-indent: -18px;
 margin: 0px 0px 8px 18px;
}
.rvps16
{
 text-align: center;
 margin: 0px 0px 8px 0px;
}
.rvps17
{
 text-align: right;
 text-indent: 48px;
 margin: 4px 0px 0px 192px;
}
.rvps18
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 19px 0px;
}
.rvps19
{
 text-align: center;
 margin: 4px 0px 7px 0px;
}
.rvps20
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #dbe5f1;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps21
{
 text-align: center;
 text-indent: -37px;
 margin: 19px 0px 19px 37px;
}
.rvps22
{
 text-align: center;
 margin: 8px 0px 8px 0px;
}
.rvps23
{
 text-align: center;
 margin: 0px 0px 8px 19px;
}
.rvps24
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #b8cce4;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps25
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 48px;
}
.rvps26
{
 text-align: center;
 margin: 0px 0px 7px 0px;
}
.rvps27
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps28
{
 text-align: center;
 text-indent: 113px;
 margin: 0px 0px 8px 0px;
}
.rvps29
{
 text-align: center;
 margin: 0px 0px 8px 1px;
}
.rvps30
{
 margin: 8px 0px 8px 0px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 8px 0px 8px 0px;
}
.rvps32
{
 text-align: center;
 margin: 0px 0px 8px 13px;
}
.rvps33
{
}
.rvps34
{
 line-height: 2.00;
}
.rvps35
{
 line-height: 2.00;
 margin: 0px 0px 0px 48px;
}
.rvps36
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 19px 0px;
}
.rvps37
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-bottom: none;
 background: #b8cce4;
 padding: 1px 5px 0px 5px;
 margin: 0px 0px 0px 19px;
}
.rvps38
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-bottom: none;
 background: #b8cce4;
 padding: 0px 5px 0px 5px;
 margin: 0px 0px 0px 19px;
}
.rvps39
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 background: #b8cce4;
 padding: 0px 5px 1px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps40
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #b8cce4;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 0px 19px;
}
.rvps41
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #b8cce4;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 24px;
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 8px 0px;
}
.rvps43
{
 text-align: center;
 text-indent: 9px;
 margin: 0px 0px 8px 19px;
}
.rvps44
{
 text-align: center;
 margin: 19px 0px 8px 19px;
}
.rvps45
{
 text-indent: 48px;
}
.rvps46
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -37px;
 margin: 8px 0px 8px 56px;
}
.rvps47
{
 text-align: center;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps48
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 113px;
 margin: 0px 0px 8px 67px;
}
.rvps49
{
 text-align: right;
 text-indent: 48px;
 margin: 4px 0px 0px 168px;
}
.rvps50
{
 text-align: right;
 text-indent: 48px;
 margin: 4px 0px 0px 120px;
}
.rvps51
{
 text-align: right;
 text-indent: 113px;
 margin: 0px 0px 8px 72px;
}
.rvps52
{
 text-align: right;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps53
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 0px 0px;
}
.rvps54
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #e6e6e6;
 padding: 1px 1px 1px 1px;
}
.rvps55
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-bottom: none;
 background: #e6e6e6;
 padding: 1px 1px 0px 1px;
}
.rvps56
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 background: #e6e6e6;
 padding: 0px 1px 1px 1px;
}
.rvps57
{
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-bottom: none;
 background: #e6e6e6;
 padding: 1px 1px 0px 0px;
}
.rvps58
{
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-bottom: none;
 background: #e6e6e6;
 padding: 0px 1px 0px 0px;
}
.rvps59
{
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 background: #e6e6e6;
 padding: 0px 1px 1px 0px;
}
.rvps60
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #808080;
 border-style: solid;
 border-width: 0px;
 background: #b8cce4;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps61
{
 text-align: center;
 margin: 0px 0px 19px 0px;
}
.rvps62
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-bottom: none;
 background: #e6e6e6;
 padding: 0px 1px 0px 1px;
}
.rvps63
{
 margin: 4px 0px 0px 48px;
}
.rvps64
{
 margin: 4px 0px 0px 72px;
}
.rvps65
{
 margin: 4px 0px 0px 120px;
}
.rvps66
{
 margin: 4px 0px 5px 120px;
}
.rvps67
{
 margin: 0px 0px 8px 19px;
}
.rvps68
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 75px;
 margin: 0px 0px 8px 19px;
}
.rvps69
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 19px;
}
.rvps70
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 75px;
 margin: 0px 0px 0px 19px;
}
.rvps71
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps72
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 47px;
 margin: 0px 0px 0px 47px;
}
.rvps73
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 28px;
 margin: 0px 0px 0px 47px;
}
.rvps74
{
 text-align: center;
 margin: 0px 0px 0px 47px;
}
.rvps75
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-bottom: none;
 background: #b8cce4;
 padding: 1px 5px 0px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps76
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 background: #b8cce4;
 padding: 0px 5px 1px 5px;
 margin: 0px 0px 0px 19px;
}
.rvps77
{
 text-align: center;
 text-indent: 29px;
 margin: 0px 0px 8px 19px;
}
.rvps78
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 29px;
 margin: 0px 0px 0px 67px;
}
.rvps79
{
 margin: 0px 0px 8px 96px;
}
.rvps80
{
 margin: 16px 0px 4px 0px;
}
.rvps81
{
 text-align: center;
 text-indent: -141px;
 margin: 0px 0px 8px 160px;
}
.rvps82
{
 text-align: center;
 margin: 0px 0px 8px 18px;
}
.rvps83
{
 text-align: center;
 margin: 0px 0px 8px 7px;
}
.rvps84
{
 text-indent: -141px;
 margin: 0px 0px 8px 160px;
}
.rvps85
{
 text-indent: -37px;
 margin: 0px 0px 8px 56px;
}
.rvps86
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 96px;
}
.rvps87
{
 text-align: center;
 text-indent: 1px;
 margin: 0px 0px 8px 24px;
}
.rvps88
{
 text-align: center;
 margin: 0px 0px 8px 6px;
}
.rvps89
{
 text-align: center;
 margin: 0px 0px 8px 24px;
}
.rvps90
{
 text-align: center;
 text-indent: -18px;
 margin: 0px 0px 8px 37px;
}
.rvps91
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 96px;
}
.rvps92
{
 text-align: center;
 margin: 0px 0px 8px 30px;
}
.rvps93
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -141px;
 margin: 0px 0px 8px 160px;
}
.rvps94
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -37px;
 margin: 0px 0px 8px 56px;
}
.rvps95
{
 margin: 0px 0px 8px 48px;
}
.rvps96
{
 text-align: center;
 text-indent: 4px;
 margin: 0px 0px 8px 19px;
}
.rvps97
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 29px;
 margin: 0px 0px 0px 19px;
}
.rvps98
{
 text-align: center;
 text-indent: 1px;
 margin: 0px 0px 8px 18px;
}
.rvps99
{
}
.rvps100
{
}
.rvps101
{
}
.rvps102
{
 text-align: center;
 text-indent: 48px;
}
.rvps103
{
 text-align: center;
 text-indent: -17px;
 margin: 0px 0px 8px 19px;
}
.rvps104
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 48px;
}
.rvps105
{
 text-align: center;
 margin: 7px 0px 0px 0px;
}
.rvps106
{
 text-align: center;
 margin: 7px 0px 0px 19px;
}
.rvps107
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps108
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 24px;
}
.rvps109
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 4px 0px;
}
.rvps110
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 124px;
 margin: 0px 0px 8px 19px;
}
.rvps111
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 76px;
 margin: 0px 0px 8px 21px;
}
.rvps112
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 77px;
 margin: 0px 0px 8px 19px;
}
.rvps113
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 8px 19px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 43px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 160px; list-style-position: outside; list-style-type: decimal;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 160px; list-style-position: outside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 200px; list-style-position: outside; list-style-type: decimal;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 200px; list-style-position: outside; list-style-type: square;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: disc;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: square;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: decimal;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 240px; list-style-position: outside; list-style-type: decimal;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 240px; list-style-position: outside; list-style-type: square;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 280px; list-style-position: outside; list-style-type: decimal;}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 280px; list-style-position: outside; list-style-type: square;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 120px; list-style-position: outside; list-style-type: square;}
