/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts12
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts13
{
 font-size: 14pt;
}
span.rvts14
{
 font-size: 14pt;
 font-family: 'Calibri';
}
span.rvts15
{
 font-size: 9pt;
 font-family: 'Calibri';
 vertical-align: super;
}
span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts17, span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts19
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts20
{
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts21
{
 font-family: 'calibri';
 color: #000000;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts26
{
 font-size: 8pt;
 font-family: 'Calibri';
 vertical-align: super;
}
a.rvts27, span.rvts27
{
 font-size: 12pt;
 font-family: 'Calibri';
 text-decoration: none;
}
span.rvts28
{
 font-size: 12pt;
}
a.rvts29, span.rvts29
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
a.rvts30, span.rvts30
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts31
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts33
{
 font-size: 8pt;
 font-family: 'calibri';
 color: #000000;
 vertical-align: super;
}
a.rvts34, span.rvts34
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts35
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts36
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
}
a.rvts37, span.rvts37
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts38
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts39
{
 font-size: 11pt;
 font-family: 'Calibri';
}
a.rvts40, span.rvts40
{
 font-size: 12pt;
 font-family: 'Calibri';
 text-decoration: underline;
}
span.rvts41
{
 font-size: 12pt;
 font-family: 'Calibri';
 text-decoration: underline;
}
span.rvts42
{
 font-size: 8pt;
 font-family: 'Calibri';
 color: #000000;
 vertical-align: super;
}
span.rvts43
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
a.rvts44, span.rvts44
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts45, span.rvts45
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts47
{
 font-size: 12pt;
}
a.rvts48, span.rvts48
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts49
{
 font-size: 8pt;
 font-family: 'Calibri';
 vertical-align: super;
}
span.rvts50
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts51
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts52
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts53
{
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts54
{
 font-family: 'Calibri';
}
span.rvts55
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts56
{
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
a.rvts57, span.rvts57
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts58
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts59
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
a.rvts60, span.rvts60
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts61
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 text-decoration: underline;
}
span.rvts62
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
}
span.rvts63
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
}
a.rvts64, span.rvts64
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts65
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts66
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts67
{
 font-size: 15pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts68
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
 text-decoration: underline;
}
span.rvts69
{
 font-size: 16pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts70
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 color: #000000;
 text-decoration: underline;
}
span.rvts72
{
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts73
{
 font-family: 'Calibri';
 color: #000000;
}
a.rvts74, span.rvts74
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #1155cc;
 text-decoration: underline;
}
span.rvts75
{
 font-size: 9pt;
}
span.rvts76
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
span.rvts77
{
 font-size: 14pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts78
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts79
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 text-decoration: underline;
}
span.rvts80
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts81
{
 font-size: 12pt;
 font-family: 'Calibri';
}
span.rvts82
{
 font-size: 9pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts83
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
 text-decoration: underline;
}
span.rvts84
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 text-decoration: underline;
}
span.rvts85
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts86
{
 font-size: 12pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #000000;
}
span.rvts87
{
 font-size: 12pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts88
{
 font-size: 12pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 color: #000000;
}
span.rvts89
{
 font-size: 12pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts90
{
 font-size: 18pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts91, span.rvts91
{
 font-size: 14pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts92
{
 font-size: 11pt;
 color: #000000;
}
span.rvts93
{
 font-size: 11pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts94
{
 font-size: 11pt;
 font-weight: bold;
 color: #366091;
}
span.rvts95
{
 font-size: 11pt;
 color: #008000;
}
span.rvts96
{
 font-size: 11pt;
 color: #002060;
}
span.rvts97
{
 font-size: 11pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts98
{
 font-size: 12pt;
 font-weight: bold;
 color: #008000;
}
span.rvts99
{
 font-size: 12pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts100
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts101
{
 font-size: 11pt;
 font-weight: bold;
 color: #3c78d8;
}
span.rvts102
{
 font-size: 11pt;
 font-weight: bold;
 color: #38761d;
}
span.rvts103
{
 font-size: 11pt;
}
a.rvts104, span.rvts104
{
 font-size: 13pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts105
{
 font-size: 13pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts106
{
 font-size: 14pt;
 font-family: 'calibri';
 color: #000000;
}
a.rvts107, span.rvts107
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: none;
}
a.rvts108, span.rvts108
{
 font-size: 15pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts109
{
 font-family: 'calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts110
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts111
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts112
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts113
{
 color: #000000;
}
span.rvts114
{
 font-size: 16pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts115
{
 font-size: 14pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts116
{
 font-size: 12pt;
 font-family: 'Calibri';
 background-color: #ffffff;
}
span.rvts117
{
 font-size: 12pt;
 background-color: #ffffcc;
}
span.rvts118
{
 font-family: 'Calibri';
 background-color: #ffffff;
}
span.rvts119
{
 font-weight: bold;
}
span.rvts120
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts121
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts122
{
 font-size: 8pt;
}
span.rvts123
{
 background-color: #ffffff;
}
span.rvts124
{
 font-family: 'Courier New', 'Courier', monospace;
 background-color: #ffffff;
}
span.rvts125
{
 font-size: 12pt;
 font-family: 'Calibri (Vietnamese)';
}
span.rvts126
{
 background-color: #ffffcc;
}
span.rvts127
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts128
{
 font-size: 12pt;
 background-color: #ffffff;
}
span.rvts129
{
 font-size: 16pt;
 font-family: 'arial narrow';
 font-weight: bold;
 color: #000000;
}
span.rvts130
{
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
span.rvts131
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts132
{
 font-size: 12pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
span.rvts133
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 text-decoration: underline;
}
a.rvts134, span.rvts134
{
 text-decoration: none;
}
a.rvts135, span.rvts135
{
 font-size: 12pt;
 font-family: 'Calibri';
 text-decoration: none;
}
span.rvts136
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts137
{
 font-size: 12pt;
 font-family: 'calibri';
 font-style: italic;
 color: #000000;
}
span.rvts138
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts139
{
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts140, span.rvts140
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: right;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 margin: 10px 0px 40px 0px;
}
.rvps7
{
 text-align: right;
}
.rvps8 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 0px;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 19px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 142px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 24px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 0px 54px;
}
.rvps14
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 43px;
}
.rvps16
{
 text-align: center;
}
.rvps17
{
 text-align: center;
 text-indent: 47px;
 margin: 0px 0px 8px 19px;
}
.rvps18
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps19
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps20
{
 text-align: center;
 text-indent: -18px;
 margin: 0px 0px 8px 18px;
}
.rvps21
{
 text-align: center;
 margin: 0px 0px 8px 0px;
}
.rvps22
{
 text-align: right;
 text-indent: 48px;
 margin: 4px 0px 0px 192px;
}
.rvps23
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 142px;
 margin: 0px 0px 10px 24px;
}
.rvps24
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 19px 0px;
}
.rvps25
{
 text-align: center;
 margin: 4px 0px 7px 0px;
}
.rvps26
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #dbe5f1;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps27
{
 text-align: center;
 text-indent: -37px;
 margin: 19px 0px 19px 37px;
}
.rvps28
{
 text-align: center;
 margin: 8px 0px 8px 0px;
}
.rvps29
{
 text-align: center;
 margin: 0px 0px 8px 19px;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 225px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #b8cce4;
 padding: 2px 7px 2px 7px;
 margin: 0px 0px 9px 16px;
}
.rvps32
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 54px;
}
.rvps33
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -24px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 47px;
}
.rvps34
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 20px 0px 20px 54px;
}
.rvps35
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 142px;
 widows: 2;
 orphans: 2;
 margin: 20px 0px 20px 24px;
}
.rvps36
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 54px;
}
.rvps37
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 114px;
}
.rvps38
{
 text-align: center;
 margin: 0px 0px 7px 0px;
}
.rvps39
{
 text-align: center;
 text-indent: 113px;
 margin: 0px 0px 8px 0px;
}
.rvps40
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 207px;
}
.rvps41
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 60px;
}
.rvps43
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #b8cce4;
 padding: 2px 7px 2px 7px;
 margin: 0px 0px 9px 16px;
}
.rvps44
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 207px;
}
.rvps45
{
 text-align: center;
 margin: 0px 0px 8px 1px;
}
.rvps46
{
 margin: 10px 0px 10px 0px;
}
.rvps47
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 10px 0px 10px 60px;
}
.rvps48
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 10px 0px 10px 60px;
}
.rvps49
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 148px;
}
.rvps50
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 10px 0px 10px 0px;
}
.rvps51
{
 text-align: center;
 margin: 0px 0px 8px 13px;
}
.rvps52
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 10px 0px 10px 148px;
}
.rvps53
{
 text-align: center;
 margin: 0px 0px 10px 0px;
}
.rvps54
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps55
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 0px;
}
.rvps56
{
 margin: 0px 0px 0px 24px;
}
.rvps57
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #b8cce4;
 padding: 2px 7px 2px 7px;
 margin: 0px 0px 0px 16px;
}
.rvps58
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 24px;
}
.rvps59
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -12px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 24px;
}
.rvps60
{
 line-height: 2.00;
}
.rvps61
{
 line-height: 2.00;
 margin: 0px 0px 0px 48px;
}
.rvps62
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps63
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 118px;
}
.rvps64
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 23px 60px;
}
.rvps65
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #b8cce4;
 padding: 2px 7px 2px 7px;
 margin: 0px 0px 9px 22px;
}
.rvps66
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 23px 0px 10px 60px;
}
.rvps67
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 23px 0px 10px 120px;
}
.rvps68
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 23px 60px;
}
.rvps69
{
 margin: 8px 0px 8px 0px;
}
.rvps70
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 106px;
}
.rvps71
{
 text-align: center;
 text-indent: -24px;
 margin: 0px 0px 8px 0px;
}
.rvps72
{
 text-align: center;
 text-indent: 142px;
 margin: 0px 0px 10px 24px;
}
.rvps73
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 23px 0px 10px 120px;
}
.rvps74
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 10px 0px 10px 120px;
}
.rvps75
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 10px 0px 10px 0px;
}
.rvps76
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 130px;
}
.rvps77
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 120px;
}
.rvps78
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 8px 0px 8px 0px;
}
.rvps79
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #b8cce4;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 24px;
}
.rvps80
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 8px 0px;
}
.rvps81
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 19px 0px;
}
.rvps82
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 8px 48px;
}
.rvps83
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 83px;
}
.rvps84
{
 text-align: center;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 0px;
}
.rvps85
{
 text-align: center;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps86
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 59px;
}
.rvps87
{
 widows: 2;
 orphans: 2;
}
.rvps88
{
 widows: 2;
 orphans: 2;
 margin: 10px 0px 10px 0px;
}
.rvps89
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 23px 0px 10px 60px;
}
.rvps90
{
 text-align: center;
 widows: 2;
 orphans: 2;
 margin: 23px 0px 10px 24px;
}
.rvps91
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #b8cce4;
 padding: 1px 5px 1px 5px;
 margin: 0px 0px 8px 19px;
}
.rvps92
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 89px;
}
.rvps93
{
 text-align: right;
 text-indent: 113px;
 margin: 0px 0px 8px 72px;
}
.rvps94
{
 text-align: right;
 text-indent: 48px;
 margin: 4px 0px 0px 120px;
}
.rvps95
{
 text-align: right;
 text-indent: 48px;
 margin: 4px 0px 0px 168px;
}
.rvps96
{
 text-indent: 48px;
}
.rvps97
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -37px;
 margin: 8px 0px 8px 56px;
}
.rvps98
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 113px;
 margin: 0px 0px 8px 67px;
}
.rvps99
{
 text-align: right;
 text-indent: 113px;
 margin: 0px 0px 8px 19px;
}
.rvps100
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #e6e6e6;
 padding: 1px 1px 1px 1px;
}
.rvps101
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-bottom: none;
 background: #e6e6e6;
 padding: 1px 1px 0px 1px;
}
.rvps102
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 background: #e6e6e6;
 padding: 0px 1px 1px 1px;
}
.rvps103
{
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-bottom: none;
 background: #e6e6e6;
 padding: 1px 1px 0px 0px;
}
.rvps104
{
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-bottom: none;
 background: #e6e6e6;
 padding: 0px 1px 0px 0px;
}
.rvps105
{
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 background: #e6e6e6;
 padding: 0px 1px 1px 0px;
}
.rvps106
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 20px 0px 30px 60px;
}
.rvps107
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #808080;
 border-style: solid;
 border-width: 1px;
 background: #b8cce4;
 padding: 2px 7px 2px 7px;
 margin: 0px 0px 9px 16px;
}
.rvps108
{
 margin: 0px 0px 0px 36px;
}
.rvps109
{
 text-align: center;
 margin: 0px 0px 19px 0px;
}
.rvps110
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 23px 0px 0px 60px;
}
.rvps111
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 60px;
}
.rvps112
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #e6e6e6;
 padding: 2px 2px 2px 0px;
}
.rvps113
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #e6e6e6;
 padding: 2px 2px 2px 2px;
}
.rvps114
{
 margin: 4px 0px 0px 48px;
}
.rvps115
{
 margin: 4px 0px 0px 72px;
}
.rvps116
{
 margin: 4px 0px 0px 120px;
}
.rvps117
{
 margin: 4px 0px 5px 120px;
}
.rvps118
{
 margin: 0px 0px 8px 19px;
}
.rvps119
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 19px;
}
.rvps120
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.rvps121
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 28px;
 margin: 0px 0px 0px 47px;
}
.rvps122
{
 text-align: center;
 margin: 0px 0px 0px 47px;
}
.rvps123
{
 text-align: center;
 text-indent: 29px;
 margin: 0px 0px 8px 19px;
}
.rvps124
{
 text-align: center;
 margin: 0px 0px 8px 30px;
}
.rvps125
{
 text-align: center;
 text-indent: 4px;
 margin: 0px 0px 8px 19px;
}
.rvps126
{
 text-align: center;
 margin: 5px 0px 8px 0px;
}
.rvps127
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 36px;
 margin: 0px 0px 0px 59px;
}
.rvps128
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 94px;
 margin: 0px 0px 10px 24px;
}
.rvps129
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 24px;
}
.rvps130
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 94px;
 margin: 0px 0px 0px 24px;
}
.rvps131
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 59px;
 margin: 0px 0px 0px 59px;
}
.rvps132
{
 margin: 0px 0px 10px 24px;
}
.rvps133
{
 text-align: center;
 text-indent: 36px;
 margin: 0px 0px 10px 24px;
}
.rvps134
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 36px;
 margin: 0px 0px 0px 84px;
}
.rvps135
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps136
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -307px;
 margin: 0px 0px 0px 402px;
}
.rvps137
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -343px;
 margin: 0px 0px 0px 402px;
}
.rvps138
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 24px;
}
.rvps139
{
 text-align: center;
 margin: 0px 0px 10px 24px;
}
.rvps140
{
 margin: 20px 0px 5px 0px;
}
.rvps141
{
 text-align: center;
 text-indent: -177px;
 margin: 0px 0px 10px 201px;
}
.rvps142
{
 text-align: center;
 margin: 0px 0px 10px 22px;
}
.rvps143
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps144
{
 text-align: center;
 margin: 0px 0px 10px 9px;
}
.rvps145
{
 text-indent: -177px;
 margin: 0px 0px 10px 201px;
}
.rvps146
{
 text-indent: -47px;
 margin: 0px 0px 10px 71px;
}
.rvps147
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 120px;
}
.rvps148
{
 text-align: center;
 text-indent: 1px;
 margin: 0px 0px 10px 30px;
}
.rvps149
{
 margin: 0px 0px 10px 120px;
}
.rvps150
{
 text-align: center;
 margin: 0px 0px 10px 8px;
}
.rvps151
{
 text-align: center;
 margin: 0px 0px 10px 30px;
}
.rvps152
{
 text-align: center;
 text-indent: -24px;
 margin: 0px 0px 10px 47px;
}
.rvps153
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 120px;
}
.rvps154
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 71px;
 margin: 0px 0px 10px 24px;
}
.rvps155
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -177px;
 margin: 0px 0px 10px 201px;
}
.rvps156
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -47px;
 margin: 0px 0px 10px 71px;
}
.rvps157
{
 margin: 0px 0px 10px 60px;
}
.rvps158
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 36px;
 margin: 0px 0px 0px 24px;
}
.rvps159
{
 text-align: center;
 text-indent: 1px;
 margin: 0px 0px 10px 22px;
}
.rvps160
{
 text-align: center;
 margin: 0px 0px 8px 18px;
}
.rvps161
{
}
.rvps162
{
 margin: 0px 0px 10px 0px;
}
.rvps163
{
}
.rvps164
{
 text-align: center;
 text-indent: 48px;
}
.rvps165
{
 text-align: center;
 text-indent: -17px;
 margin: 0px 0px 8px 19px;
}
.rvps166
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 90px;
}
.rvps167
{
 text-align: center;
 margin: 7px 0px 0px 0px;
}
.rvps168
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps169
{
 text-align: center;
 margin: 7px 0px 0px 19px;
}
.rvps170
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 19px 0px 8px 40px;
}
.rvps171
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #b8cce4;
 padding: 0px 5px 0px 5px;
 margin: 0px 0px 8px 23px;
}
.rvps172
{
 text-align: center;
 text-indent: 142px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 10px 24px;
}
.rvps173
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 8px 48px;
}
.rvps174
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 195px;
}
.rvps175
{
 margin: 0px 0px 0px 255px;
}
.rvps176
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 10px 225px;
}
.rvps177
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 4px 0px;
}
.rvps178
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 124px;
 margin: 0px 0px 8px 19px;
}
.rvps179
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 76px;
 margin: 0px 0px 8px 21px;
}
.rvps180
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 77px;
 margin: 0px 0px 8px 19px;
}
.rvps181
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 margin: 0px 0px 8px 19px;
}
.rvps182
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps183
{
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 54px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 43px; list-style-position: outside; list-style-type: disc;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 160px; list-style-position: outside; list-style-type: decimal;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 160px; list-style-position: outside; list-style-type: square;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 225px; list-style-position: outside; list-style-type: disc;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 54px; list-style-position: outside;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 207px; list-style-position: outside; list-style-type: disc;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 -60px; list-style-position: inside;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 148px; list-style-position: outside; list-style-type: disc;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list21 {text-indent: 0px; padding: 0; margin: 0 0 0 200px; list-style-position: outside; list-style-type: decimal;}
.list22 {text-indent: 0px; padding: 0; margin: 0 0 0 200px; list-style-position: outside; list-style-type: square;}
.list23 {text-indent: 0px; padding: 0; margin: 0 0 0 118px; list-style-position: outside; list-style-type: disc;}
.list24 {text-indent: 0px; padding: 0; margin: 0 0 0 137px; list-style-position: outside; list-style-type: circle;}
.list25 {text-indent: 0px; padding: 0; margin: 0 0 0 106px; list-style-position: outside; list-style-type: disc;}
.list26 {text-indent: 0px; padding: 0; margin: 0 0 0 149px; list-style-position: outside; list-style-type: circle;}
.list27 {text-indent: 0px; padding: 0; margin: 0 0 0 130px; list-style-position: outside; list-style-type: disc;}
.list28 {text-indent: 0px; padding: 0; margin: 0 0 0 125px; list-style-position: outside; list-style-type: circle;}
.list29 {text-indent: 0px; padding: 0; margin: 0 0 0 -77px; list-style-position: outside; list-style-type: disc;}
.list30 {text-indent: 0px; padding: 0; margin: 0 0 0 157px; list-style-position: outside; list-style-type: square;}
.list31 {text-indent: 0px; padding: 0; margin: 0 0 0 59px; list-style-position: outside; list-style-type: disc;}
.list32 {text-indent: 0px; padding: 0; margin: 0 0 0 196px; list-style-position: outside; list-style-type: circle;}
.list33 {text-indent: 0px; padding: 0; margin: 0 0 0 89px; list-style-position: outside; list-style-type: disc;}
.list34 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: decimal;}
.list35 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: lower-alpha;}
.list36 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: lower-roman;}
.list37 {text-indent: 0px; padding: 0; margin: 0 0 0 240px; list-style-position: outside; list-style-type: decimal;}
.list38 {text-indent: 0px; padding: 0; margin: 0 0 0 240px; list-style-position: outside; list-style-type: square;}
.list39 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside;}
.list40 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: decimal;}
.list41 {text-indent: 0px; padding: 0; margin: 0 0 0 -60px; list-style-position: inside; list-style-type: circle;}
.list42 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list43 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list44 {text-indent: 0px; padding: 0; margin: 0 0 0 90px; list-style-position: outside;}
.list45 {text-indent: 0px; padding: 0; margin: 0 0 0 195px; list-style-position: outside; list-style-type: disc;}
.list46 {text-indent: 0px; padding: 0; margin: 0 0 0 225px; list-style-position: outside;}
.list47 {text-indent: 0px; padding: 0; margin: 0 0 0 120px; list-style-position: outside; list-style-type: square;}
