/* Act */
.hide {
    display: none;
}
/* Base */
.dynamic {
    position: relative;
    width: 100%;
    max-width: 764px;
    margin: 40px auto;
}
.dynamic-tab {
    overflow: hidden;
    margin: 0 20px;
}
.dynamic-list {
    margin: 0 auto;
    padding: 0;
    font-size: 0;
}
.dynamic-item {
    display: inline-block;
    font-size: 16px;
    min-width: 110px;
}
.dynamic-item a {
    margin: 0 20px;
    padding: 0 10px;
}
.dynamic-nav-next, .dynamic-nav-prev {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: 0;
    border: 0;
    background-color: transparent;
    width: 50px;
    font-size: 0;
    text-indent: -9999px;
}
.dynamic-nav-next:before, .dynamic-nav-prev:before {
    position: absolute;
    line-height: 0;
    height: 5px;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 32px;
    text-indent: 0;
    font-weight: 700;
}
.dynamic-nav-next:hover, .dynamic-nav-prev:hover {
    color: #ccc;
}
.dynamic-nav-next:active, .dynamic-nav-prev:active {
    color: #777;
}
.dynamic-nav-next {
    right: 0;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 0) 100%);
}
.dynamic-nav-next:before {
    content: '›';
    right: 0;
}
.dynamic-nav-prev {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 0) 100%);
}
.dynamic-nav-prev:before {
    content: '‹';
    left: 0;
}
