.main-header .logo-lg > img {
  max-height: 50px;
}

.main-header .logo-mini > img {
  max-height: 50px;
}

.imgs img{
  max-height: 50px;
  padding: 3px;
}

/* Show menu button */
#show-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#show-menu a {
  text-decoration: none;
}

#show-menu .sidebar-toggle {
  float: left;
  background-color: white;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
  color: #333;
}

#show-menu .sidebar-toggle:before {
  content: "\f0c9";
}

#show-menu .sidebar-toggle:focus,
#show-menu .sidebar-toggle:active {
  background: transparent;
}

#show-menu .sidebar-toggle .icon-bar {
  display: none;
}

/* Full screen behavior */
.full_screen .content-wrapper {
  margin: 0;
}
.full_screen #show-menu{
  display: block;
  position: fixed;
  margin: 0;
  width: 42px;
  height: 50px;
  background-color: transparent;
  color: white;
  z-index: 99998;
}

.full_screen #show-menu .sidebar-toggle {
  color: #000;
}

.full_screen .main-sidebar {
  display: none;
}

.full_screen #nav{
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.full_screen #terrama-header{
  position: absolute;
  width: 100%;
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.full_screen .main-header .logo-lg {
  display: none;
}

.full_screen .main-header .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
    position: absolute;
}

.full_screen .main-header .logo {
  width: 50px;
  position: absolute;
  min-height: 50px;
}

.full_screen .main-footer {
  margin: 0;
}

.full_screen .navbar{
  transition: max-height 0.5s, overflow 0s;
}

#nav{
  transition: transform .35s;
  -webkit-transition: transform .35s;
  -moz-transition: transform .35s;
  -o-transition: transform .35s;
}

#terrama-header{
  transition: transform .35s;
  -webkit-transition: transform .35s;
  -moz-transition: transform .35s;
  -o-transition: transform .35s;
}

#mma {
  max-width: 70px;
}

#mini-toggle {
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 16px;
  background-color: #1e282c;
}

.sidebar-collapse #mini-toggle span {
  transform: rotate(180deg)
}

.footer-monitor {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #808080;
  border-top: solid 4px black; 
  z-index: 99999;
}

.main-footer {
  display: none !important;
}

#content {
  height: inherit;
  padding: 0;
}

.sidebar-menu > div {
  color: #b8c7ce;
}

#terrama2-layerexplorer:hover {
  overflow: hidden;
}

#Dynamic div, #Static div, #Analysis div, #Template div {
  margin-right: 5px;
  margin-left: 5px;
}

#Dynamic .pull-right, #Static .pull-right, #Analysis .pull-right, #Template .pull-right{
  padding-right: 15px;
}

.terrama2-layerexplorer-minus, .terrama2-layerexplorer-plus {
  background-image: none !important;
  float: none !important;
  width: 14px !important;
}

.sidebar-mini.sidebar-collapse #terrama2-layerexplorer > li > span > span{
  display: none;
}

.sidebar-mini.sidebar-collapse #terrama2-layerexplorer {
  width: 230px;
}

.sidebar-mini.sidebar-collapse #terrama2-layerexplorer li{
  background-color: #222d32;
}
.sidebar-mini.sidebar-collapse #terrama2-layerexplorer li:hover > span > span {
  display: inline;
  overflow: visible !important;
}

#wmsUri {
  width: 168px;
  margin-left: 5px;
}