.main-header .logo-lg > img {
  max-height: 50px;
}

.main-header .logo-mini > img {
  max-height: 50px;
}

.imgs img{
  max-height: 50px;
  padding: 3px;
}

/* Show menu button */
#show-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#show-menu a {
  text-decoration: none;
}

#show-menu .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
  color: #333;
}

#show-menu .sidebar-toggle:before {
  content: "\f0c9";
}

#show-menu .sidebar-toggle:focus,
#show-menu .sidebar-toggle:active {
  background: transparent;
}

#show-menu .sidebar-toggle .icon-bar {
  display: none;
}

/* Full screen behavior */
.full_screen .content-wrapper {
  margin: 0;
}
.full_screen #show-menu{
  display: block;
  position: fixed;
  margin: 0;
  width: 42px;
  height: 50px;
  background-color: transparent;
  color: white;
  z-index: 99998;
}

.full_screen #show-menu .sidebar-toggle {
  color: #000;
}

.full_screen .main-sidebar {
  display: none;
}

.full_screen #nav{
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.full_screen #terrama-header{
  position: absolute;
  width: 100%;
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.full_screen .main-header .logo-lg {
  display: none;
}

.full_screen .main-header .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
    position: absolute;
}

.full_screen .main-header .logo {
  width: 50px;
  position: absolute;
  min-height: 50px;
}

.full_screen .main-footer {
  margin: 0;
}

.full_screen .navbar{
  transition: max-height 0.5s, overflow 0s;
}

#nav{
  transition: transform .35s;
  -webkit-transition: transform .35s;
  -moz-transition: transform .35s;
  -o-transition: transform .35s;
}

#terrama-header{
  transition: transform .35s;
  -webkit-transition: transform .35s;
  -moz-transition: transform .35s;
  -o-transition: transform .35s;
}

#mma {
  max-width: 70px;
}

#mini-toggle {
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 16px;
  background-color: #1e282c;
}

.sidebar-collapse #mini-toggle span {
  transform: rotate(180deg)
}

.footer-monitor {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #808080;
  border-top: solid 4px black; 
  z-index: 99999;
}

.main-footer {
  display: none !important;
}

#content {
  height: inherit;
  padding: 0;
}


.sidebar-menu > view-list > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > view-list > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu > view-list > li > a > .fa,
.sidebar-menu > view-list > li > a > .glyphicon,
.sidebar-menu > view-list > li > a > .ion {
  width: 20px;
}
.sidebar-menu > view-list > li .label,
.sidebar-menu > view-list > li .badge {
  margin-right: 5px;
}
.sidebar-menu > view-list > li .badge {
  margin-top: 3px;
}
.sidebar-menu > view-list li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu > view-list li > a > .fa-angle-left,
.sidebar-menu > view-list li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}
.sidebar-menu > view-list li.active > a > .fa-angle-left > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu > view-list li.active > .treeview-menu {
  display: block;
}
.sidebar-menu > view-list .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sidebar-menu > view-list .treeview-menu .treeview-menu {
  padding-left: 20px;
}
.sidebar-menu > view-list .treeview-menu > li {
  margin: 0;
}
.sidebar-menu > view-list .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu > view-list .treeview-menu > li > a > .fa,
.sidebar-menu > view-list .treeview-menu > li > a > .glyphicon,
.sidebar-menu > view-list .treeview-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu > view-list .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.sidebar-menu > view-list .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
.sidebar-menu > view-list .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu > view-list .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li {
    position: relative;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li > a {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li > a > span {
    border-top-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:hover > a > .pull-right-container {
    float: right;
    width: auto!important;
    left: 200px!important;
    top: 10px!important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li > a > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li > .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list > li > a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu > view-list li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
}