html, body, #content, .content, .content-wrapper, #terrama2-map {
  overflow: hidden !important;
}

.map {
  width: 100%;
}

.main-header .logo-lg > img {
  max-height: 40px;
  margin-top: -2px;
  margin-left: -2px;
}

.main-header .logo-mini > img {
  max-height: 40px;
}

.imgs img {
  max-height: 40px;
  padding: 3px;
  cursor: pointer;
}

/* Show menu button */
#show-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#show-menu a {
  text-decoration: none;
}

#show-menu .sidebar-toggle {
  float: left;
  background-color: white;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
  color: #333;
}

#show-menu .sidebar-toggle:before {
  content: "\f0c9";
}

#show-menu .sidebar-toggle:focus,
#show-menu .sidebar-toggle:active {
  background: transparent;
}

#show-menu .sidebar-toggle .icon-bar {
  display: none;
}

.sidebar, .sidebar-menu, #terrama2-layerexplorer, .treeview, .treeview-menu, .treeview > span {
  background-color: inherit;
}

/* Full screen behavior */
.full_screen .content-wrapper {
  margin: 0;
}
.full_screen #show-menu{
  display: block;
  position: fixed;
  margin: 0;
  width: 42px;
  height: 50px;
  background-color: transparent;
  color: white;
  z-index: 99998;
}

.full_screen #show-menu .sidebar-toggle {
  color: #000;
}

.full_screen .main-sidebar {
  display: none;
}

.full_screen #nav{
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.full_screen #terrama-header{
  position: absolute;
  width: 100%;
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.full_screen .main-header .logo-lg {
  display: none;
}

.full_screen .main-header .logo-mini {
  display: block;
  margin-left: -10px;
  margin-right: -15px;
  font-size: 18px;
  position: fixed;
  margin-top: 50px
}

.full_screen .main-header .logo {
  width: 50px;
  position: absolute;
  min-height: 50px;
}

.main-header .logo {
  background-color: #222d32 !important;
  color: white !important;
  border-right: none !important;
  margin-top: 5px;
}

.main-header .logo:hover {
  background-color: #222d32 !important;
}

.full_screen .main-footer {
  margin: 0;
}

.full_screen .navbar{
  transition: max-height 0.5s, overflow 0s;
}

#nav{
  transition: transform .35s;
  -webkit-transition: transform .35s;
  -moz-transition: transform .35s;
  -o-transition: transform .35s;
}

#terrama-header{
  transition: transform .35s;
  -webkit-transition: transform .35s;
  -moz-transition: transform .35s;
  -o-transition: transform .35s;
}

#mma {
  max-width: 70px;
}

#mini-toggle {
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 16px;
  background-color: #1e282c;
}

.sidebar-collapse #mini-toggle span {
  transform: rotate(180deg)
}

.footer-monitor {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #808080;
  border-top: solid 4px black; 
  z-index: 99999;
}

.main-footer {
  display: none !important;
}

#content {
  height: inherit;
  padding: 0;
}

.sidebar-menu {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.sidebar-menu > div {
  color: #b8c7ce;
}

#dynamic div, #static div, #analysis div, #template div, #custom div, #alert div {
  margin-right: 5px;
  margin-left: 25px;
}

#dynamic .pull-right, #static .pull-right, #analysis .pull-right, #template .pull-right, #custom .pull-right, #alert .pull-right {
  padding-right: 15px;
}

.sidebar-mini.sidebar-collapse #alert .pull-right,
.sidebar-mini.sidebar-collapse #dynamic .pull-right,
.sidebar-mini.sidebar-collapse #static .pull-right,
.sidebar-mini.sidebar-collapse #analysis .pull-right,
.sidebar-mini.sidebar-collapse #template .pull-right,
.sidebar-mini.sidebar-collapse #custom .pull-right {
  padding-right: 0px;
}

.sidebar-mini.sidebar-collapse #dynamic {
  max-height: 40px;
}

.terrama2-layerexplorer-minus, .terrama2-layerexplorer-plus {
  background-image: none !important;
  float: none !important;
  width: 14px !important;
}

/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 50px !important;
    z-index: 840;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li {
    position: relative;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li > span {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover {
    background-color: #1e282c;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover > span > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover > span > span {
    top: 0;
    padding: 10px 0px 10px 20px;
    background-color: inherit;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover > span > span > i {
    margin-left: -5px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover > span > .pull-right-container {
    top: 0 !important;
    height: 40px !important;
    float: right;
    width: auto!important;
    left: 200px!important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover > span > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li:hover .treeview-menu {
    top: 40px;
    margin-left: 0;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  .sidebar-mini.sidebar-collapse .sidebar-form,
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li > span > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > #terrama2-layerexplorer > li > span > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
  }
  .sidebar-mini.sidebar-collapse form {
    display: none;
  }
  .sidebar-mini.sidebar-collapse #terrama2-sortlayers {
    display: none;
  }
}

#wmsUri {
  width: 505px;
  margin-left: 5px;
  float: left;
}

#addLayers {
  float: left;
}

#layersModalBody > span {
  max-height: 370px;
  /*overflow: overlay;*/
  overflow-y: auto;
}

#layersModalBody > span > ul > li > span {
  margin-left: 5px;
}

#layersModalBody > span > ul {
  list-style: none;
}

#terrama2Alert {
  z-index: 99999;
  position: fixed;
  top: 60px;
  left: 45%;
  width: 450px;
}

#terrama2-sortlayers{
  cursor: move;
}

#terrama2-sortlayers ul {
  list-style: none;
  padding-left: 10px;
}

#terrama2-sortlayers ul li {
  padding: 5px 0 5px 0;
}

.terrama2-datepicker-icon {
  margin-right: 15px;
  float: right;
  cursor: pointer;
}

.slider-content {
  position: absolute;
  background-color: white;
  width: 200px;
  /*bottom: 40px;*/
  height: 55px;
  padding: 6px;
  z-index: 2000;
  opacity: 0.9;
  border-radius: 10px;
  margin-left: -10px !important;
}

.slider-content > div {
  margin-left: 15px;
  margin-right: 15px;
}
.slider-content > label {
  margin-left: 15px;
  color: #4b646f;
}

.status-icon {
  width: 13px;
  height: 13px;
}

.span-group-icon {
  position: absolute;
  margin-left: 5px;
  margin-top: -2px;
}

.span-layer-icon {
  position: absolute;
  margin-left: 5px;
  margin-top: -8px;
}

.terrama2-layerexplorer-checkbox {
  margin-left: 25px !important;
}

/*
  @description It performs a text truncate in string. You should specify width limit using style or another class.
  In Layers Explorer Section, the recommended width is 140px;

  @example
  <span class=".terrama2-text-truncate" style="width: 100px;">This text will be truncated</span>

  This text ...
*/
.terrama2-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-sortable .terrama2-layerexplorer-checkbox-span {
  width: 140px;
  margin-left: 40px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unsortable .terrama2-datepicker-icon {
  margin-top: -30px !important;
}

/**
 * It handles Mozila FireFox CSS specific styles
 */
@-moz-document url-prefix() {
  /*
    It fixes the position of dropdown icon on layer explorer. Without it, the icon will overflow to the next li item
  */
  .ui-sortable .group-name span i {
    margin-top: -16px !important;
  }

  .sidebar-collapse .ui-sortable .group-name span i {
    margin-top: 0px !important;
  }

  .terrama2-layerexplorer-checkbox-span {
    text-indent: 8px !important;
  }

  .slider-content button[class~="close-slider"]{
    margin-top: -25px !important;
  }

  .terrama2-layer-tools {
    margin-top: -20px !important;
  }
}

.map-tool-button {
  z-index: 9999;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  right: 15px;
  padding: 3px;
  max-height: 350px;
}

.animate-tool-button {
  z-index: 9999;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  bottom: 2px;
  padding: 3px;
  max-height: 350px;
}

#currentDate {
  z-index: 9999;
  position: absolute;
  padding: 3px;
  max-height: 350px;
  left: 10px;
  bottom: 2px;
  background-color: rgba(0,0,0,.4);
  border-radius: 2px;
  height: 35px;
  width: 140px;
}

#currentDate > label {
  background-color: rgba(255,255,255,1);
  margin-bottom: 0px !important;
  height: 29px;
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 3px;
}

.map-tool-button > button, .animate-tool-button > button {
  width: 29px;
  height: 29px;
  background-color: rgba(241,241,241,.8);
  font-size: 1.14em;
  border: none;
  border-radius: 2px;
  outline: 0;
}

.ol-zoom-in, .ol-zoom-out {
  width: 29px !important;
  height: 29px !important;
  background-color: rgba(241,241,241,.8) !important;
  font-size: 1.14em !important;
  border: none !important;
  border-radius: 2px !important;
  outline: 0 !important;
  font-size: 21px !important;
}

.map-tool-button > button:hover, .animate-tool-button > button:hover { background-color: rgba(241,241,241,1); }

.map-tool-button.active > button, .animate-tool-button > button { background-color: rgba(255, 255, 255, 1); }

#map-tools {
  z-index: 999999;
  position: absolute;
  right: 0px;
}

#loginButton { top: 20px; }

#terrama2-map .ol-zoom { top: 60px; }

#toggleButton { top: 130px; }

#moveMap { top: 170px; }

#dragbox { top: 210px; }

#legendsButton { top: 250px; }

#getAttributes { top: 290px; }

#tableButton { top: 330px; }

#reloadAnimation {left: 155px; }

#playAnimation, #pauseAnimation {left: 195px;}

#stopAnimation {left: 235px;}

#getAttributes.with-select { width: 190px; }

#getAttributes > button {
  float: right;
}

#getAttributes > select {
  float: left;
  width: 150px;
  height: 29px;
}

#feature-info-box, #map-info-box {
  width: 100% !important;
  white-space: nowrap;
  font-size: 13px;
}

.feature-info-box .ui-dialog-title, .map-info-box .ui-dialog-title { font-size: 13px; }

.cursor-crosshair { cursor: crosshair !important; }

.cursor-move { cursor: move !important; }

.cursor-pointer { cursor: pointer !important; }

.ol-overlaycontainer, .ol-overlaycontainer:hover, .ol-zoom, .ol-zoom:hover, .ol-unselectable, .ol-unselectable:hover, .ol-control, .ol-control:hover { background-color: rgba(0, 0, 0, 0.4) !important; }

#table-div {
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  bottom: 0;
  z-index: 99999;
  cursor: default;
}

#table-div > div.main-div {
   margin: 20px;
   padding: 10px 10px 40px 10px;
   background-color: white;
   border-radius: 5px;
   height: calc(100% - 50px);
   overflow: auto;
}

#table-div > .ui-resizable-n {
  top: 0px;
  height: 18px;
  background-image: url('../images/icon-arrow-up-b-128.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 1px;
}

#table-div > div.main-div > ul.pagination {
   bottom: 30px;
   position: absolute;
   right: 30px;
}

#table-div > div.main-div > select {
  width: 200px;
}

#table-div > div.main-div > span {
  font-size: 18px;
  float: left;
  margin: 4px 15px 0 0;
}

#attributes-table-select > span {
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 10px 0 10px;
}

#attributes-table-select > select {
  width: 300px;
  float: left;
}

#legend-box, #layer-toolbox {
  position: absolute;
  background-color: white;
  z-index: 99999;
  border-radius: 5px;
  border: 1px solid;
  top: 21px;
}

#legend-box {
  width: 320px;
  height: 480px;
}

#layer-toolbox {
  width: 220px;
}

#legend-box { right: 65px; }

#layer-toolbox { left: 21px; }

#legend-box > .legend-header, #layer-toolbox > .layer-toolbox-header{
  padding: 10px;
  font-size: 15px;
  background-color: #d8d8d8;
  color: #000000;
  height: 41px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

#legend-box > .legend-body, #layer-toolbox > .layer-toolbox-body {
  padding: 10px;
  margin-top: 41px;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: calc(100% - 41px);
  top: 0;
  cursor: default;
}

#exportation-box {
  margin-top: 15px;
  border-top: 1px solid #d8d8d8;
  padding-top: 15px;
}

#exportation-status {
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: -10px;
  margin-top: -15px;
}

#exportation-status > div {
  padding: 34px 10px 0 10px;
  text-align: center;
  font-weight: 900;
  font-size: 15px;
}

#exportation-status > div > div {
  margin-top: 7px;
}

#layer-toolbox > .layer-toolbox-body .layer-name {
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

#projects {
  background-color: #1a2226;
  color: #b8c7ce;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin: 10px 0 0 0;
}

#institutions-logos {
  text-align: center;
  bottom: 0;
  position: absolute;
  z-index: 999;
  width: 230px;
  border: 2px solid;
  left: 0;
  background-color: #e0e0e0;
  height: 50px;
}

.font-red { color: red; }

.font-green { color: #09d409; }

#authentication-div {
  background-color: #e2e2e2;
  padding: 10px;
  list-style-type: none;
  top: 20px;
  position: absolute;
  z-index: 9999999;
  right: 60px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}

#about-dialog {
  display: none;
  padding: 0 !important;
}

#programa-cerrado-image {
  background-image: url('../images/about/header.png');
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: initial;
  height: 830px;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  margin-top: 4px !important;
}

#about-dialog > p {
  margin: 10px;
  text-align: center;
  margin-top: 70px;
}

#about-dialog > p > span {
  font-size: 15px;
  font-weight: bold;
}

#projeto-inpe-image {
  background-image: url('../images/about/inpe.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  margin-top: 4px !important;
}

#realizacao-image {
  background-image: url('../images/about/realizacao.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  margin-top: 4px !important;
}

#terrama2-sortlayers i { font-size: 16px; }

#terrama2-sortlayers .glyphicon-resize-full {
  font-size: 15px;
  margin-right: 10px;
}

#loginButton .fa-times {
  position: absolute;
  color: red;
  left: 19px;
  top: 17px;
  font-size: 14px;
}

#loginButton .fa-circle {
  position: absolute;
  color: #0fd00f;
  left: 20px;
  top: 19px;
  font-size: 10px;
}

@-moz-document url-prefix() {
  #custom > span > span > .fa-plus {
    margin-right: 15px;
  }
}