#terrama2-map-toolbox {
  position: absolute;
  width: 500px;
  height: 19px;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  z-index: 9999;
  text-align: center;
  color: white;
  background-color: rgba(255,255,255,0.5);
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#terrama2-map-toolbox:before{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
}

#terrama2-map-toolbox:after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
}

#terrama2-toolbox-control-button {
  width: 100%;
  cursor: pointer;
}
