#terrama2-layerexplorer ul {
  padding-left: 35px;
}

#terrama2-layerexplorer ul.layerstack {
  list-style: none;
}

#terrama2-layerexplorer ul.layerstack li {
  border-bottom: 1px solid #ccc;
  padding: 3px;
}

#terrama2-layerexplorer ul.layerstack li.selected {
  background-color: #ddd;
}

#terrama2-layerexplorer li.parent_li ul li {
  cursor: default;
}

#terrama2-layerexplorer li {
  list-style-type:none;
  margin:0;
  padding: 0px 0px 5px 0px;
  position:relative;
  white-space: nowrap;
  background-color:
}

#terrama2-layerexplorer li::before, #terrama2-layerexplorer li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto;
}

#terrama2-layerexplorer li span {
  display:block;
  padding: 10px;
  text-decoration:none;
}

#terrama2-layerexplorer li.parent_li>span {
  cursor:pointer;
}

#terrama2-layerexplorer>ul>li::before, #terrama2-layerexplorer>ul>li::after {
  border:0;
}

#terrama2-layerexplorer li:last-child::before {
  height:30px;
}

.terrama2-layerexplorer-plus {
  background-image: url('../../images/plus.ico');
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 20px;
}

.terrama2-layerexplorer-minus {
  background-image: url('../../images/minus.png');
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 20px;
}

.terrama2-layerexplorer-checkbox {
  display: block;
  margin-bottom: -27px !important;
  margin-left: 20px;
}

span.terrama2-layerexplorer-checkbox-span {
  margin-left: 20px !important;
}
