.terrama2-map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.terrama2-map-simple-zoom {
  top: 20px;
  right: 50px;
}

.terrama2-map-simple-zoom:hover {
  background-color: rgba(255,255,255,.4) !important;
}

.terrama2-map-simple-zoom > button {
  background-color: rgba(241, 241, 241, 0.8); !important;
  color: rgb(84,84,84);
  outline: none;
}

.terrama2-map-simple-zoom > button:hover {
  background-color: rgba(241, 241, 241, 1) !important;
}

#terrama2-map .ol-attribution > button {
  background-color: rgba(241, 241, 241, 0.8); !important;
  color: rgb(84,84,84);
  outline: none;
}

#terrama2-map .ol-attribution > button:hover {
  background-color: rgba(241, 241, 241, 1) !important;
}

.terrama2-map-attribution {
  text-align: right;
  bottom: 20px;
  right: 50px;
  max-width: calc(100% - 1.3em);
}
