{% extends "base/layout.html" %}

{% set tabActive = "about" %}

{% block title %}

TerraMA² {{ i18n.__('About') }}

{% endblock %}

{% block content %}

<terrama2-box title="i18n.__('About')">
  <div class="row">
    <div class="col-md-12">
      <div style="display: block;" class="box-body">
        <div id="about-dialog" title="Sobre">
          <div id="programa-cerrado-image"></div>
          <p>
            <span>
              Projeto <em>Platform of Monitoring and Warning of Forest Fires in the Cerrado</em> (ProCerrado INPE)
            </span>
            <br/><br/>
            Este projeto &eacute; parte integrante do Programa Cerrado, uma iniciativa de
            coopera&ccedil;&atilde;o entre os governos do Brasil e do Reino Unido, com apoio do Banco Mundial. O Ministério do Meio Ambiente (MMA), por
            meio de sua Secretaria de Mudan&ccedil;as Clim&aacute;ticas e Qualidade Ambiental (SMCQ), &eacute; o respons&aacute;vel pela coordena&ccedil;&atilde;o geral do programa.
            O objetivo da iniciativa &eacute; contribuir para a mitiga&ccedil;&atilde;o da mudan&ccedil;a do clima e para melhoria da gest&atilde;o de recursos naturais no bioma
            Cerrado por meio do aprimoramento de pol&iacute;ticas p&uacute;blicas e de pr&aacute;ticas de produtores rurais.
          </p>
          <p><span>PROJETO INPE</span></p>
          <div id="projeto-inpe-image"></div>
          <p><span>REALIZAÇÃO</span></p>
          <div id="realizacao-image"></div>
          <p style="margin-top: 40px;"><span>Plataforma digital para monitoramento e alerta de fogo na vegeta&ccedil;&atilde;o no Cerrado brasileiro (Banco Mundial TF018566)</span></p>
        </div>
      </div>
    </div>
  </div>
</terrama2-box>

{% endblock %}
