{% extends "base/layout.html" %}

{% set tabActive = "about" %}

{% block title %}

TerraMA² {{ i18n.__('About') }}

{% endblock %}

{% block content %}

<terrama2-box title="i18n.__('About')">
  <div class="row">
    <div class="col-md-12">
      <div style="display: block;" class="box-body">
        <div id="about-dialog">
          <div id="terrama2-about-image"></div>
          <p style="float: right;">Copyright © 2006-2017 INPE</p>
          <div style="clear: both;"></div>
          <p ng-bind="i18n.__('ABOUT-TEXT-1')"></p>
          <p ng-bind="i18n.__('ABOUT-TEXT-2')"></p>
          <p ng-bind="i18n.__('ABOUT-TEXT-3')"></p>
          <hr style="margin-top: 40px;"/>
          <div style="clear: both;"></div>
          <div id="dpi-about-image"></div>
          <div id="inpe-about-image"></div>
          <span style="float: right;">
            <span ng-bind="i18n.__('ABOUT-TEXT-4')"></span><br/>
            <span ng-bind="i18n.__('ABOUT-TEXT-5')"></span><br/>
            <span ng-bind="i18n.__('ABOUT-TEXT-6')"></span>
          </span>
          <div style="clear: both;"></div>
          <hr style="margin-bottom: 40px;"/>
          <div id="programa-cerrado-image"></div>
          <p ng-bind="i18n.__('ABOUT-TEXT-7')"></p>
          <div id="credits-image"></div>
        </div>
      </div>
    </div>
  </div>
</terrama2-box>

{% endblock %}
