{% extends "base/layout.html" %}

{% block title %} TerraMA2 {% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="col-md-12">
        <h2>TODO</h2>
        <h3>Available links</h3>
        <a href="/configuration/static-data">Dados Estáticos</a><br>
        <a href="/configuration/provider?type=static">Cadastro de Provider (Estático)</a><br>
        <a href="/configuration/provider?type=dynamic">Cadastro de Provider (Dinâmico)</a><br>
        <a href="/configuration/provider?type=dynamic">Cadastro de Dados de Ocorrência</a><br>
    </div> <!-- end col md 6 -->
</div> <!-- end col md 12 -->

{% endblock %}