<div class="col-md-12">
  <div class="box box-default {{ boxType }}">
    <div class="box-header with-border">
      <h3 class="box-title">{{ title }}</h3>
      <div class="box-tools pull-right">
        <button type="button"
                class="btn btn-box-tool terrama2-circle-button"
                style="margin-right: 15px;"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ helper }}">
          <i class="fa fa-question"></i>
        </button>

        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i ng-if="!collapsed" class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div style="display: {{ collapsed ? 'none' : 'block' }};" class="box-body">
      <div id="targetTransclude">

      </div>
    </div>
  </div>
</div>
