{% extends "layout.html" %} 

{% block title %} TerraMA² Monitor {% endblock %} 

{% block styles %}

<link rel="stylesheet" type="text/css" href="external/openlayers/ol.css">
<link rel="stylesheet" type="text/css" href="external/TerraMA2WebComponents/TerraMA2WebComponents.min.css">

{% endblock %}
{% block sidebar-list %}

<div id="terrama2-layerexplorer"></div>
<form class="form-inline"> 
    <div class="form-group">
        <input id='wmsUri' class="form-control" type='text'> <button id='addLayers' type='button' class="btn btn-default">Add</button>
    </div>
</form>
{% endblock %}

{% block content %}

<div id="terrama2-map" class="terrama2-map"></div>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="external/openlayers/ol.js"></script>
<script src="external/TerraMA2WebComponents/TerraMA2WebComponents.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://gist.github.com/jlong/2428561.js"></script>
<script>

    TerraMA2WebComponents.LayerExplorer.init();
    TerraMA2WebComponents.MapDisplay.init();

    if (TerraMA2WebComponents.MapDisplay.addLayerGroup("Template", "Template"))
        TerraMA2WebComponents.LayerExplorer.addLayersFromMap("Template", "terrama2-layerexplorer", null, "unsortable", null);
    if (TerraMA2WebComponents.MapDisplay.addLayerGroup("Static", "Static Data"))
        TerraMA2WebComponents.LayerExplorer.addLayersFromMap("Static", "terrama2-layerexplorer", null, "unsortable", null);
    if (TerraMA2WebComponents.MapDisplay.addLayerGroup("Dynamic", "Dynamic Data"))
        TerraMA2WebComponents.LayerExplorer.addLayersFromMap("Dynamic", "terrama2-layerexplorer", null, "unsortable", null);
    if (TerraMA2WebComponents.MapDisplay.addLayerGroup("Analysis", "Analysis"))
        TerraMA2WebComponents.LayerExplorer.addLayersFromMap("Analysis", "terrama2-layerexplorer", null, "unsortable", null);

    var socket = io.connect(':3001');
    socket.emit('request');
    socket.on("layers request", function (data){
        console.log(data);
        for (i in data){
            for (l in data[i].layers){
                var workspace = data[i].workspace;
                var layerName = data[i].layers[l];
                var uriGeoServer = data[i].uriGeoserver;
                var serverType = data[i].serverType;
                var layerId = workspace + ":" + layerName;
                if (TerraMA2WebComponents.MapDisplay.addTileWMSLayer(layerId, layerName, layerName, uriGeoServer, serverType, data[i].type == "Template", false, "terrama2-layerexplorer"))
                    TerraMA2WebComponents.LayerExplorer.addLayersFromMap(layerId, data[i].type, null, "unsortable", null);
            }
        }
    });

    document.getElementById("addLayers").addEventListener("click", addLayer);

    function addLayer() {
        var uri = document.getElementById("wmsUri").value;
        var parser = document.createElement('a');
        parser.href = uri;
        var layerId;
        var layerName;
        var params = parser.search.split('&');
        for (i in params){
            var param = params[i].split('=');
            if (param[0] == 'layers') {
                layerId = param[1];
                layerName = param[1].split(':')[1];
            }
        }
        var geoUrl = parser.protocol + '//' + parser.host + parser.pathname;

        if (TerraMA2WebComponents.MapDisplay.addTileWMSLayer(layerId, layerName, layerName, geoUrl, "geoserver", false, false, "terrama2-layerexplorer"))
            TerraMA2WebComponents.LayerExplorer.addLayersFromMap(layerId, "terrama2-layerexplorer", true, "unsortable", null);
    }

</script>

{% endblock %}