
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/AdminLTE/dist/css/skins/skin-green.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body class="hold-transition skin-green">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo" data-toggle="offcanvas"  full_screen='true'>
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <div class="logo-lg"><img src="/images/terrama2_logo.png" class="img-square" alt="User Image"></div>
        <!-- logo for regular state and mobile devices -->
        <div class="logo-mini"><img src="/images/terrama2_logo.png" class="img-square" alt="User Image"></div>
      </a>
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <div style="text-align:center">
          <span class="imgs"><img src="/images/inpe.png"></span>
          <span class="imgs"><img src="/images/defra.png"></span>
          <span class="imgs"><img src="/images/banco_mundial.png"></span>
          <span class="imgs"><img id="mma" src="/images/mma.png"></span>
          <span class="imgs"><img src="/images/funcate.png"></span>
        </div>
      </nav>

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header">HEADER</li>
          <!-- Optionally, you can add icons to the links -->
          <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
          <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
          <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Link in level 2</a></li>
              <li><a href="#">Link in level 2</a></li>
            </ul>
          </li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <section class="content">

        {% block content %} {% endblock %}

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- Default to the left -->
      <strong>Copyright &copy; 2007 National Institute For Space Research (INPE) - Brazil </strong> All rights reserved.
    </footer>
  </div>
  <!-- ./wrapper -->

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/AdminLTE/dist/js/app.min.js"></script>

  </body>
</html>
