<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/AdminLTE/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {% block styles %}{% endblock %}
    <style>
      .map {
        width: 100%;
      }
    </style>

  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header id="terrama-header" class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <div class="logo-lg"><img src="/images/terrama2_logo2.png" class="img-square" alt="User Image"><b>  TerraMA²</b></div>
          <!-- logo for regular state and mobile devices -->
          <div class="logo-mini"><img src="/images/terrama2_logo2.png" class="img-square" alt="User Image"></div>
        </a>
        <!-- Header Navbar -->
        <nav id="nav" class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" full_screen="true" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div style="text-align:center">
            <span class="imgs"><img src="/images/inpe.png"></span>
            <span class="imgs"><img src="/images/defra.png"></span>
            <span class="imgs"><img src="/images/banco_mundial.png"></span>
            <span class="imgs"><img id="mma" src="/images/mma.png"></span>
            <span class="imgs"><img src="/images/funcate.png"></span>
          </div>
        </nav>
      </header>
      
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">VIEWS</li>
            <!-- Optionally, you can add icons to the links -->
            {% block sidebar-list %} {% endblock %}
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!--
        <div id="mini-toggle" data-toggle="offcanvas">
           <span class="glyphicon glyphicon-menu-left"></span> 
        </div>
        -->
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <div id="content" class="content">
          <div id="show-menu">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" full_screen="true" role="button">
              <span class="sr-only">Toggle navigation</span>
            </a>
          </div>
          {% block content %} {% endblock %}

        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer"></footer>
      <footer class="footer-monitor"></footer>
    </div>
    <script src="/underscore/underscore-min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/AdminLTE/dist/js/app.min.js"></script>
    <script src="/javascripts/app.js"></script>

  </body>
</html>
