<div class="overlay overlay-dcps" ng-show="isChecking.value">
  <i class="fa fa-refresh fa-spin" style="position: fixed !important;"></i>
</div>

<div class="col-md-12">
  <div style="padding-bottom: 50px;">

    <a ui-sref="advanced" class="btn btn-default pull-right" ng-show="isWizard" ng-click="onFormView()"><i class="fa fa-gear" style="margin-right: 5px;"></i>{{ i18n.__('Expert mode') }}</a>
    <a ui-sref="wizard" class="btn btn-default pull-right" ng-show="!isWizard" ng-click="onFormView()"><i class="fa fa-magic" style="margin-right: 5px;"></i>{{ i18n.__('Wizard mode') }}</a>

  </div>
  <!-- alert box -->
  <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="MessageBoxService.reset()" extra=MessageBoxServe.alertBox.extra></terrama2-alert-box2>
</div>

<div class="col-md-12">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">{{ i18n.__('General') }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
      <form name="forms.generalDataForm">
        <div ng-include="'/javascripts/angular/generalData.html'"></div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-12" ng-show="form.length > 0">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">{{ i18n.__('Parameters') }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div style="display: block;" class="box-body">
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-12">
            <!-- schema form -->
            <form name="forms.parametersForm" sf-schema="schema" sf-form="form" sf-model="model" sf-options="options"></form>

            <div class="col-md-2 terrama2-top-field" style="padding-bottom: 40px;">
              <button class="btn btn-default" ng-show="semantics === 'DCP'" ng-disabled="isUpdating" ng-click="addDcp(parametersForm)">{{ i18n.__('Add') }}</button>
              <button class="btn btn-default" ng-show="semantics === 'DCP'" ng-disabled="isUpdating" ng-click="openImportParametersModal()">{{ i18n.__('Import CSV') }}</button>
            </div>

            <terrama2-dcp-importer></terrama2-dcp-importer>
            <div ng-include="'/javascripts/angular/dcpTable.html'"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12" ng-if="custom_format">
  <div id="store-box" class="box box-default box-solid collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">{{ i18n.__('CSV Format') }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div style="display: block;" class="box-body">
      <form name="forms.csvFormatForm">
        <csv-format csv-format-data="csvFormatData"></csv-format>
      </form>
    </div>
  </div>
</div>

<div class="col-md-12" ng-if="isDynamic && form.length > 0">
  <div id="store-box" class="box box-default box-solid collapsed-box">
    <div class="box-header with-border" ng-class="{disabled: advanced.store.disabled}">
      <span ng-if="advanced.store.disabled && advanced.store.optional"
          class="enable-button-click"
          ng-class="terrama2-font-black"
          data-toggle="tooltip" title="Add store configuration"
          ng-click="advanced.store.openForm()">
        <i class="fa fa-plus-circle"></i>
      </span>
      <span ng-if="!advanced.store.disabled && advanced.store.optional"
          class="enable-button-click"
          ng-class="terrama2-font-black"
          data-toggle="tooltip" title="Remove store configuration"
          ng-click="advanced.store.clearForm()">
        <i class="fa fa-minus-circle"></i>
      </span>
      <h3 class="box-title">{{ i18n.__('Store') }}</h3>
      <div class="box-tools pull-right">
        <button id="store-collapse" ng-disabled="advanced.store.disabled" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="col-md-12">

        <terrama2-storager-form ng-if="!advanced.store.disabled" providers-list="providersList" storager="storager" series="dataSeries" filter="filter" prepare-format-to-form="prepareFormatToForm" field-has-error="fieldHasError" forms="forms" on-storager-format-change= "onStoragerFormatChange" model="model" options="storeOptions" schedule="schedule"></terrama2-storager-form>
        
      </div>
    </div>
  </div>
</div>

<div class="col-md-12" ng-if="isDynamic && form.length > 0">
  <div id="filter-box" class="box box-default box-solid collapsed-box">
    <div class="box-header with-border" ng-class="{disabled: advanced.filter.disabled}">
      <span ng-if="advanced.filter.disabled && advanced.filter.optional"
          class="enable-button-click"
          ng-class="terrama2-font-black"
          data-toggle="tooltip" title="Add filter configuration"
          ng-click="advanced.filter.openForm()">
        <i class="fa fa-plus-circle"></i>
      </span>
      <span ng-if="!advanced.filter.disabled && advanced.filter.optional"
          class="enable-button-click"
          ng-class="terrama2-font-black"
          data-toggle="tooltip" title="Remove filter configuration"
          ng-click="advanced.filter.clearForm()">
        <i data-widget="collapse" class="fa fa-minus-circle"></i>
      </span>
      <h3 class="box-title">{{ i18n.__('Filter') }}</h3>
      <div class="box-tools pull-right">
        <button id="filter-collapse" ng-disabled="advanced.filter.disabled" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form name="filterForm">
        <div ng-include="'/javascripts/angular/filter.html'"></div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-12" ng-if="isDynamic && form.length > 0">
  <div id="intersection-box" class="box box-default box-solid collapsed-box">
    <div class="box-header with-border" ng-class="{disabled: advanced.intersection.disabled}">
      <span ng-if="advanced.intersection.disabled && advanced.intersection.optional" 
          class="enable-button-click"
          ng-class="terrama2-font-black"
          data-toggle="tooltip" title="{{advanced.intersection.message}}"
          ng-click="advanced.intersection.openForm()">
        <i class="fa fa-plus-circle"></i>
      </span>
      <span ng-if="!advanced.intersection.disabled && advanced.intersection.optional" 
          class="enable-button-click"
          ng-class="terrama2-font-black"
          data-toggle="tooltip" title="Remove intersection configuration"
          ng-click="advanced.intersection.clearForm()">
        <i class="fa fa-minus-circle"></i>
      </span>
      <h3 class="box-title">{{ i18n.__('Intersection') }}</h3>
      <div class="box-tools pull-right">
        <button id="intersection-collapse" ng-disabled="advanced.intersection.disabled" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div ng-include="'/javascripts/angular/data-series/templates/intersection.html'"></div>
    </div>
  </div>
</div>

<div class="box-footer">
    <div class="btn-group pull-right" style="margin-left: 10px;" ng-show="isDynamic && storager.format">
      <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only"></span>
      </button>
      <ul class="dropdown-menu terrama2-button-dropdown">
        <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-primary pull-right" style="margin-left: 10px;" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
    <a href="/configuration/dynamic/dataseries/" class="btn btn-primary pull-right" style="margin-left: 10px;">{{ i18n.__('Cancel') }}</a>
</div>


<!-- List with database tables -->
<datalist id='databaseTableList'>
    <option ng-repeat="table in tableList" value="{{table}}">
</datalist>
