<div class="col-md-12 terrama2-nopadding-box" ng-show="(semantics === 'DCP') && isDynamic" style="margin-bottom: 30px;">
  <div class="col-md-12">
    <div class="box-body table-responsive no-padding">
      <table class="dcpTable table table-striped" style="width: 100%;">
        <thead>
          <tr>
            <th ng-repeat="field in tableFieldsDataTable track by $index">{{ capitalizeIt(field) }}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<!--

<div class="col-md-12 terrama2-nopadding-box" ng-show="(semantics === 'DCP') && isDynamic" style="margin-bottom: 30px;">
  <div class="col-md-12">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover" >
        <tbody style="overflow-y: auto; height: 150px;">
        <!-- header-->
        <!--<tr>
          <th>ID</th>
          <th ng-repeat="field in tableFields track by $index">{{ capitalizeIt(field) }}</th>
          <th></th>
        </tr>

        <tr ng-repeat="dcp in dcps track by $index">
          <td>{{ $index + 1 }}</td>
          <td ng-repeat="field in tableFields">
            <!--{{ dcp }}-->
            <!--<span ng-if="!isBoolean(dcp[field])" editable-text="dcp[field]">
              {{ dcp[field]}}
            </span>

            <span ng-if="isBoolean(dcp[field])">
               <!--boolean types -->
               <!--<input type="checkbox" ng-model="dcp[field]">
              <!--<span class="label" ng-class="{'label-success': dcp[field], 'label-danger': !dcp[field]}" ng-if="isBoolean(dcp[field])">
                <i class="glyphicon" ng-class="{'glyphicon-ok': $parent.dcp[field], 'glyphicon-remove': !$parent.dcp[field]}"></i>
              </span>-->
            <!--</span>
          </td>
          <td class="pull-cell-left">
            <button class="btn btn-danger" ng-click="removePcd(dcp)">{{ i18n.__("Remove") }}</button>
          </td>
        </tr>
        <tr ng-show="dcps.length === 0">
          <td colspan="{{ tableFields.length + 1 }}">
            {{ i18n.__("No dcp available. Please add at least one dcp.") }}
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- /.box-body -->
  <!--</div>
</div>

-->