<div class="col-md-12 terrama2-nopadding-box" ng-show="(semantics === 'DCP') && isDynamic" style="margin-bottom: 30px;">
  <div class="col-md-12">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover" >
        <tbody style="overflow-y: auto; height: 150px;">
        <!-- header-->
        <tr>
          <th>ID</th>
          <th ng-repeat="field in tableFields track by $index">{{ capitalizeIt(field) }}</th>
          <th></th>
        </tr>

        <tr ng-repeat="dcp in dcps track by $index">
          <td>{{ $index + 1 }}</td>
          <td ng-repeat="field in tableFields">
            <!-- boolean types -->
              <span class="label" ng-class="{'label-success': dcp[field], 'label-danger': !dcp[field]}" ng-if="isBoolean(dcp[field])">
                <i class="glyphicon" ng-class="{'glyphicon-ok': $parent.dcp[field], 'glyphicon-remove': !$parent.dcp[field]}"></i>
              </span>
            <!--{{ dcp }}-->
              <span ng-if="!isBoolean(dcp[field])" editable-text="dcp[field]">
                {{ dcp[field]}}
              </span>
          </td>
          <td class="pull-cell-left">
            <button class="btn btn-danger" ng-click="removePcd(dcp)">{{ i18n.__("Remove") }}</button>
          </td>
        </tr>
        <tr ng-show="dcps.length === 0">
          <td colspan="{{ tableFields.length + 1 }}">
            {{ i18n.__("No dcp available. Please add at least one dcp.") }}
          </td>
        </tr>
        </tbody>
      </table>
    </div><!-- /.box-body -->
  </div>
</div>
<div id="importParametersModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Select the delimiter character of the CSV and choose if the file has a header</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>{{ i18n.__("Delimiter character") }}</label>
          <select class="form-control" name="delimiterCharacter" ng-model="csvImport.delimiterCharacter">
            <option value=";">Semicolon (;)</option>
            <option value=",">Comma (,)</option>
          </select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input name="hasHeader" ng-model="csvImport.hasHeader" type="checkbox"> <span style="font-weight: 900;">{{ i18n.__("The first line is a header?") }}</span>
            </label>
          </div>
        </div>
        <hr style="border: 1px solid #eee !important;"/>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="import()">Import</button>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>
<div id="importDCPItemsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Select the fields</h4>
      </div>
      <div class="modal-body">
        <div id="toa5">
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Folder") }}:</label>
            <select class="form-control" name="folderToa5" ng-model="importationFields.toa5.folder" ng-change="extra.lala()">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.folder = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Default") }}:</label>
            <input class="form-control" id="folderToa5Default" name="folderToa5Default" ng-model="importationFields.toa5.folderDefault" placeholder="{{ i18n.__('Default') }}" type="text">
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Mask") }}:</label>
            <select class="form-control" name="maskToa5" ng-model="importationFields.toa5.mask">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.mask = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Suffix") }}:</label>
            <input class="form-control" id="maskToa5Suffix" name="maskToa5Suffix" ng-model="importationFields.toa5.maskSuffix" placeholder="{{ i18n.__('Suffix') }}" type="text">
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Alias") }}:</label>
            <select class="form-control" name="aliasToa5" ng-model="importationFields.toa5.alias">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.alias = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Default") }}:</label>
            <input class="form-control" id="aliasToa5Default" name="aliasToa5Default" ng-model="importationFields.toa5.aliasDefault" placeholder="{{ i18n.__('Default') }}" type="text">
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Timezone") }}:</label>
            <select class="form-control" name="timezoneToa5" ng-model="importationFields.toa5.timezone">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.timezone = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Default") }}:</label>
            <select class="form-control" id="timezoneToa5Default" name="timezoneToa5Default" ng-model="importationFields.toa5.timezoneDefault">
              <option label="-12" value="string:-12">-12</option>
              <option label="-11" value="string:-11">-11</option>
              <option label="-10" value="string:-10">-10</option>
              <option label="-9" value="string:-9">-9</option>
              <option label="-8" value="string:-8">-8</option>
              <option label="-7" value="string:-7">-7</option>
              <option label="-6" value="string:-6">-6</option>
              <option label="-5" value="string:-5">-5</option>
              <option label="-4" value="string:-4">-4</option>
              <option label="-3" value="string:-3">-3</option>
              <option label="-2" value="string:-2">-2</option>
              <option label="-1" value="string:-1">-1</option>
              <option label="0" value="string:0">0</option>
              <option label="1" value="string:1">1</option>
              <option label="2" value="string:2">2</option>
              <option label="3" value="string:3">3</option>
              <option label="4" value="string:4">4</option>
              <option label="5" value="string:5">5</option>
              <option label="6" value="string:6">6</option>
              <option label="7" value="string:7">7</option>
              <option label="8" value="string:8">8</option>
              <option label="9" value="string:9">9</option>
              <option label="10" value="string:10">10</option>
              <option label="11" value="string:11">11</option>
              <option label="12" value="string:12">12</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Latitude") }}:</label>
            <select class="form-control" name="latitudeToa5" ng-model="importationFields.toa5.latitude">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.latitude = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Longitude") }}:</label>
            <select class="form-control" name="longitudeToa5" ng-model="importationFields.toa5.longitude">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.longitude = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("SRID") }}:</label>
            <select class="form-control" name="sridToa5" ng-model="importationFields.toa5.srid">
              <option>{{ i18n.__("Select a column") }}</option>
              <option ng-repeat="column in csvImport.finalData.header" ng-init="importationFields.toa5.srid = csvImport.finalData.header[0]" value="{{ column }}">{{ column }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>{{ i18n.__("Default") }}:</label>
            <input class="form-control" id="sridToa5Default" name="sridToa5Default" ng-model="importationFields.toa5.sridDefault" placeholder="{{ i18n.__('Default') }}" type="text">
          </div>
        </div>
        <hr style="border: 1px solid #eee !important;"/>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="extra.finalizeImportation()">Import</button>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
</div>