<div class="row">

  <div class="col-md-12">
    <div class="col-md-7">
      <div class="form-group" terrama2-show-errors>
        <label for="name">{{ i18n.__('Name') }}:</label>
        <input class="form-control" id="name" name="name" ng-model="dataSeries.name" placeholder="{{ i18n.__('Data Series Name') }}" type="text" required>

        <label class="help-block text-danger" ng-show="forms.generalDataForm.name.$dirty && forms.generalDataForm.name.$error.required">{{ i18n.__("Data series name is required") }}</label>
      </div>
    </div>
    <!-- /.col md 7 -->

    <div class="col-md-5">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Format') }}:</label>
        <select class="form-control"
                name="semantics"
                ng-model="dataSeries.semantics"
                ng-options="i18n.__(semantics.name) for semantics in dataSeriesSemantics | filter: { data_series_type_name: '!ANALYSIS_MONITORED_OBJECT' }"
                ng-disabled="isUpdating"
                ng-change="onDataSemanticsChange();" required>
        </select>

        <label class="help-block text-danger" ng-show="forms.generalDataForm.semantics.$dirty && forms.generalDataForm.semantics.$error.required">{{ i18n.__("Format is required") }}</label>
      </div>
    </div>
  </div>
  <!-- ./col-md-12 -->

  <div class="col-md-12">
    <div class="col-md-12">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Description') }}:</label>
        <textarea class="form-control" name="description" ng-model="dataSeries.description" rows="3" placeholder="{{ i18n.__('Description') }}"></textarea>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-7">
      <div class="form-group" terrama2-show-errors>
        <label>{{ i18n.__('Data Server') }}:</label>
        <select class="form-control"
                name="data_provider_id"
                ng-model="dataSeries.data_provider_id"
                ng-change="changeDataProvider()" required>
          <option ng-repeat="provider in dataProviders track by $index" value="{{ provider.id }}">{{ provider.name }}</option>
        </select>

        <label class="help-block text-danger" ng-show="forms.generalDataForm.data_provider_id.$dirty && forms.generalDataForm.data_provider_id.$error.required">{{ i18n.__("Data Server is required") }}</label>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <div class="checkbox">
          <label style="font-weight: 700; margin-top:19px;">
            <input name="active" ng-model="dataSeries.active" type="checkbox"> {{ i18n.__("Active") }}
          </label>
        </div>
      </div>
      <!-- /.form-group -->
    </div>
  </div>
  <!-- ./col-md-12 -->

</div>
<!-- /.row -->
