<div class="row">

  <div class="col-md-7" ng-class="params.kind.toLowerCase() === 'pcd' ? col-md-7 : params.kind.toLowerCase() === 'dataset' ? col-md-9 : col-md-12">
    <div class="form-group">
      <label for="name">{[ i18n.__('Name') ]}:</label>
      <input class="form-control" id="name" ng-model="dataSet.name" placeholder="{[ i18n.__('Data Set Name') ]}" type="text">
    </div>
  </div>
  <!-- /.col md 7 -->

  <div class="col-md-3" ng-show="params.state.toLowerCase() === 'static'">
    <div class="form-group">
      <label>{[ i18n.__('File') ]}:</label>
      <div class="input-group">

        <input type="text" class="form-control" id="fileInputField" readonly>
        <input type="file" class="form-control" id="fileInput" style="display:none;">

        <span class="input-group-btn">
          <button class="btn btn-default" id="staticFile" type="button">{[ i18n.__('Select') ]}</button>
        </span>

      </div><!-- /input-group -->
    </div>
  </div>

  <div class="col-md-2">
    <terrama2-projection url="{[ params.projection.url ]}"></terrama2-projection>
  </div>

  <div class="col-md-3" ng-show="params.kind.toLowerCase() === 'dataset'">
    <div class="form-group">
      <label>{[ i18n.__('Kind') ]}</label>
      <select class="form-control" ng-change="onChangeDataSetKind()" ng-model="dataSet.kind">
        <option>Occurrence</option>
        <option>GRID</option>
        <option>PCD</option>
      </select>
    </div>
  </div>
  <!-- /.col md 3 -->

  <!--<terrama2-collector-rule ng-show="params.state.toLowerCase() !== 'static'"></terrama2-collector-rule>-->

  <div class="col-md-2" ng-show="params.state.toLowerCase() !== 'static'">
    <div class="form-group">
      <div class="checkbox">
        <label class="terrama2-checkbox-align">
          <input type="checkbox" ng-model="dataSet.active" ng-init="true" checked> {[ i18n.__('Active') ]}
        </label>
      </div>
    </div>
  </div>
  <!-- /. col md 4 -->

</div>
<!-- /.row -->