
<div class="row">
  <div class="col-md-12">
    <form sf-schema="schema" sf-form="form" sf-model="model" sf-options="options"></form>
  </div>

  <div class="col-md-12 terrama2-nopadding-box" ng-show="(semantics === 'pcd' || semantics === 'dcp') && isDynamic">

    <div class="col-md-12">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover terrama2-header-fixed" id="terrama2-pcd-table">
          <thead>
          <tr>
            <th>{{ i18n.__('Mask') }}</th>
            <th>{{ i18n.__('Latitude') }}</th>
            <th>{{ i18n.__('Longitude') }}</th>
            <th>{{ i18n.__('Active') }}</th>
            <th>{{ i18n.__('Projection') }}</th>
            <th>{{ i18n.__('Timezone') }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="pcd in pcds track by $index">
            <td>{{ pcd.mask }}</td>
            <td>{{ pcd.latitude }}</td>
            <td>{{ pcd.longitude }}</td>
            <td>
                <span class="label" ng-class="{'label-success': pcd.active, 'label-danger': !pcd.active}">
                  <i class="glyphicon" ng-class="{'glyphicon-ok': pcd.active, 'glyphicon-remove': !pcd.active}"></i>
                </span>
            </td>
            <td>{{ pcd.projection }}</td>
            <td>
              {{ pcd.timezone }}
              <button class="btn btn-danger" ng-click="removePcd(pcd)">{{ i18n.__("Remove") }}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div>
  </div>

</div>
<!-- /.row -->