<div class="overlay overlay-dcps" ng-show="isChecking.value">
  <i class="fa fa-refresh fa-spin" style="position: fixed !important;"></i>
</div>

<div class="row">
  <div class="col-md-12">
    <div style="padding-bottom: 50px;padding-right: 15px;">
      <a ui-sref="advanced" class="btn btn-default pull-right" ng-show="isWizard" ng-click="onFormView()"><i class="fa fa-gear" style="margin-right: 3px;"></i>{{ i18n.__('Expert mode') }}</a>
      <a ui-sref="wizard" class="btn btn-default pull-right" ng-show="!isWizard" ng-click="onFormView()"><i class="fa fa-magic" style="margin-right: 3px;"></i>{{ i18n.__('Wizard mode') }}</a>
    </div>
    <!-- alert box -->
    <terrama2-alert-box2 handler="MessageBoxService.alertBox" close="MessageBoxService.reset()" extra=MessageBoxServe.alertBox.extra></terrama2-alert-box2>
  </div>

  <wizard id="wizard" template="">
    <wz-step wz-title="{{ i18n.__('General') }}" canexit="isFirstStepValid" wz-data="wizard.general">
      <div class="col-md-12">
        <form name="forms.generalDataForm">
          <div id="includeGeneralData" ng-include=""></div>
        </form>
      </div>

      <div class="col-md-12" style="margin-top: 30px; padding-left: 25px; padding-right: 25px;">
        <hr />
        <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
        <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>
        <div class="pull-right">
          <button class="btn btn-primary" type="submit" wz-next>{{ i18n.__('Next') }}</button>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="!isDynamic" data-ng-click="save(false);"></button>
          <div class="btn-group pull-right" style="margin-left: 3px;" ng-show="isDynamic && storager.format">
            <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu terrama2-button-dropdown">
              <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
        </div>
      </div>
    </wz-step>

    <wz-step wz-title="{{ i18n.__('Parameters') }}" canexit="isSecondStepValid" wz-data="wizard.parameters">
      <div ng-class="{ 'col-md-12' : !$ctrl.isFilteredTable(), 'col-md-8': $ctrl.isFilteredTable() }">

        <!-- schema form -->
        <form name="forms.parametersForm" sf-schema="schema" sf-form="form" sf-model="model" sf-options="options"></form>

        <div ng-if="isDCP()">
          <div class="col-md-3 terrama2-top-field">
            <button class="btn btn-default" ng-show="!isCemadenType()" ng-click="addDcp(parametersForm)">{{ i18n.__('Add') }}</button>
            <button class="btn btn-default" ng-click="openImportParametersModal()">{{ i18n.__('Import') }}</button>
          </div>

          <terrama2-dcp-importer semantics="dataSeries.semantics"></terrama2-dcp-importer>
          <div id="includeDcpTable" ng-include=""></div>
        </div>

      </div>

      <div class="col-md-4" ng-show="$ctrl.isFilteredTable()">
        <terrama2-map id="previewMap" hide></terrama2-map>
      </div>

      <div class="col-md-12" ng-if="!isDynamic && (semanticsCode === 'STATIC_DATA-postgis' || (semanticsCode === 'STATIC_DATA-ogr' && isDataProviderFolder()))">
        <div class="col-md-12">
          <terrama2-shapefile-importer></terrama2-shapefile-importer>
        </div>
      </div>
      <div class="col-md-12" ng-if="!isDynamic && (semanticsCode === 'GRID-static_gdal' && isDataProviderFolder())">
        <div class="col-md-12">
          <terrama2-geotiff-importer></terrama2-geotiff-importer>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 30px; padding-left: 25px; padding-right: 25px;">
        <hr />
        <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
        <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>

        <div class="pull-right">
          <button class="btn btn-primary" ng-bind="i18n.__('Validate')" ng-if="$ctrl.isFilteredTable() || semanticsCode === 'STATIC_DATA-VIEW-postgis'" data-ng-click="onValidateView()"></button>

          <button class="btn btn-primary" type="submit" wz-previous>{{ i18n.__('Previous') }}</button>
          <button class="btn btn-primary" type="submit" ng-show="isDynamic && (!wizard.store.disabled || !wizard.filter.disabled || !wizard.intersection.disabled || !wizard.csvFormatForm.disabled || !wizard.parameters)" ng-click="goToValidNextStep('parametersForm');" wz-next>{{ i18n.__('Next') }}</button>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="!isDynamic" data-ng-click="save(false);"></button>
          <div class="btn-group pull-right" style="margin-left: 3px;" ng-show="isDynamic && storager.format">
            <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu terrama2-button-dropdown">
              <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
        </div>
      </div>
    </wz-step>

    <wz-step wz-title="{{ i18n.__('Attributes') }}" canexit="isSecondStepValid" wz-data="wizard.attributes" wz-disabled="{{isDynamic}}" canenter="!wizard.attributes.disabled">
        <form name="forms.attributesForm"></form>
          <attributes model="model.attributes" dataserie="dataSeries" provider="dataSeries.data_provider_id" table-name="model.table_name" ng-if="model.table_name!==undefined && dataSeries.data_provider_id!==undefined"></attributes>
          <div class="col-md-12">
              <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
              <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>
              <div class="pull-right">
                <button class="btn btn-primary" type="submit" wz-previous>{{ i18n.__('Previous') }}</button>
                <button type="button" class="btn btn-primary" ng-show="!isDynamic" data-ng-click="save(false);">{{ i18n.__('Save') }}</button>
              </div>
          </div>
        </form>
    </wz-step>

    <wz-step wz-title="{{ i18n.__('CSV Format') }}" canexit="validateSteps" wz-disabled="{{!custom_format}}" wz-data="wizard.csvFormat">
      <div class="col-md-12">
        <form name="forms.csvFormatForm">
          <csv-format ng-if="csvFormatData.fields"
                      csv-format-data="csvFormatData"
                      semantics="semantics"
                      on-item-added="detectChanges(item)"
                      on-item-removed="detectChanges(item)"
                      on-item-changed="detectChanges(item)"></csv-format>
        </form>
      </div>

      <div class="col-md-12" style="margin-top: 30px; padding-left: 25px; padding-right: 25px;">
        <hr />
        <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
        <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>
        <div class="pull-right">
          <button class="btn btn-primary" type="submit" ng-click="goToValidPreviousStep('filterForm');" wz-previous>{{ i18n.__('Previous') }}</button>
          <button class="btn btn-primary" type="submit" ng-show="isDynamic && (!wizard.store.disabled || !wizard.filter.disabled || !wizard.intersection.disabled)" ng-click="goToValidNextStep('storeForm');" wz-next>{{ i18n.__('Next') }}</button>
          <div class="btn-group pull-right" style="margin-left: 3px;" ng-show="isDynamic && storager.format">
            <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu terrama2-button-dropdown">
              <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
        </div>
      </div>
    </wz-step>

    <wz-step wz-title="{{ i18n.__('Store') }}" canexit="validateSteps" wz-disabled="{{ !isDynamic }}" wz-data="wizard.store" canenter="!wizard.store.disabled">
      <div class="col-md-12">

        <terrama2-storager-form ng-if="!wizard.store.disabled" providers-list="providersList" storager="storager" series="dataSeries" filter="filter" prepare-format-to-form="prepareFormatToForm" field-has-error="fieldHasError" validate-srid="validateSrid" save-storager-data="saveStoragerData" forms="forms" on-storager-format-change= "onStoragerFormatChange" model="model" options="storeOptions" is-checking="isChecking" schedule="schedule"></terrama2-storager-form>

      </div>
      <div class="col-md-12" style="margin-top: 30px; padding-left: 25px; padding-right: 25px;">
        <hr />
        <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
        <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>
        <div class="pull-right">
          <button class="btn btn-primary" type="submit" wz-previous>{{ i18n.__('Previous') }}</button>
          <button class="btn btn-primary" type="submit" ng-show="!wizard.filter.disabled || !wizard.intersection.disabled" ng-click="goToValidNextStep('storagerForm');" wz-next>{{ i18n.__('Next') }}</button>
          <div class="btn-group pull-right" style="margin-left: 3px;" ng-show="isDynamic && storager.format">
            <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu terrama2-button-dropdown">
              <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
        </div>
      </div>
    </wz-step>

    <wz-step wz-title="{{ i18n.__('Filters') }}" canexit="validateSteps" wz-disabled="{{ !isDynamic }}" wz-data="wizard.filter" canenter="!wizard.filter.disabled">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12" style="padding-top: 20px">
            <terrama2-box title="i18n.__('Date (local time)')" css="cssBoxSolid">
              <terrama2-filter-datetime-picker before-datetime="filter.date.beforeDate" after-datetime="filter.date.afterDate"></terrama2-filter-datetime-picker>
            </terrama2-box>

            <terrama2-box title="i18n.__('Area')" css="cssBoxSolid">
              <div class="col-md-8 terrama2-nopadding-box">
                <p></p>
                <div class='col-md-12'>
                  <div class="form-group">
                    <label>{{ i18n.__('Select the filter area type') }}:</label>
                    <select class="form-control"
                            id="filterAreaCombobox"
                            name="filterAreaType"
                            ng-model="filter.filterArea"
                            ng-change="onFilterRegion();"
                            ng-options="v.value as v.name for (k, v) in filterTypes">
                    </select>
                  </div>
                </div>

                <div class="col-md-12 terrama2-nopadding-box" ng-if="filter.filterArea == filterTypes.AREA.value">
                  <terrama2-bounded-box ng-model="filter.area" is-required="filter.filterArea == filterTypes.AREA.value">
                  </terrama2-bounded-box>
                </div>

                <div class="col-md-12" ng-if="filter.filterArea == filterTypes.STATIC_DATA.value">
                  <form name="staticDataSeriesForm">
                    <div class="terrama2-nopadding-box col-md-6 form-group" terrama2-show-errors>
                      <label>{{ i18n.__('Data Series') }}:</label>
                      <select class="form-control"
                              id="filterStaticDataSeries"
                              name="dataSeriesId"
                              ng-model="filter.data_series_id"
                              ng-required="filter.filterArea == filterTypes.STATIC_DATA.value"
                              ng-options="v.id as v.name for (k, v) in staticDataSeriesList">
                      </select>
                      <span class='help-block' ng-show='staticDataSeriesForm.dataSeriesId.$dirty && staticDataSeriesForm.dataSeriesId.$error.required'>
                        {{ i18n.__('Data series is required') }}
                      </span>
                    </div>
                    <div class="col-md-6" ng-if="dataSeries.semantics.data_series_type_name =='GRID' ">
                      <div class="form-group">
                        <div class="checkbox" style="margin-left: 20px; margin-top:30px;">
                          <span style="font-weight: 700;">
                            <input type="checkbox" id="crop-raster" name="crop_raster" ng-model="filter.area.crop_raster"> {{ i18n.__('Crop raster') }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-4">
                <terrama2-map id="previewMap"></terrama2-map>
              </div>
            </terrama2-box>
          </div> <!-- ./col-md-12 -->
        </div>
        <!-- ./row -->

      </div>
      <div class="col-md-12" style="margin-top: 30px; padding-left: 25px; padding-right: 25px;">
        <hr />
        <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
        <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>
        <div class="pull-right">
          <button class="btn btn-primary" type="submit" ng-click="goToValidPreviousStep('filterForm');" wz-previous>{{ i18n.__('Previous') }}</button>
          <button class="btn btn-primary" type="submit" ng-show="isDynamic && semantics !== 'GRID' && !wizard.intersection.disabled" ng-click="goToValidNextStep('filterForm');" wz-next>{{ i18n.__('Next') }}</button>
          <div class="btn-group pull-right" style="margin-left: 3px;" ng-show="isDynamic && storager.format">
            <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu terrama2-button-dropdown">
              <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
        </div>
      </div>
    </wz-step>

    <wz-step wz-title="{{ i18n.__('Intersection') }}" canexit="validateSteps" wz-disabled="{{ !isDynamic || semantics === 'GRID' }}" wz-data="wizard.intersection" canenter="!wizard.intersection.disabled">
      <div class="col-md-12">
        <div id="includeIntersection" ng-include="">
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 30px; padding-left: 25px; padding-right: 25px;">
        <hr />
        <a href="" class="btn btn-primary pull-left cancel-dynamic" ng-show="isDynamic">{{ i18n.__('Cancel') }}</a>
        <a href="" class="btn btn-primary pull-left cancel-static" ng-show="!isDynamic">{{ i18n.__('Cancel') }}</a>
        <div class="pull-right">
          <button class="btn btn-primary" type="submit" ng-click="goToValidPreviousStep('intersectionForm');" wz-previous>{{ i18n.__('Previous') }}</button>
          <div class="btn-group pull-right" style="margin-left: 3px;" ng-show="isDynamic && storager.format">
            <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save and Run')" data-ng-click="save(true);"></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu terrama2-button-dropdown">
              <li><a href="javascript::void();" data-ng-click="save(false);" ng-bind="i18n.__('Save')"></a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-bind="i18n.__('Save')" ng-show="isDynamic && !storager.format" data-ng-click="save(false);"></button>
        </div>
      </div>
    </wz-step>

  </wizard>

  <script>
    var templatePath = BASE_URL + "dist/templates/templates/terrama2-wizard.html";
    var includeDcpTable = "'" + BASE_URL + "dist/templates/dcpTable.html'";
    var includeIntersection = "'" + BASE_URL + "dist/templates/data-series/templates/intersection.html'";
    var includeFilter = "'" + BASE_URL + "dist/templates/filter.html'";
    var includeGeneralData = "'" + BASE_URL + "dist/templates/generalData.html'";

    var cancelDynamic = BASE_URL + "configuration/dynamic/dataseries/";
    var cancelStatic = BASE_URL + "configuration/static/dataseries";

    $("#wizard").attr("template", templatePath);
    $("#includeDcpTable").attr("ng-include", includeDcpTable);
    $("#includeIntersection").attr("ng-include", includeIntersection);
    // $("#includeFilter").attr("ng-include", includeFilter);
    $("#includeGeneralData").attr("ng-include", includeGeneralData);

    $(".cancel-dynamic").attr("href", cancelDynamic);
    $(".cancel-static").attr("href", cancelStatic);
  </script>

</div>

<!-- List with database tables -->
<datalist id='databaseTableList'>
    <option ng-repeat="table in tableList" value="{{table}}">
</datalist>
<!-- List with database table columns-->
<datalist id='tableParamsColumnsList'>
    <option ng-repeat="paramsColumn in paramsColumnsList" value="{{paramsColumn}}">
</datalist>
<!-- /.row -->